[2021-05-18 18:40] SoneThaya opened #291 "How to add a Loader using onUserMedia?"
I am trying to implement a loading spinner while the webcam is turning on. I used a ternary operator to check if showLoader is true. It works but it appears the webcam is turning on and off four times. I believe it is because I am using the Webcam component two different times. Is there a better way I could do this to add a loading spinner before the webcam is on? thanks in advance.

[code]

[2021-05-20 08:00] tittodominic5 commented on #290
@mozmorris Please see the code.
<Orientation orientation="landscape" alwaysRender={false}>
          {/* (!isIOS || isMobileSafari) land-scape */}
          <CustomView condition={!isIOS || isMobileSafari}>
            <div className={"camera-view camera-view-offer"}>
              <div className="d-flex justify-content-between">
                <div className="camera-left p-3 d-flex">

[2021-05-20 09:38] mozmorris commented on #290
@tittodominic5 is there anyway you could make this into a CodeSandbox or CodePen? Or do you have a dev/qa environment setup somewhere?

There's quite a lot going on in this code - I'd like to try to isolate the issue.

And does the demo (https://codepen.io/mozmorris/pen/JLZdoP) also have the same issue?

[2021-05-20 11:03] pawan-khade opened #292 "Webcam not shutting down after component unmounted."
I have used component in my project. When this component is unmounted web cam light in laptop remains on. following is my code.

function  WebCamCapture (props)
 {
    const webcamRef                         = React.useRef(null);
    const [imgSrc, setimgSrc]               = useState(null);
    const videoConstraints                  = {facingMode: "user"};
    let history

[2021-05-20 11:08] pawan-khade commented on #292
This issue is specifically happening in chrome, chromium, microsoft edge. No problem with mozilla firefox and mozilla family web browsers.

[2021-05-20 12:43] mozmorris commented on #290
Yes, the demo works here on mobile Firefox too - I suspect then that this is something in your app causing the issue.

Have you tried removing all the logic and other components and simply rendering the Webcam component?

[2021-05-20 13:48] tittodominic5 commented on #290
Will check that and update that here. The reason i posted the issue was it was fine in chromium based browsers.

[2021-05-20 14:19] mozmorris commented on #292
Thanks for posting this @pawan-khade. Could you create a Sandbox or a CodePen so I can look closer at your issue?

Could you try this example: https://codepen.io/mozmorris/pen/pZVedZ

[2021-05-20 14:28] mozmorris commented on #291
As a basic idea: https://codepen.io/mozmorris/pen/poeRNWb?editors=0010

[2021-05-20 14:34] SoneThaya commented on #291
Thank you!

[2021-05-20 14:46] #291 closed

[2021-05-23 21:01] oriasante commented on #292
Hi! I'm having the same error. In my case, I have the webcam component in a modal, and when I close the modal, the camera is still active because I see that the light is still on. Webcam becomes inactive only when I close the window.

I don't have anything defined more than the common use of the webcam component, something like this:

`<Webcam imageSmoothing={true} audio={true} ref={webcamRef} />`

[2021-05-23 21:30] oriasante commented on #292
Never mind! Turns out that I wasn't unmounting my modal after all. Thanks anyway!

[2021-05-25 12:03] ismaserrano opened #294 "Changing deviceId on FF or Safari not reprompt for device permissions"
Changing deviceId on videoConstraints not fire for permissions request on Firefox or Safari.

[2021-05-25 15:30] mozmorris commented on #294
@ismaserrano thanks for posting this issue. I have a fix for this, will update once I've pushed.

[2021-05-25 15:44] mozmorris commented on #244
@keithpickering thanks to the help of @BrendonSled there's a new version published under the `next` tag and a CodePen using it here: https://codepen.io/mozmorris/pen/vYxZgrP

Could you see if this solves the problem?

[2021-05-25 15:45] mozmorris commented on #290
@tittodominic5 did you manage to solve the issue?

[2021-05-25 20:51] mozmorris commented on #244
Now released in `5.2.4`

[2021-05-26 05:47] #288 closed

[2021-05-26 05:50] mozmorris commented on #284
Closing in favour of #244

[2021-05-26 05:50] #284 closed

[2021-06-02 07:54] Nitzahon opened #295 "Is it possible to disable video and leave only audio?"
I'm using the webcam to record users talking a survey.  A new use case has arisen where certain people may wish to only be recorded in audio.  I know this seems an odd question to ask for a webcam component, but is there any way to only ask for audio when trying to get user media?  is there perhaps a recommended Mic-only component that I can switch to which uses similar controls to the webcam? som

[2021-06-02 09:30] SFoley1 opened #296 "specific camera working on firefox and not chrome"
I have a specific usb camera connected, it works on firefox in codepen but not in google chrome.

It is the correct version of chrome as per the can I use page.

My integrated webcam works fine on firefox and chrome, but my custom camera works only on firefox.
The camera I am using is: ToupCam HDMI multi output camera,
http://www.touptek.com/product/showproduct.php?lang=en&id=272

[2021-06-07 13:40] mozmorris commented on #296
@SFoley1 someone report a similar issue a while back. It turned out to be an issue with the process being used by one browser and so a second browser couldn't use it.

[2021-06-07 13:42] mozmorris commented on #295
@Nitzahon for such a use case I would suggest rolling your own custom code. react-webcam really is pretty simple once you strip away the backwards compatibility code.

[2021-06-07 16:08] mateomotriz opened #297 "Avoid asking permissions automatically"
Hallo, I've created a simple login screen, and If the user is correctly authenticated goes directly to one simple page where this nice react-webcam is implemented;

the thing is that the camera permissions are asked when I open the website (in the login page), how could I disable the automatic permissions prompt, and try to ask for them manually if the user is correctly authenticated ¿?

[2021-06-07 17:36] mozmorris commented on #297
@mateomotriz it sounds like you are rendering the component even though the user isn't logged in.

You need to add some logic to only render the component once the user is logged in.

[code]

[2021-06-07 17:37] #295 closed

[2021-06-07 17:37] #297 closed

[2021-06-08 08:55] mateomotriz commented on #297
you're completely right, thanks a lot for the answer :)

[2021-06-08 15:56] #290 closed

[2021-06-08 15:56] #246 closed

[2021-06-08 15:59] mozmorris commented on #252
@jomadjambe sorry for the slow response. I don't suppose you are using Chrome on Mobile?

[2021-06-08 16:00] #252 closed

[2021-06-18 15:43] sanamumtaz opened #298 "Return 'access blocked' on getUserMedia"
Hi, I want to show a popup to let users know something like "The access to microphone/camera has been blocked", so that they can allow access manually. Right now, react-webcam doesn't return any relevant error. Can you help me out in this implementation?

[2021-06-18 15:52] sanamumtaz commented on #298
Implemented using the onUserMediaError

[2021-06-18 15:52] #298 closed

[2021-06-29 17:43] jacob-duong opened #299 "Video size not same as setting in mobile safari (portrait)"
The video size on Mobile Safari is not provided as expected:
I define the size: 240x300 but safari provided: 240x195 (portrait)

https://codepen.io/tuduong/pen/xxqNwXa

`<Webcam
                audio={true}
                width={240}
                height={300}
                forceScreenshotSourceSize={true}
                id="webcam"
                ref={webcamRef}
                onUserMedia

[2021-07-01 11:22] sanamumtaz opened #300 "Camera view distorts while switching between rear/front-view when mirrored conditional"
I am implementing react-webcam for mobile. I have a button to toggle `facingMode: "user" or "environment"`. But I have also provided `mirrored={facingMode==="user"}` prop to Webcam in order to mirror the view when using selfie camera. The problem is that when toggling the cameras, the view distorts weirdly as the facingMode change is being applied. Can you help in avoiding this distorted view?

[C

[2021-07-01 13:10] laurencefass opened #301 "webcam not switching between cameras on mobile."
## Please follow the general troubleshooting steps first:

- [ x ] Is your app running over HTTPS? (please provide the URL if possible)
- [ x ] Have you tried running the demo (https://codepen.io/mozmorris/pen/JLZdoP) on your device?
- [ x ] Checked the latest "Can I use" compatbility table? (https://caniuse.com/stream)

### Bug reports:

Webcam is not switching between cameras on my mobile phone.

[2021-07-15 15:25] timhwang21 commented on #182
Hi! I believe I've ran into this as well. I haven't found a concrete source, but it seems that Brave may refuse to autoplay unless the underlying video is muted.

There's some corroboration from MDN [here](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/video):

@mozmorris without discussing if allowing `muted` to be a separate prop, would you be open to a fix to the existing bug here ht

[2021-07-31 09:29] MaxNicks opened #304 "The webcam is not displayed in debug mode on IOS"
Hello!

There was a problem with the fact that in debug mode when connecting an IOS device, the webcam is simply not displayed. At the same time, everything works well from the computer. Has anyone come across a similar one?

[2021-08-03 18:59] heyman333 commented on #304
Are you testing on localhost(http://)? Make sure you are using `https`

[2021-08-13 16:28] will-weiss commented on #189
Yes, thanks @mozmorris for an awesome project. Following up in the same situation @studioswong. Thanks so much for your attention and your work on this!

[2021-08-14 19:39] shiraze opened #306 "Jest tests show unstable_flushDiscreteUpdates warning in 6.0.0"
Is anyone else seeing a warning similar to the following when upgrading from v5.2.4 to v6.0.0?

 PASS  src/components/imageCaptureDialog/imageCaptureControlMount.test.jsx
  ● Console

    console.error
      Warning: unstable_flushDiscreteUpdates: Cannot flush updates when React is already rendering.
          in video (created by Webcam)
          in Webcam (at imageCaptureControl.jsx:163)

[2021-08-18 20:43] shiraze commented on #306
I'm currently using Enzyme, but we're in the process of moving some tests to Testing-library. If that helps, I'll update this thread

[2021-08-19 10:31] OleksandrFomin opened #307 "Video quality issue"
I did make sure to add
`forceScreenshotSourceSize={true}
screenshotQuality={1}`

props to the `<Webcam /> component but the video quality I receive after save is awful.

It would be great to know why it is so much worse than a native camera and if there is a way to improve the quality

[2021-08-29 05:23] nk1tz commented on #203
Full working typescript example:
[code]

[2021-08-29 10:24] amir-malek opened #308 "audio={true} echo problem"
when audio prop is set to true, the input audio is played from the speaker which creates an echoing effect. even on your own demo in codepen.
how can i just record audio with video without habving any audio output?

[2021-08-29 10:28] mozmorris commented on #308
[code]

[2021-08-30 09:45] #308 closed

[2021-09-05 14:55] kylix31 opened #309 "Possible issue with iPhone 7"
I tested the lib with three iPhone 7, but , apparently, it doesn't call the cam... The curious thing is in all others versions of the iPhone (5, 8, X) that I tested, it worked...  Are there a possible workaround?

[2021-09-06 09:52] akesh-1997 commented on #304
Hi.. I've faced same issue. I'm using this library for react web app. camera is working perfectly on Android devices.
But in IOS devices not showing camera and can not recording. any one know to solve this? & how to debug this.?

[2021-09-12 17:23] lokeshsinghal opened #310 "videoConstraints is not working in firefox."
## Please follow the general troubleshooting steps first:

- [ ] Is your app running over HTTPS? (please provide the URL if possible)
- [ ] Have you tried running the demo (https://codepen.io/mozmorris/pen/JLZdoP) on your device?
- [ ] Checked the latest "Can I use" compatbility table? (https://caniuse.com/stream)

### Bug reports:

videoConstraints is not working in firefox. I am trying to pass v

[2021-09-13 11:12] Nitzahon opened #311 "Is there a way to use this without a camera? (Load a stream with only audio track?)"
I can successfully load the webcam and remove or add video/audio tracks as needed. but I still need a video stream to get the webcam to load.  I want to know is there a way, if the user does not have any video input devices but only audio, can we get a stream started with that?

[2021-09-13 11:18] mozmorris commented on #311
@Nitzahon my advice would be to implement this yourself using the getUserMedia api. The underlying code of `react-webcam` is simple - you could extract the functionality you need and simplify the code for your needs.

[2021-09-13 11:20] mozmorris commented on #310
@lokeshsinghal could you create a demo on CodePen - it will make it easier to help you.

[2021-09-13 11:21] mozmorris commented on #309
@kylix31 could you try running a non-React version on your iPhone 7: https://webrtc.github.io/samples/src/content/getusermedia/gum/

[2021-09-13 11:32] mozmorris commented on #307
@OleksandrFomin to get a screenshot we draw the image to a canvas and then covert the resulting image to base64. It isn't like accessing the camera natively at full resolution.

I'll try to create an example for you how I think you could improve the resolution eg use a large video size but style it small. I think another developer did this previously but I can't find the example right now.

[2021-09-15 22:57] 0xabrarhussain opened #312 "Webcam media stream shows as active before the user gives permissions."
## Please follow the general troubleshooting steps first:

- [x] Is your app running over HTTPS? (please provide the URL if possible)
- [x] Have you tried running the demo (https://codepen.io/mozmorris/pen/JLZdoP) on your device?
- [x] Checked the latest "Can I use" compatbility table? (https://caniuse.com/stream)

### Bug reports:

It seems that there's no way to tell when the user has given perm

[2021-09-16 07:56] mozmorris commented on #312
@0xabrarhussain can you supply your code and the browser you are using?

I have created a quick demo here: https://codepen.io/mozmorris/pen/LYLOwML?editors=0011
Tested latest Chrome, Safari, and iOS Safari. The onUserMedia callback is called after permission is granted and the stream becomes active. Note, if the user has previously given permission there won't be another prompt.

[2021-09-16 07:57] #311 closed

[2021-09-17 17:09] 0xabrarhussain commented on #312
Isolating down to the webcam code, I have code which is doing the following:
[code]
Nothing else in the entire component calls `setHasWebcamUserMedia`, but if I `console.log` what I'm seeing is that `hasWebcamUserMedia` starts off `false`, and then it immediately gets set to `true` before the user has accepted the permission. So there is a prompt, but it seems to be completely ignored for the `onU

[2021-09-20 16:31] lukagrbec opened #313 "Setting minScreenshotHeight/Width to size of window"
Hello,

firstly, thank you for making this great library. I'm trying to set the screenshot to the size of the window, however, the images seem to be set to the resolution of the camera (1280x720). This is my webcam component:

[code]

I can, however, set the webcam component (before taking a photo) to fit full screen by adding this style to the webcam component:

`style = {{width: "100%", height:

[2021-09-20 17:37] mozmorris commented on #313
@lukagrbec could you share a codepen with your code please?

[2021-09-20 18:06] lukagrbec commented on #313
@mozmorris Thank you for your reply. Here is the link to the codepen: https://codesandbox.io/s/8to8e

[2021-09-21 08:07] lukagrbec commented on #313
@mozmorris I'm trying to set the crop preview (webcam screenshot) to fully fit the window size as the video (before taking the photo) does. As explained above I've achieved that  for the video using css. But if I try to use the same (or different) css for the screenshot it is not displayed larger than 1280x720 px. I thought that the `forceScreenshotSourceSize` would display it larger than 1280x720

[2021-09-21 08:14] mozmorris commented on #313
@lukagrbec you need to remove the `forceScreenshotSourceSize` and use only the `minScreenshotHeight/Width` props.

[2021-09-21 08:16] mozmorris commented on #313
It's worth noting that you can't force your device to use a width/height video constraint that it does not support (see https://developer.mozilla.org/en-US/docs/Web/API/MediaStreamTrack/getSettings). It's best to leave this at the maximum supported resolution.

[2021-09-21 09:10] lukagrbec commented on #313
Thanks for your suggestion. I implemented it and the code now looks like this:

[code]

It seems to work on my PC (1707x956px) and also on Galaxy S5 emulator (360x640), but it doesn't work on the iPad emulator (768x1024) (only the screenshot isn't full screen, the camera is).
Do you know why this could be happening?

I attached the screenshots of what I've described below.

Galaxy S5 screenshot (

[2021-09-23 19:43] johnboiles commented on #310
Seeing something similar in iOS 15 Safari. For this code:

[code]

I'm getting this log (note the `canvas width="1920"`)

[code]

[2021-09-23 21:08] johnboiles commented on #310
Ok for my issue, it turns out that the first time I called `getCanvas` the video wasn't ready yet. So I added a check above my call to getCanvas and it solved my issue. I wonder if @lokeshsinghal's issue is similar.

[code]

Perhaps we should add a similar check [here](https://github.com/mozmorris/react-webcam/blob/a99b44a84052efd61d6c106409b023d22f20550b/src/react-webcam.tsx#L196). @mozmorris wan

[2021-09-24 21:07] atav32 commented on #299
Which iOS version is this on?

[2021-09-26 13:34] Jackpate-2003 commented on #313
**Hi there!**
You can use the following code snippet, in your global styles file: ‌
`video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}`

[2021-09-26 13:50] lukagrbec commented on #313
Hi,
Thanks for your reply. Unfortunately this also doesn't work. The video from the camera before capture is full screen. However, the photo after capturing still doesn't fit full screen for some devices (such as iPad emulator). The photo is displayed in react-image-crop component. Could this affect displaying the photo full screen?

[2021-09-26 17:37] RubenZx opened #315 "Working with styled-components"
### Is the component prepared to work with "styled-components"?

I'm not able to use the `ref`prop. I'm having problems when I try to pass `ref` with the camera wrapped by `styled`.

The code that I have is the following:

[code]

---

### Versions that I'm using

- react: 17.0.2
- typescript. 4.1.2
- react-webcam: 6.0.0
- styled-components: 5.3.1

[2021-10-02 13:58] mozmorris commented on #315
Here's an example: https://codepen.io/mozmorris/pen/wveZEYd?editors=0010

[2021-10-02 13:58] #315 closed

[2021-10-04 21:50] betaflag commented on #221
Not sure if chrome changed something recently but this gives me a black image and this solution no longer works.

[2021-10-05 09:23] mozmorris commented on #221
@betaflag have updated the demo: https://codepen.io/mozmorris/pen/VwvgzVZ?editors=0010

[2021-10-05 20:54] mozmorris commented on #312
Please feel free to reopen if you still believe this is a bug.

[2021-10-05 21:31] 0xabrarhussain commented on #312
Ended up being a typo. Do think this is still a bug (`onUserMedia` runs instantly), but we found a work-around which involves continuously trying to screenshot and seeing if we get a video feed.

[2021-10-09 16:06] tiempham opened #317 "echoing"
## Please follow the general troubleshooting steps first:

- [ ] Is your app running over HTTPS? (please provide the URL if possible)
- [ ] Have you tried running the demo (https://codepen.io/mozmorris/pen/JLZdoP) on your device?
- [ ] Checked the latest "Can I use" compatbility table? (https://caniuse.com/stream)

### Bug reports:

If you can provide a minimal reproducible demo (CodePen, CodeSand

[2021-10-09 16:07] #317 closed

[2021-10-11 03:21] amerfathullah opened #318 "Play/pause button appear on the webcam viewer, but didn't do anything and then disappear when tapped. Device details: iPhone SE (1st gen), iOS 14.2, Safari 14."
I'm currently working on a project where user need to capture a QR code image and the program will validate if it's matching or not in the database. I only encounter this problem after the QR code is unmatched and the app will redirect the user to the capture image page. No issue during the first time capturing the image.

[2021-10-12 04:12] amerfathullah commented on #318
nvm, I got it. need to set the webcam ref to null before redirect to capture image page.

[2021-10-12 04:12] #318 closed

[2021-10-12 14:04] mozmorris commented on #221
Try the updated demo again, hopefully sorted. https://codepen.io/mozmorris/pen/VwvgzVZ?editors=0010

[2021-10-15 02:37] amerfathullah opened #319 "returns a blank page in Chrome (iOS 15)"
## Please follow the general troubleshooting steps first:

- [x] Is your app running over HTTPS? (please provide the URL if possible)
- [x] Have you tried running the demo (https://codepen.io/mozmorris/pen/JLZdoP) on your device?
- [x] Checked the latest "Can I use" compatibility table? (https://caniuse.com/stream)

### Bug reports:

I created a page similar to the demo codepen, with additional st

[2021-10-15 02:53] amerfathullah commented on #319
I tried the non-React version here (https://webrtc.github.io/samples/src/content/getusermedia/gum/) and it show this error

![image (1)](https://user-images.githubusercontent.com/36897396/137424821-165e0bd4-af47-43ea-9e00-0096818e5ed5.png)

[2021-10-15 06:20] #319 closed

[2021-10-15 06:21] #292 closed

[2021-10-15 06:22] #296 closed

[2021-10-15 06:22] #309 closed

[2021-10-15 06:30] #300 closed

[2021-10-18 15:46] DeanVanGreunen opened #320 "Disable WebCam untill I want to use it."
Hi, so regarding WebCam.

[code]

thats the example element I have, however its hidden via the ref `this.ui1` by using `this.ui1.current.style.display = "none";`

however when this code is run it directly access the WebCam Stream and shows the recording Icon in the browser tab. see image
![image](https://user-images.githubusercontent.com/22296075/137764911-cf1773ad-49d5-4199-b45e-53968f44e670.png)

[2021-10-18 16:07] mozmorris commented on #320
I would recommend mounting the <Webcam /> once you need it.

[code]

[2021-10-18 16:07] #320 closed, assigned to nobody

[2021-10-20 11:41] pawan-khade opened #321 "How to start react-webcam from stopped state without reloading page"
dear sir,

I have stopped my webcam using code suggested on your codepen

[code]

Now without refreshing the page I want to start stopped webcam with its video on clicking start button. How to do that?

[2021-11-03 09:36] braveheart84 commented on #189
Joining in to say how awesome this project is!

And also would love to see how we can incorporate the flash light together with react-webcam

[2021-11-03 12:52] DeveloperTitarenko opened #323 "setting an video source"
can anyone please advise me how to set a video source? in my app, if the user has at least 2 cameras connected (on laptop, like default and third-party cam) i should provide him a choice which videosource he wants to use

[2021-11-03 16:26] theomartiz commented on #210
Hi everybody,

I am currently trying to use the Webcam component in my application. For portrait mode, works well on desktop but not on mobile with the aspectRatio constraints. It works with the width and height props but it's less convenient. I see on the MDN that aspectRatio is compatible with mobile devices. Why do we have this issue ?

Thanks, Théo

[2021-11-07 04:27] cupof2 opened #324 "doesnt ask permission on mobile (safari, ios 15)"
doesnt ask permission on mobile (safari, ios 15)

[2021-11-07 21:27] mozmorris commented on #324
@cupof2 can you provide some code? or perhaps a link to your application?

[2021-11-07 21:29] mozmorris commented on #323
This demo should help: https://codepen.io/mozmorris/pen/KKwdOPO

[2021-11-07 21:29] #323 closed

[2021-11-15 04:15] cupof2 commented on #324
[code]
When this component is rendered, it asks for camera permission on desktop but not on mobile

[2021-11-17 09:56] RuckieOfficial opened #325 "Won't show camera on iOS"
import { Fab, useMediaQuery, useTheme } from '@mui/material';
import { Box } from '@mui/system';
import React, { useState } from 'react';
import Webcam from 'react-webcam';
import AddAPhotoIcon from '@mui/icons-material/AddAPhoto';
import LoopIcon from '@mui/icons-material/Loop';

const FACING_MODE_USER = 'user';
const FACING_MODE_ENVIRONMENT = 'environment';

export default function WebcamCapture

[2021-11-17 09:59] mozmorris commented on #325
@RuckieOfficial does the demo work for you?

What iPhone are you using? What iOS version?

[2021-11-17 10:04] RuckieOfficial commented on #325
@mozmorris  iphone 7, 14.2
it works here: https://codepen.io/mozmorris/pen/KKwdOPO
just fine. But I think in my app it check avaible cameras before permission is granted.

[2021-11-17 10:05] #325 closed

[2021-11-17 10:06] mozmorris commented on #325
If you create a CodePen for you implementation it will be easier to help you.

[2021-11-17 10:06] mozmorris commented on #324
Does the demo work for you? codepen.io/mozmorris/pen/jlzdop

[2021-11-17 10:16] RuckieOfficial commented on #325
@mozmorris  I feel dumb it work there aswell
https://codesandbox.io/s/frosty-einstein-5pm4x?
But I needed to removi mui stuff mby bad set up dependencies there.
Or do you think it could be some sort of doain/ssl problem?
https://skoda-opensensor.ys-beta.cz/Scan

[2021-11-17 10:18] mozmorris commented on #325
@RuckieOfficial both your Codesandbox and application work for me.

[2021-11-17 10:19] mozmorris commented on #325
As in, they are using the camera. But I think it might be a styling issue on mobile.

[2021-11-17 10:45] RuckieOfficial commented on #325
@mozmorris I think it was problem with videoConstraints. It works now. Test it on Codesandbox was good point.
Thank you.

[2021-11-20 16:31] viswongdev commented on #318
Mine will disappear while the is player but I want to get rid off entirely, could you tell me more how how you do it?

[2021-11-20 17:03] amerfathullah commented on #318
@viswongdev I did useRef for the webcam and init it to null. when clicking the button to redirect to another page, I just reset the ref to null

[2021-11-22 03:54] timothymiller commented on #324
Demo works for me on iPad iOS 15

[2021-11-22 09:29] mozmorris commented on #324
@cupof2 have you got a link to your application? Did you read the issue guide before posting? For example, if you application being served over https?

The code supplied looks like one of the demo's created on Codepen, which leads me to think you're hosting this locally and probably not using https.

[2021-11-22 09:55] cupof2 commented on #324
Yes, I am hosting locally. Could that be the reason why?

[2021-11-22 09:55] cupof2 commented on #324
I do not have a production link at the moment.

[2021-11-22 10:04] mozmorris commented on #324
@cupof2 yes - this is stated when you open a new issue and at the top of the README. I don't know if this is exactly your problem but it usually is for most people.

---

<img width="795" alt="Screenshot 2021-11-22 at 09 56 36" src="https://user-images.githubusercontent.com/156303/142840655-4830d403-4961-4d0f-93f4-27ecbd9287b7.png">

---

<img width="683" alt="Screenshot 2021-11-22 at 09 57 27" sr

[2021-11-22 10:04] #324 closed

[2021-11-25 06:43] AHRealift commented on #69
webcam not showing on mobile?

[2021-11-25 06:44] AHRealift commented on #304
webcam not showing on mobile?

[2021-11-26 09:24] ppprevost opened #326 "Feeback issue with webcam with sound after updating to 6.x.x version"
Hello and thank you for your plugin ! It works very well !
Unfortunatly i don't undersand what you've done on the sixth version ?
I have now a big feeback on video when i start a webcam with audio.
I just find that in the code you change muted property from audio to !audio ? But i don't understand why ??
Nonetheless adding muted on the webcam resolve the problem.

[2021-11-26 09:33] mozmorris commented on #326
@ppprevost unfortunately there was actually a bug with the `audio` prop logic.

In v5.x.x the default `audio` prop was `true`. Like you say, it was applied to the `muted` property like so `muted={audio}`. You can see how this a bug, it made no sense. But fortunately most ppl didn't want audio and so it didn't really cause any issue.

In v6.x.x the default `audio` proper is now `false` and it's cor

[2021-11-26 09:33] #326 closed

[2021-12-05 15:52] furkandindar opened #327 "making react-webcam responsive for mobile"
I am trying to build an app using react-webcam. This app needs to be mobile responsive. I use Material UI Grid to make it responsive, <Webcam/> always overflows and causes a horizontal scroll on mobile browsers. Is there a way to handle this? Thanks in advance!

`<Grid container>
          <Grid item xs={12} sm={8} md={6} lg={6} xl={6} style={{background:"green"}}>
            <WebcamCapture/>

[2021-12-11 16:09] mozmorris commented on #327
You will need to apply styling to the <Webcam /> component using the `style` prop, a starting point would be something like:

[code]

[2021-12-11 16:09] #327 closed

[2021-12-17 05:13] yashpalsingh6840 opened #328 "Unable to fit the Video Stream to Container Div"
Hi Team,

I am stuck with one issue while using this component. I have also asked the question on stack overflow. Please let me know if any additional info is required with respect to what I have already posted on stack overflow.
[stack overflow](https://stackoverflow.com/questions/70380478/capture-wide-range-video-in-reactjs-using-react-webcam)
Yes we are running the site on https and able to acc

[2021-12-27 10:30] JeevaS0722 opened #329 "How to improve quality of video using front camera"
Hi, I am trying to capture video (front cam) in  720*1280  resolution but this setting also scales camera. I need camera to still fit the screen height and width but need to increase video quality alone. Document is not very helpful on this. Could you please guide us how to increase video quality?

**We are trying to increase dimension to increase quality but if there is setting to increase qualit

[2021-12-30 10:29] sandys opened #330 "can i add a watermark to video being recorded ?"
### Features:

is it possible to add a watermark to the video as it is being recorded ? that would be a very cool feature.

[2021-12-30 13:19] JosepSalvat opened #331 "When user doesn't permit video/camara. Webcam doesn't maintain the aspectRatio"
If the user doesn't permit video/audio our webcam shows something like this:

![image](https://user-images.githubusercontent.com/88655444/147755360-fff2ee14-bb82-4c88-b9c3-04e94b720642.png)

I've saw demos that when u don't permit video/audio it still shows the default video layout (black screen).

I'm doing something wrong?

I tried to put <Webcam /> only and doesn't work either.

`  const videoC

[2022-01-03 21:17] timhwang21 opened #332 "Unable to set the muted property in the underlying video element pt. 2"
## Please follow the general troubleshooting steps first:

- [x] Is your app running over HTTPS? (please provide the URL if possible)
- [x] Have you tried running the demo (https://codepen.io/mozmorris/pen/JLZdoP) on your device?
- [x] Checked the latest "Can I use" compatbility table? (https://caniuse.com/stream)

### Bug reports:

Follow up to #182.

It seems the fix I filed in #303 only partial

[2022-01-05 13:51] umutsesen commented on #329
this is not possible since even if you render camera at max res for example, 2160x4096, you cannot get screenshot at the same resolution. Also, quality will be never be the same as a native camera app since we lose quality when drawing to canvas.

[2022-01-09 20:20] codebarz opened #333 "Image become totally green after taking selfie"
## Please follow the general troubleshooting steps first:

- [x] Is your app running over HTTPS? (please provide the URL if possible)
- [x] Have you tried running the demo (https://codepen.io/mozmorris/pen/JLZdoP) on your device?
- [x] Checked the latest "Can I use" compatbility table? (https://caniuse.com/stream)

### Bug reports:

There is an issue where the image shows a green background on cer

[2022-01-12 14:04] malavshah9 commented on #320
@mozmorris  Still I will need ref to start and stop recording video as per this example:

https://codepen.io/mozmorris/pen/yLYKzyp?editors=0010

[2022-01-12 14:09] DeanVanGreunen commented on #320
@malavshah9 The reason behind my original question was that i only wanted the webcam element to be active when I wanted to use it inorder for it to not access the webcam till required. anyway i have created a work around in my project to support my indended solution

[2022-01-13 11:06] DePapier opened #334 "Cannot record on iOS"
Cannot record on iOS (safari) 13,14,15

[2022-01-14 03:56] DePapier commented on #334
Changed mimeType to 'video/mp4' and it works

[2022-01-14 03:56] #334 closed

[2022-01-16 14:26] delmohf opened #335 "onFrame event"
Hi guys:

Would it be possible to implement `onFrame` event? Just like [`@mediapipe/camera_utils`](https://www.npmjs.com/package/@mediapipe/camera_utils) does?

MediaPipe Camera object is quite restrictive about constraints to be passed to `navigator.mediaDevices.getUserMedia` so I want to used this `react-webcam` component but `onFrame` event is necessary to integrate with MediaPipe solutions (Ho

[2022-01-18 08:20] JosepSalvat commented on #299
I've the same problem on Android and chrome. It doesn't maintain the aspect ratio: 9:16

[2022-01-26 08:18] DePapier opened #336 "Video turn into black and white when using videoContraints width and height"
When I send videoConstraints with width and height, example
[code]
The video downloaded turn into almost black and white

[2022-02-04 06:19] Raraku commented on #128
Hi, was this issue ever fixed.

[2022-02-17 03:14] Realift opened #337 "Easiest way to get focal points and sensor size?"
Is this the proper way to get camera data, focal points/length and sensor size? What is the easiest approach?

to get focal length: [](https://photo.stackexchange.com/questions/13603/how-to-test-actual-focal-length/20376#20376)

to get sensor size: [](https://stackoverflow.com/questions/26947325/sensor-size-of-webcam/26947563#26947563)

[2022-02-21 18:09] sorinpav commented on #306
@shiraze  we're still getting the exact warning while using React Testing Library as well, so I would say it's not due to the testing library used.

Anyone encountered this so far and has a solution?

[2022-02-21 19:22] shiraze commented on #306
We got this working in Enzyme by adding the following mock:
[code]

[2022-02-22 13:36] citayesh opened #338 "showing pause icon on camera"
![b162cfba-66be-4692-be10-d9a4ef4879e1](https://user-images.githubusercontent.com/50526777/155143089-82f3e4ad-2660-4628-9aba-3663ad0d72ec.png)
i opned the camera to take picture and it happend

[2022-03-03 12:56] csalmeida commented on #211
I have the same issue when rendering a page on the MetaMask Browser App on Android, it does work in Chrome and Firefox on Android and iOS.

Unfortunately changing `AndroidManifext.xml` is not an option since we can't change the app's source code. 🙏

[2022-03-18 03:51] Elliptica1 opened #340 "Webcam Not Displaying on Mobile Browsers if Permissions not Enabled"
## Please follow the general troubleshooting steps first:

- [ YES ] Is your app running over HTTPS? (please provide the URL if possible --- not possible currently)
- [ YES ] Have you tried running the demo (https://codepen.io/mozmorris/pen/JLZdoP) on your device?
    It just shows a white screen

![image](https://user-images.githubusercontent.com/24662122/158933623-eb5d8ae1-19e7-4905-a3f9-ee7e0e2

[2022-03-18 08:24] renkaiheng opened #341 "Some Android device unable to capture the image clearly"
The problem is on multiple rear camera devices like the Huawei P30 Pro or Samsung S10, it seem like will auto using telephoto lens instead of using the default stock rear camera. This can cause the live video and image is not focusing at all

[2022-03-22 00:03] nschucky commented on #338
You could try setting the controls to false
[code]

[2022-03-27 12:49] briliantnugraha opened #342 "[Question] How to start react-webcam after it is stopped?"
Hi @mozmorris, thanks for this awesome package that I could use webcam across different devices easily.

I am a beginner on React, I have a question, how to start the webcam again after it has been stopped?
My flow is as follows:
- [working] npm start -> allow webcam -> click stop button -> webcam vanishes.
- [not working] click start button -> _**webcam reappear**_.

If we want to add a start on

[2022-04-05 10:07] ice3 opened #344 "Could not acquire the stream"
## Please follow the general troubleshooting steps first:

- [x] Is your app running over HTTPS? (please provide the URL if possible) => localhost
- [ ] Have you tried running the demo (https://codepen.io/mozmorris/pen/JLZdoP) on your device?
- [ ] Checked the latest "Can I use" compatbility table? (https://caniuse.com/stream)

### Bug reports:

* When I try to run the demo in my project, no video

[2022-04-05 10:07] #344 closed

[2022-04-05 10:08] ice3 commented on #344
Too fast for me :clap:

Good work by the way, it's really smooth to use :)

[2022-04-14 22:20] bilinkis commented on #271
Having the same problem here. Any way to mirror the stream?

[2022-05-09 01:36] edgariph98 commented on #55
how exactly was this issue fixed? I currently Access my application on a remote web app using a virtual machine

[2022-05-13 04:36] robonetphy opened #348 "Use `image tracks` properties"
How can we use `image track` properties with `react-webcam`?
It will be handy if we have [these](https://developer.mozilla.org/en-US/docs/Web/API/MediaTrackConstraints#properties_of_image_tracks) properties on video streaming which will help to adjust the following things:
- whiteBalanceMode
- exposureMode
- focusMode
- zoom
you can check out their references:
- [image track properties](https://de

[2022-05-24 15:46] agaertner commented on #231
I think we have a similar issue in that our component isn't disposed or somehow keeps the device binding alive.
On ubuntu this causes our webcam to not reappear after the view with the initial webcam component has been closed.

[2022-06-14 03:08] theelbowclaps commented on #304
If you are testing on localhost, make sure you have the `Allow Media Capture on Insecure Sites` enabled.
It's located at the top lefthand corner of the Web inspector. Once the option is checked, reload the page.

[2022-06-21 14:12] Nikkolas-Cage commented on #189
bump <3 any update with this?

[2022-06-22 09:40] Nikkolas-Cage commented on #338
you can put a

`
<Webcam
   ....
   poster="blankimage.jpg"/>
`

[2022-06-28 11:07] haresh6x opened #349 "[Question] Camera status and LED is on in the browser tab even though the component is unmounted."
I am using react-webcam with reference to this codepen source: https://codepen.io/mozmorris/pen/yLYKzyp?editors=0010

But when the component is unmounted, camera status and LED is still on until the tab is closed. I went through the documentation but couldn't find any reference for the same.

How do I fix it?

[2022-06-28 12:24] mozmorris commented on #349
Does this example work? https://codepen.io/mozmorris/pen/PBezdq

[2022-06-28 13:25] haresh6x commented on #349
Thank you!

[2022-06-28 13:26] #349 closed

[2022-07-19 04:10] BradPrit09 commented on #348
You can apply the props on MediaTrackConstraints to get the desired o/p.

[2022-08-24 18:57] mattblank11 opened #351 "Not working in Safari, but works perfectly in Chrome + Brave"
## Please follow the general troubleshooting steps first:

- [x] Is your app running over HTTPS? (please provide the URL if possible)
- [x] Have you tried running the demo (https://codepen.io/mozmorris/pen/JLZdoP) on your device?
- [x] Checked the latest "Can I use" compatibility table? (https://caniuse.com/stream)

### Bug reports:
Here's a Loom video walking through the bug. The webcam loads, bu

[2022-09-18 10:20] chen-rn commented on #338
I think [this solved issue](https://github.com/mozmorris/react-webcam/issues/318) may be discussing a similar issue. Though I'm unable to reproduce the solution.

Basically, before camera permission is granted, the "empty" video player shows a "Play Button". Once permission is granted, the "Play Button" turns into a "Pause" button momentarily before vanishing from existence.

This seems to only ha

[2022-09-20 09:15] martincapek commented on #351
Hi, same problem so +1

[2022-09-20 09:42] mozmorris commented on #351
@mattblank11 firstly, that's a great issue report - many thanks.

I also have a Mac running the latest Safari and the video always appears.

Can you check the dev tools console to see if there's any error?

[2022-09-20 13:27] mattblank11 commented on #351
I don't see an error (and don't remember seeing one when I was troubleshooting a month ago). I also can't replicate the issue, so maybe something fixed on my end? I did get a new M1 MacBook Pro since I last posted this so that could be part of the fix. @martincapek are you seeing an error?

[2022-09-25 22:28] olsommer opened #352 "Separate canvas returns black screen"
Hello community, @mozmorris ,
I got stuck and I really don't know how to solve it. Now I'm writing my question here because I am a little bit desperate. Sorry for that..

I am trying to use react-webcam as media input only and a separate canvas element as output. That's because I need to draw some things later on top.

But the only thing I see is a black screen.. although my console gives me some

[2022-09-28 11:45] martincapek commented on #351
@mattblank11 sorry for late answer. No I'm not seeing any error, it shows that camera works in URL bar, but camera is blank and I'm not seeing the video element

[2022-09-28 21:04] sinclas commented on #348
Was there any update on the zoom?

[2022-10-11 14:52] JosepSalvat opened #353 "onUserMedia doesn't trigger on some computers since last chromium version"
## Please follow the general troubleshooting steps first:

- [X ] Is your app running over HTTPS? (please provide the URL if possible)
- [ ] Have you tried running the demo (https://codepen.io/mozmorris/pen/JLZdoP) on your device? (yes, and it works...)
- [ ] Checked the latest "Can I use" compatbility table? (https://caniuse.com/stream)

### Bug reports:

We don't know how to reproduce it, becaus

[2022-10-14 07:53] ismaserrano commented on #294
@mozmorris some news about the issue? Thx!

[2022-10-14 09:57] JosepSalvat commented on #353
Some updates, on Windows Chrome last version. The problem was the mute prop  (I deleted it). Now I'm trying to solve the same problem but on chrome with MacOS. I thought it was the same problem but it seems that it's not.

I'll post more updates.

[2022-10-14 17:39] frankgalindo commented on #338
I had the same issue and found a solution using CSS.

[code]
Another way to fix using CSS is to disable pointer events on the video element:

[code]

[2022-10-18 14:35] frankgalindo opened #354 "[Feature Request] Show video mirrored but take a non-mirrored screenshot"
Hi guys, I was working on a project using _react-webcam_ and at some point I needed to show the video mirrored, but take a non-mirrored screenshot. I managed to implement this in my project, but I think that could be a built-in option into the library itself.

I have never contributed to an open source project before, but I would like to implement this feature. Is that OK?

[2022-10-26 11:31] SanthoshRaju91 commented on #354
@frankgalindo would like to know how you did this. Did you draw the image on a canvas and transformed the scaleX value to get non-mirrored screenshot ?

[2022-10-26 12:14] mozmorris commented on #354
@frankgalindo @SanthoshRaju91 is this the functionality you describe? https://codepen.io/mozmorris/pen/oNygXwz

[2022-10-26 15:16] mozmorris commented on #354
@frankgalindo thank you for raising this. As it's a case of adding a single line of css, I think it would make sense to add this to the README instead.

[code]

[2022-10-26 17:07] frankgalindo commented on #354
So, should it be an example like "Show all cameras by device Id" or "Recording a stream"?

[2022-10-27 08:27] mozmorris commented on #354
@frankgalindo that would be excellent.

[2022-10-27 12:25] frankgalindo commented on #354
@mozmorris I just submitted a PR

#355

[2022-10-27 12:25] #354 closed

[2022-11-18 01:54] lakarpusky commented on #351
In my case ( mac m1 pro ) it works in safari v16.1, but not in brave v1.45.127 + chrome v107.0.5304.110

[2022-11-21 17:29] narcello commented on #353
@JosepSalvat any updates? My react-webcam works on firefox but didn't work on chrome, even with permissions granted. A isolated component on storybook works fine, but when I use it on page, doesn't work.

[2022-11-23 06:22] taka204 commented on #341
same issue, especially on samsung devices

[2022-11-26 15:22] clementpoiret opened #357 "Webcam not working in Firefox (linux)"
## Please follow the general troubleshooting steps first:

- [x] Is your app running over HTTPS? (please provide the URL if possible)
- [x] Have you tried running the demo (https://codepen.io/mozmorris/pen/JLZdoP) on your device?
- [x] Checked the latest "Can I use" compatbility table? (https://caniuse.com/stream)

### Bug reports:

I saw similar issues, but it is not solved for me, especially on

[2022-11-26 15:38] clementpoiret commented on #357
My bad: it was simply a bad config from my side...

[2022-11-26 15:38] #357 closed