[2015-06-23 02:18] victornguyen opened #2 "Package in npm registry out-of-date?"
Installing this package via `npm install react-webcam` seems to pull down an old version of the package.

Seems like it needs a version bump and an `npm publish`?

[2015-06-23 17:48] g-p-g commented on #2
At least in terms of package.json it seems to be the latest one, but it won't cleanly install alongside react. That is `npm install react react-webcam` fails with

[code]

It seems like there should be a new release anyway.

[2015-06-25 08:36] #2 closed

[2015-06-25 08:40] cezary commented on #2
Should work now.

[2015-07-31 17:53] clkao opened #6 "Does not work in firefox"
Developer Preview 41.0a2 (2015-07-31)

Error: `TypeError: MediaStreamTrack.getSources is not a function`

[2015-09-07 10:31] krejcon3 opened #12 "Package in npm registry out-of-date?"
Please can u publish new version of this react component? Thank you very much

[2015-09-08 22:07] goldensunliu commented on #12
+1

[2015-09-09 07:24] krejcon3 commented on #6
+ Opera

[2015-09-29 12:07] Dadidam opened #13 "How to set requested type for screenshot?"
By default, component return `image/webp` type.
How i can set, for example, `image/jpeg`?

[2015-10-20 03:12] #6 closed

[2015-10-20 03:14] cezary commented on #6
Works on Firefox with the latest changes.

[2015-10-20 03:19] cezary commented on #13
Thanks to @jgradim and his pr, #14 , you can specify by passing a screenshotFormat property in the props.

[2015-10-20 03:19] #13 closed

[2015-10-20 03:19] cezary commented on #12
Just published latest changes, sorry for the wait.

[2015-10-20 03:19] #12 closed

[2015-10-29 02:05] Deadarius opened #15 "v0.0.5 doesn't work on Chrome v46"
```navigator.mediaDevices``` is undefined, should be available in Chrome v47 though.

https://github.com/cezary/react-webcam/blob/master/src/react-webcam.js#L86

v0.0.4 works great!

[2015-10-29 02:16] Deadarius opened #16 "Need option to turn off sound"
Currently video runs with sound on by default, which is not suitable for all use cases.

[2015-10-29 03:55] Deadarius commented on #16
Just noticed that I can pass ```audio={false}``` while reading through a source:)

[2015-10-29 07:14] cezary commented on #15
Added a fallback for earlier versions of Chrome with the latest changes.

[2015-10-29 07:14] #15 closed

[2015-10-29 07:16] cezary commented on #16
Yep, but this should definitely be documented in the readme.

[2015-10-29 07:34] cezary commented on #16
It's in the readme with the latest change, closing.

[2015-10-29 07:34] #16 closed

[2015-10-30 02:46] Deadarius commented on #15
Thanks a lot for quick response!

[2015-12-31 17:15] IgorKirey opened #20 "this.stream.stop is not a function"
In latest Chrome I've got this error "this.stream.stop is not a function" when I'm trieng to make capture with "getScreenshot" function.

[2015-12-31 17:18] IgorKirey commented on #20
Seems it's not "getScreenshot" function issue.

[2016-01-10 16:39] IgorKirey commented on #20
Anybody here?

[2016-01-11 09:52] Moussawi7 commented on #20
+1 Same issue.

[2016-01-13 00:43] yemel commented on #20
Same here

[2016-02-07 06:15] cezary commented on #20
The pr from @rexxars should fix this.

[2016-02-07 06:15] #20 closed

[2016-02-10 19:32] steveherschleb opened #22 "React v0.14 support"
With React v0.14, there's now this console message:

Not a big deal, but I just wanted to document it.

[2016-02-21 21:50] jessepollak commented on #22
:+1:

thanks for a great component!

[2016-02-21 23:09] cezary commented on #22
Sorry for the delay, I updated the version and added react-dom.

[2016-02-21 23:09] #22 closed

[2016-02-21 23:09] jessepollak commented on #22
Woot — thanks!

[2016-04-17 17:47] smronju opened #24 "Do you have any plan for mirror options?"
Do you have any plan for mirror options? Cause it shows flip image in browser and saves the same.

[2016-04-19 04:42] cezary commented on #24
I'm reluctant to add a mirror prop to react-webcam. It seems like you can accomplish mirrored view by just setting the style attribute. In that case, it's similar to the filter examples in the demo. Would being able to pass a style prop be sufficient instead? Something like this

[code]

[2016-05-12 06:07] smronju commented on #24
That doesn't solve the problem. When you save the image it flips in preview.

[2016-05-26 16:27] nisarg-parikh commented on #20
You can enable-disable the stream.
like this way :
 var _streams = this.refs.webcam.stream;
                _streams.getTracks().filter(function (stream) {
                    stream.enabled = false
                })

[2016-06-15 09:40] Kornflexx opened #27 "Option for disable camera"
Hi,
Can you add a prop to disable camera ?

thanks for your work.

[2016-08-07 08:53] Bastorx opened #29 "Add getScreenshot() in README"

[2016-08-22 23:36] FinnFrotscher opened #30 "Capture Video"
I want to capture a video from the webcam and sent the file to aws s3.
Can I do this with this component and how would you suggest I go about this?

[2016-08-23 12:27] HarshaVardhanPVK opened #31 "src attribute is not getting appended."
I am trying to use 'react-webcam' module and used simple code for it like
`<Webcam className="webcam" ref='webcam' />`

In local machine(MAC) it is working fine and got video tag as
`<video autoplay="" width="640" height="480" class="webcam" data-reactid=".0.0.0.0.0.1.2" src="blob:http://localhost:5000/e655e4c2-feb1-47ca-8a3e-f5c354b37a0d"></video>`

But when I am trying in my server(ubunthu) src

[2016-10-19 01:52] 7kfpun opened #34 "Camera / audio source selection feature"
Do you have a plan for this feature? Thanks!

[2016-10-21 07:06] MarinusDR commented on #34
I think many are interestet in a possibility to choose which camera to use. Now you only can take 'selfies'. :-)

[2016-11-11 23:30] pkpp1233 commented on #34
+1

[2016-11-12 00:42] 2017csun opened #37 "Incompatible with Atom editor"
I installed this package to use with my atom editor and it worked once, but now it crashes every single time. Uninstalling the package helped fix this problem. :(

[2016-11-12 01:07] 2017csun commented on #37
Nevermind - I re-installed it and it seems to be working now. Closing this because I'm not sure if it's a legitimate issue or just a fluke!

[2016-11-12 01:07] #37 closed

[2016-11-26 09:36] wangsijie commented on #27
Actually this can be implemented quit easy.

Just set a react state, for example, set a state named "showCamera", render WebCam only the state is true. Then if you want to disable camera, just set the state to false.

[2016-12-03 10:54] robrobkay51 commented on #30
+1

[2016-12-03 10:55] Extra-lightwill commented on #30
+ 1

[2016-12-03 10:55] Extra-lightwill commented on #30
+1

[2016-12-03 10:59] Extra-lightwill commented on #30
@FinnFrotscher Have you managed to integrate video capturing functionality??

[2016-12-04 13:19] FinnFrotscher commented on #30
I did but i am not sure whether i used this component.
also I saved the files to my own server. not aws. still interested?
@Extra-lightwill

[2016-12-04 14:16] Extra-lightwill commented on #30
@FinnFrotscher I am building a prototype so yes still interested...

[2016-12-04 16:01] FinnFrotscher commented on #30
ok ill look into my code tomorrow and upload the relevant bits.

[2016-12-06 14:37] Extra-lightwill commented on #30
@FinnFrotscher Have you got a link?

[2016-12-06 14:50] FinnFrotscher commented on #30
I am using WebRTC (RecordRTC) and getUserMedia.
This is a little bit chaotic but it does the job. It works.
[code]

[2016-12-08 09:37] Extra-lightwill commented on #30
@FinnFrotscher Great, that's massively helpful. Appreciate it!

[2016-12-09 11:00] Extra-lightwill commented on #30
@FinnFrotscher Just out of interest, what does your video.js file look like? Assuming you're using react, there are some react-specific video repos, but I'm leaning towards going for something more established e.g. https://github.com/Selz/plyr.. Wondering whether this is the right choice or not?

[2016-12-09 16:01] FinnFrotscher commented on #30
[code]

[2016-12-09 18:07] FinnFrotscher commented on #30
[code]

[2017-02-20 12:34] ettaibi opened #38 "IE11 compatibility"
how can i use react-webcam for IE 11 ?

[2017-02-22 18:04] ctrlplusb commented on #38
It is up to the browsers I believe.

http://caniuse.com/#search=webcam

You will need to check the capabilities of user's browsers before exposing this feature to them.

[2017-02-22 18:05] ctrlplusb commented on #38
I recommend https://modernizr.com/

[2017-03-05 22:29] a22munir commented on #30
Hey @FinnFrotscher I am trying to get your code to work but running into errors. Do you have a repo with a component that has all the code for turning this into a video capture component?

[2017-03-19 14:05] AlexandreKilian commented on #34
you can actually select the media device like this:
`<Webcam audioSource={settings.audioDevice} videoSource={settings.videoDevice} />`

[2017-03-19 14:07] AlexandreKilian opened #40 "Constraint Settings"
Currently, the the options for width/height only affect the rendered canvas, not the video source though. there is no way to set it in the constraints, same goes for other constraints (like echo cancellation, etc...)

[2017-04-27 15:33] hjheath opened #42 "Update getUserMedia to MediaDevices.getUserMedia()"
https://developer.mozilla.org/en/docs/Web/API/Navigator/getUserMedia is now deprecated.

I can submit a PR if this is still under active development

[2017-05-05 18:57] cezary opened #44 "Needs a maintainer"
Hello,

Unfortunately I haven't had the time to maintain this project. Rather than let it stagnate and potentially break projects I'd be more than happy to transfer github and npm ownership over to anyone interested.

[2017-05-05 22:43] mozmorris commented on #44
👍🏻

[2017-05-07 20:59] #44 closed

[2017-05-14 20:00] mozmorris commented on #42
@hjheath sorry for the delay. A PR would be fantastic tbh. I noted that change myself.
My concern is obviously around supporting the new API in older browsers. It would be great if we could handle that too.

Let me know what you'd like to do.

[2017-05-14 20:03] mozmorris commented on #40
@AlexandreKilian fair point. Moving forward this is something we should add.

[2017-05-14 20:07] mozmorris commented on #38
There's the potential to use a polyfill here. Closing for now but if there's significant demand, we can reopen and implement.

[2017-05-14 20:07] #38 closed

[2017-05-14 20:09] mozmorris commented on #34
@AlexandreKilian is right but it's not documented.

- [ ] Add audioSource & videoSource props to readme.

[2017-05-14 20:10] #30 closed

[2017-05-14 20:11] #31 closed

[2017-05-14 20:13] #27 closed

[2017-05-15 12:09] AlexandreKilian commented on #40
if wanted I can look into a viable solution for this... another example is the microphone quality that is pretty bad with default settings... it's just too bad they made those constraints the way they did

[2017-05-15 12:46] mozmorris commented on #40
I'd say hold off until #42 is closed. It's my understanding that the [API has changed](https://developer.mozilla.org/en-US/docs/Web/API/MediaTrackConstraints). For example, react-webcam is using the video & audio constraint `sourceId` which has been superseded by `deviceId`.

[2017-05-15 13:00] #29 closed

[2017-05-15 13:00] #34 closed

[2017-07-07 17:18] cbergau opened #47 "Can i select between multiple cameras? Like on a smartphone?"
The title says it all i believe. I want to be able to select between my front- and my backcamera of my smartphone. Am i able to do this with this libary? I have never done any programming with camera, it might be the wrong place to ask.

[2017-07-12 20:16] hedinne commented on #47
You can change the video source (camera) by specifying which device should be used. You do this by passing the component a specific `deviceId`.

This will list out all available sources:

`navigator.mediaDevices.enumerateDevices().then(devices => console.log(devices))`

Note that in order for this to work you must pass both audioSource and videoSource. And you can't change sources after react-webc

[2017-07-13 21:53] oyeanuj opened #48 "Not working on mobile browsers"
Hi @mozmorris, thank you for putting out this library! I was unable to get the demo to work on mobile browsers. It seems like that might be because the origin is considered insecure (since the HTTPS certificate has expired)?

Should it be working on mobile browsers?

[2017-07-13 21:54] oyeanuj opened #49 "Capture video vs picture"
Hi @mozmorris, wondering if there is a way to record video from the webcam using the library? The only option I can find is `getSnapshot`. If not, is that something you'd consider on your radar?

Thank you!

[2017-07-14 00:56] marco-lavagnino commented on #48
Latest chrome on android works fine (just checked). Try ignoring the https error message.

[2017-07-14 14:07] hedinne commented on #49
Sadly no.

[2017-07-14 14:30] oyeanuj commented on #48
I ignored it but it doesn't work. I am using `iOS` fwiw 😞

[2017-07-17 11:32] halvardos commented on #48
This also seems true for safari on OSX

[2017-07-17 14:46] mozmorris commented on #48
Yeah, I'm seeing the issue on Safari too. Will attempt to resolve, I'm guessing it's related to #42.

[2017-07-26 06:26] cliener commented on #40
As a quick fix - and matching my own requirements - I've added width/height constraints to video in the PR as above. Certainly not the same as, say, opening up the constraints completely but potentially helpful as is.

[2017-08-24 14:08] suyash-jain opened #52 "Clarification: Getting EXIF data like Camera, Geolocation"
Is there a way to capture EXIF data like which camera used, geolocation etc when capturing image?

[2017-08-26 07:42] mlukasch opened #53 "Polyfill for IE11"
Would be nice if there would be a Polyfill for IE11

[2017-09-03 01:06] jeffbonasso opened #54 "Multiple webcams support"
Is it possible if I have multiple webcams connected to have multiple Webcam tags, each showing a different webcam? I see the enumerate devices where I could specify the audioSource and videoSource for each one.

[2017-09-26 01:16] cliener commented on #53
The only polyfill for IE11 would be Flash which isn't a good idea if only for security reasons.

[2017-09-26 06:51] cliener commented on #42
PR created to resolve this. I needed it for my own project to support Safari 11 which only supports the new API.
Tested and working in:
* Chrome 60
* FF 55 & 56
* Safari 11 (no support for the API in earlier versions)
* Edge 15
* IE 11 (no support but handles it correctly)

I created my own namespaced npm version of this library to use it right away https://www.npmjs.com/package/@cliener/react-web

[2017-09-26 07:42] nagashreeckn opened #55 "react-webcam not working for remote ip"
Hi,

i am using react-webcam in my application. My application running in server. i can access that application in local but the problem is webcam is not allowing if i access that application from local web browser.

webcam is working if i run that same application in my local machine. not working for server.

Please help me to sort out this issue.

[2017-09-26 19:03] supercycle91 opened #56 "No support for React.PropTypes in React v16.0"
To add support you will need to import 'prop-types' as an external library. See https://facebook.github.io/react/blog/

[2017-09-26 19:07] supercycle91 commented on #56
@retracted

[2017-09-26 19:07] #56 closed

[2017-09-27 12:31] mozmorris commented on #42
@cliener thanks for this. Get back to you shortly.

[2017-09-28 00:18] baffleinc opened #57 "Doesn't work with iOS 11"
Hey! Using this component works on Android, however isn't working on iOS 11 Safari. it correctly asks for access to the camera, however I get a Type Error:

![screenshot 2017-09-28 10 18 14](https://user-images.githubusercontent.com/1113588/30943743-5d95ebda-a436-11e7-9126-d81eb0eb0b84.png)

Any ideas? Thanks!

[2017-09-28 01:43] cliener commented on #42
PR created to resolve this. I needed it for my own project to support Safari 11 which only supports the new API.
Tested and working in:
* Chrome 60
* FF 55 & 56
* Safari 11 (no support for the API in earlier versions)
* Edge 15
* IE 11 (no support but handles it correctly)

I created my own namespaced npm version of this library to use it right away https://www.npmjs.com/package/@cliener/react-web

[2017-10-16 03:00] cliener commented on #57
I've fixed this by updating the API as part of #42. Since I need it for a project I'm working on, I've added a scoped npm install: https://www.npmjs.com/package/@cliener/react-webcam

[2017-10-19 17:10] JohnBain opened #60 ""Unhandled promise rejection" on Safari 11"
On Safari 11 (Mac OS X High Sierra) webcam does not show up and this error displays in console:

[code]

Debugger shows this file as the source of **Unhandled** Promise Rejection: **TypeError**:
[code]

[2017-10-19 18:55] ekitee opened #61 "MediaStream.stop() is deprecated"
Firefox 56.0 (64-bit) gives this "MediaStream.stop() is deprecated and will soon be removed. Use MediaStreamTrack.stop() instead."
Version 62.0.3202.62 (Official Build) (64-bit) is not warning anyting.

[2017-10-20 03:40] cliener commented on #60
I implemented the new API as part of #42. Scoped npm install: https://www.npmjs.com/package/@cliener/react-webcam

[2017-10-20 03:41] cliener commented on #61
I implemented the new API as part of #42. Scoped npm install: https://www.npmjs.com/package/@cliener/react-webcam

[2017-10-20 08:47] ekitee commented on #61
Thanks for quick answer.
I am using @cliener version and I am seeing the problem with it (somehow I was not able to report the issue for that project)

[2017-10-23 01:17] cliener commented on #61
Since it's a fork, it doesn't have an issue list of it's own.
Here's the code in question - I see what you mean:
[code]
Feel feel to fix it and I'll integrate into my fork.

[2017-10-26 06:46] lzmhhh123 opened #62 "navigator.mediaDevices.getUserMedia"
The `navigator.getUserMedia` is not the standard for most browsers. Please use the `navigator.mediaDevices.getUserMedia` to support most of browsers.

[2017-10-26 07:12] cliener commented on #62
I implemented the new API as part of #42 with PR pending review. Scoped npm install if you don't want to wait: https://www.npmjs.com/package/@cliener/react-webcam

[2017-10-26 07:13] lzmhhh123 commented on #62
@cliener OK, Thanks.

[2017-10-26 07:13] #62 closed

[2017-11-02 13:28] Leonsamoht commented on #55
It's most likely due to not serving the page via the HTTPS protocol.
![image](https://user-images.githubusercontent.com/18523441/32328330-01b56a26-bfb0-11e7-945b-27c815e4f4fa.png)

[Link to Mozilla Developer Network page](https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia)

Either setup a local server that is configured to serve pages via https, or use public hosting that w

[2017-11-08 04:07] Vaderico commented on #54
I second this, I would like to know how to make this component support multiple webcams. If we set videoSource equal to an array of device id's, how can we switch between each of those device id's?

[2017-11-08 04:13] Vaderico commented on #47
@hedinne You said that you can't change the sources after the react-webcam has mounted. In my application there is a webcam has already mounted, and the user can switch which webcam they want to use mid-use. There is a simple drop down and the webcam feed should change.

To make things clear - are you saying that to change the video feed we need to un-mount the react-webcam component, and then re-

[2017-11-12 16:28] hedinne commented on #47
Hi @Vaderico, sorry for the late replay. It has been so long since I worked with this component so I might be mistaken. But yeah you are correct.
To fix this I ended forking this project and fixing the bug.

[2017-11-21 03:40] mortegac opened #64 "how do I stop the execution of the video"
hello, how do I stop the execution of the video?

[2017-12-01 14:09] aniruddhashevle opened #65 "Ability to covert the dataURL to File Object or Blob"
This is a really good package.

We need to add an ability to convert the dataURL to **File Object** or a **Blob** so that we can send the file data using [FormData](https://developer.mozilla.org/en-US/docs/Web/API/FormData) to the backend APIs accordingly.

[2017-12-11 17:43] Shaked opened #66 "Invalid SSL in Demo"
Hey

Seems like the [demo](https://www.mozmorris.com/react-webcam/examples/)'s SSL is not valid:

![privacy error 2017-12-11 19-42-32](https://user-images.githubusercontent.com/960015/33845251-7fcf3c92-deab-11e7-93dc-decb83d66d48.png)

[2017-12-13 10:29] aniruddhashevle commented on #65
@mozmorris : Please tell me how to send the PR. I've forked your repo but there are no instructions to run and make the changes and then replicate the result!

Please let me know the procedure then I'll send the PR. Thanks.

[2017-12-18 17:28] schroedingerscode commented on #66
Looks like the cert is a GitHub cert which is being used on the www.mozmorris.com domain.

Presented Cert's Subject:
    CN = www.github.com
    O = "GitHub, Inc."
    L = San Francisco
    ST = California
    C = US

Presented Cert's SANs:
    DNS Name: www.github.com
    DNS Name: *.github.com
    DNS Name: github.com
    DNS Name: *.github.io
    DNS Name: github.io
    DNS Name: *.githubuserco

[2018-01-11 08:16] Stanley-Okwii opened #67 "image Filter"
The image filter is applied using css only which makes it difficult to save or download the image with its corresponding filter.

[2018-01-20 10:05] tarique93102 opened #69 "Webcam issues on Chrome for android"
First of all, great library. Kudos to that. I used it in a project. But on Chrome for android, I have come across this issue. After giving the permission to the camera. It is opening the mobile camera sometimes and sometimes it is not. If you want you can have a look at the simple solution I have built.

https://cameria.herokuapp.com

Help in resolving this issue would be super awesome.

[2018-01-30 19:48] rlaakkol opened #70 "Consider adding option for playsinline attribute"
I was unable to get non-fullscreen webcam output working on Safari without adding the playsinline attribute into the video tag.

[2018-02-07 03:33] kanapan opened #71 "How to capture image when onScan found"
i want to save image to base64 when onScan found qr code for send to server.

how should i do?

thx for answer.

[2018-02-07 04:20] #71 closed

[2018-02-14 21:52] voody2506 opened #72 "How to convert image from webcam to URL?"
Hello! I am new in React Js. Can You help me? I want to create face recognition web app. And should to sent image from webcam to API Service. I need to sent image data in URL Format. How can I do It?

This is my solution:

[code]

But I have error message:
code: "InvalidURL", message: "Invalid image URL."

Thank You!

[2018-02-26 04:48] joemillervi opened #73 "Safari on desktop not working"
safari 9.1.2
osx 10.11
No errors, just shows a black square.

[2018-02-28 16:46] aniruddhashevle commented on #73
This issue is resolved, but not published in npm yet!

[2018-03-07 11:46] francisco4challenge opened #74 "how can i use onUserMedia?"
This hook method has no parameters, what is its use? how can i get the stream to aplly zoom?

[2018-03-12 21:13] marlonmantilla commented on #57
hey guys, does this means it will work with IE 11 ?

[2018-03-25 12:01] facilitator999 opened #75 "switching camera on chrome android"
Hi

Ive been able to use the front camera but not back, is it possible to switch?

Thanks

[2018-03-28 11:03] Flavien opened #76 "URL.createObjectURL deprecation in July 2018"
Chome gives the following warning when using the package:

[2018-03-31 11:01] mozmorris commented on #73
Closed by #68

[2018-03-31 11:01] #73 closed

[2018-03-31 11:02] mozmorris commented on #42
Closed by #68

[2018-03-31 11:02] #42 closed

[2018-03-31 11:04] #24 closed

[2018-03-31 11:04] #53 closed

[2018-03-31 11:12] mozmorris commented on #74
[code]

[2018-03-31 11:12] #74 closed

[2018-03-31 11:13] #72 closed

[2018-03-31 11:15] mozmorris commented on #70
I'll add `videoProps` that will be applied to the video tag.

[2018-03-31 11:16] mozmorris commented on #67
Suggest using the canvas api.

[2018-03-31 11:16] #67 closed

[2018-03-31 11:18] mozmorris commented on #65
You have access to the dataUrl.

[2018-03-31 11:18] #65 closed

[2018-03-31 11:25] mozmorris commented on #49
You can access the stream:

[code]

[2018-03-31 11:25] #49 closed

[2018-03-31 11:26] mozmorris commented on #60
I believe this error has now be fixed. I'll reopen again if there's still a problem.

[2018-03-31 11:26] #60 closed

[2018-03-31 16:38] #57 closed

[2018-03-31 16:46] #70 closed

[2018-03-31 16:47] #61 closed

[2018-03-31 16:48] #48 closed

[2018-03-31 17:04] mozmorris commented on #52
Not that I can find anywhere, sorry.

[2018-03-31 17:04] #52 closed

[2018-03-31 17:06] #47 closed

[2018-03-31 17:07] mozmorris commented on #75
See #47

[2018-03-31 17:07] #75 closed

[2018-03-31 17:07] mozmorris commented on #54
See #47

[2018-03-31 17:07] #54 closed

[2018-04-02 11:04] #66 closed

[2018-04-04 23:19] miguelmota opened #77 "Support facingMode"
`MediaTrackConstraints.facingMode` allows you to specify which camera to use in mobile devices

https://developer.mozilla.org/en-US/docs/Web/API/MediaTrackConstraints/facingMode

[2018-04-07 10:16] mozmorris commented on #69
Hello @tarique93102, would you mind testing this again with the latest version (1.4.1)?

[2018-04-07 17:36] mozmorris commented on #76
Note, the library does handle setting srcObject if the createObjectURL fails.

[2018-04-07 23:41] jkslyby opened #78 "Dependency error - factoryWithThrowingShims"
I tried to use your module, but I received the following error:

`error: Resolving deps of node_modules/react-webcam/dist/react-webcam.js failed. Could not load module './factoryWithThrowingShims'`

After some digging, I found someone else with a similar [issue](https://github.com/alibaba/BizCharts/issues/99#issuecomment-357192791).

The solution is to update the webpack config and include prop-ty

[2018-04-08 13:10] mozmorris commented on #78
@jkslyby thanks for this report. Any chance you could provide me with a way to reproduce this error? Perhaps push up a quick repo?

[2018-04-08 13:29] #78 closed

[2018-04-08 13:32] mozmorris commented on #78
Actually there's no need. Thanks again for this report.

[2018-04-08 14:53] mozmorris commented on #77
Have played around with this a bit but I can't get it to work unfortunately. I'm using iOS in this example.

[code]

The problem I see is that the `MediaTrack` returned by `this.webcam.stream.getVideoTracks()` is a particular camera. Trying to apply the `facingMode` constraint to a particular camera doesn't make sense to me. Clearly it's in the spec so perhaps I'm not "getting it".

The only way I

[2018-04-08 15:24] mozmorris commented on #77
Okay so I understand this a little better now and will need to work like in my second example. And it's already been mentioned in #40 that React Webcam should support passing in a constraints

[2018-04-08 15:44] mozmorris commented on #77
Closing - see #40

[2018-04-08 15:44] #77 closed

[2018-04-09 03:10] miguelmota commented on #77
Thanks for looking into this!

Being able to pass in custom constraints would also be ideal.

[2018-04-21 02:58] 0oMarko0 opened #80 "The webcam doesn't work on aws"
I can't open the webcam if my website is host on AWS ?

[2018-04-21 11:01] mozmorris commented on #80
It won't be related to _where_ your application is hosted, more like _how_ it's served. It's almost certainly that your application is running on an insecure origin.

[2018-04-22 18:16] 0oMarko0 commented on #80
Starting with Chrome 47, getUserMedia() requests are only allowed from secure origins: HTTPS or localhost'

yes exaclty thanks for the response :)

[2018-04-22 18:16] 0oMarko0 commented on #80
i didn't use https

[2018-04-23 07:53] #80 closed

[2018-04-28 00:42] infinityl00p commented on #65
@mozmorris Care to explain how this works? I'm trying to send the screenshot as a file to a server. I'm not sure how that would work with your answer above.

[2018-04-28 05:31] aniruddhashevle commented on #65
@infinityl00p : Yes, that's what I did.

[2018-05-07 13:29] lamuertepeluda commented on #76
@mozmorris wouldn't the converse approach be better? I mean trying createObjectURL if srcObject fails/not supported...

[2018-05-14 08:23] andricicezar opened #84 "Better error hint"
I spent a few hours to understand why this component was not requesting for permissions to access the webcam, to find out that in Chrome, you can't request for the webcam if the site is not secure.

Error returned by `onUserMediaError`:
[code]

Find out more here: https://www.chromium.org/Home/chromium-security/prefer-secure-origins-for-powerful-new-features

Maybe a big hint should be added in th

[2018-05-15 07:48] mozmorris commented on #84
Will add to the readme. Apologies, because this has been covered in various issues in the past.

[2018-05-16 06:26] syam1123 commented on #30
@mozmorris Have you managed to add the record video feature in react-webcam?

[2018-05-21 11:46] TVAO commented on #76
Hi @mozmorris I have used your package but it no longer works on any devices or browsers. It would be awesome if you could change it to use HTMLMediaElement.srcObject instead of using URL.createObjectURL that has now been deprecated. Currently, the Webcam is no longer rendered in the browser.

[2018-05-22 07:39] dahannes commented on #65
@mozmorris What do you think about adding a prop `screenshotDataFormat` which defaults to `base64` but also allows `blob`. That way we could make use of `HTMLCanvasElement.toBlob()` without the need to convert the base64 string afterwards.

[2018-05-30 15:46] matheusportela commented on #69
I confirm this is happening to me as well, including in several Android versions and with the current Chrome build 66.0.3359.158. I'll try and gather more info on this issue.

[2018-05-31 03:56] micheldelgallo commented on #74
Hi mozmorris! how can I get all stream data everytime? The WEBCAM component invoke some event always while the cam is on? I would like to stream my webcam online and post the data to the api everytime; The onUserMedia was invoked one time; Thanks

[2018-06-11 12:29] demo-boilerplates opened #85 "USe Back Side Camera in Android"
How to use a back side camera in android devices??

[2018-06-13 15:18] mrTurkay commented on #85
same issue +1

[2018-06-16 17:30] piltsen opened #86 "If webcam is inside a modal, and the modal is closed soon after the modal is opened, the webcam does not stop"
Hello,

Thanks for the wrapper, it worked really well for our purpose.

We have, however, found a small inconsistency. If we put the webcam inside a modal, and for whatever reason we close the Modal before the camera had the time to initialise, the camera stays 'on'. Almost in a locked state. If we try to open the Modal again, the camera does not show, because it is busy already with another proce

[2018-06-17 04:49] MaxAlex666 opened #87 "Support in function getScreenshot save in blob"
Support in function getScreenshot save in blob and qualityArgument.

[2018-06-24 13:32] Im-Goutham commented on #80
Will it not work in http

[2018-06-27 12:47] #40 closed

[2018-06-27 13:11] mozmorris commented on #85
@demo-boilerplates @mrTurkay

Use the `videoConstraints` prop to specify `facingMode` as `"environment"`.

[code]

[2018-06-27 13:11] #85 closed

[2018-06-27 13:14] mozmorris commented on #40
Thank again @leeduan.

[2018-06-28 08:33] mozmorris commented on #86
@piltsen do you have a repo where I can reproduce the issue?

[2018-06-28 08:35] mozmorris commented on #69
@matheusportela any details to how I can reproduce? I've been testing on a fairly standard Moto G phone without any issues.

Do you perhaps have a repo which shows the issue?

[2018-06-28 10:13] #76 closed

[2018-06-28 10:19] #84 closed

[2018-07-03 13:18] nchandna opened #88 "issue in setRef-module failed"
Please find attach image ,can you @mozmorris  let me know the reason of this error.

below is my app.jsx file
import React from 'react';
import Webcam from 'react-webcam';

class App extends React.Component {

    setRef = (webcam) => {
        this.webcam = webcam;
    }
    capture () {
        const imageSrc = this.webcam.getScreenshot();
        alert(imageSrc);
    };

    render() {

[2018-07-03 15:03] mozmorris commented on #88
Please see https://babeljs.io/docs/en/babel-plugin-transform-class-properties/

[2018-07-03 15:03] #88 closed

[2018-07-04 13:42] evgenydk opened #89 "URL.createObjectURL deprecated"
Chrome shows me this warning in the console. I assume the component could get broken at any time?

[2018-07-04 13:44] mozmorris commented on #89
Please update to the latest version.

[2018-07-04 13:44] #89 closed

[2018-07-04 20:05] matheusportela commented on #69
I'm using this component in my company and we'll soon start collecting more info on the devices that fail to open the camera. As soon as I have these data, I'll let you know.

[2018-07-06 18:07] anaghakomawar opened #90 "Not able to see the capture button"
Hello there,

I am sorry for the question. I am new to react.

I have implemented the code. I am able to see myself. But not able to see the button to capture the image?

Please help .

Thanks in advance

[2018-07-11 10:00] zaahirlaher opened #91 "Using rear camera"
Hi,

How to I default to the rear facing camera?

[2018-07-11 10:03] mozmorris commented on #91
Use the `videoConstraints` prop to set `facingMode`. Example in the README.

https://developer.mozilla.org/en-US/docs/Web/API/MediaTrackConstraints/facingMode

[2018-07-11 10:03] #91 closed

[2018-07-14 17:05] mansya opened #92 "New logo/icon"
Hi, I am a graphic designer, I want to help others in graphic design.

After I reviewed your project, you have no logo on this project. Therefore I want to contribute to this project by creating a new logo / icon. what do you think?

[2018-07-16 21:29] mozmorris commented on #90
Please see the sample code in the README.

[2018-07-16 21:29] #90 closed

[2018-07-17 15:31] Ziv-Barber opened #94 "Width and height not working at all"
Example code:

  render() {
    const videoConstraints = {
      width: 480,
      height: 640
    }

    return <Webcam height={640} width={480} videoConstraints={videoConstraints}></Webcam>
  }

[2018-07-17 16:10] mozmorris commented on #94
Probably more to do with the webcam's capability. Check: https://codepen.io/anon/pen/xJOVmB

[2018-07-18 00:02] BigBrain-AI opened #95 "Crashes on Chrome for mobile iOS (both iPad and iPhone)"
Tested on iOS11 for both iPad and iPhone.

Is there a way to debug on Chrome for mobile iOS? I'll try to post error if it's possible.

[2018-07-18 04:38] congdcit commented on #95
It's not support for IOS.

[2018-07-18 15:01] ggsjyoon commented on #95
Really? It seems to be supported for iOS11 according to this thou.
https://caniuse.com/#feat=stream

[2018-07-19 16:36] natefoundry opened #96 "navigator.mediaDevices is undefined when run on iOS"
I set my web app as a homepage app using 'Add to Home Screen' which makes the app a PWA.

Apparently there is a bug in iOS that doesn't allow media devices to work in this mode:

https://stackoverflow.com/questions/46228218/how-to-access-camera-on-ios11-home-screen-web-app

This causes an error with the Webcam component since it isn't null checking `mediaDevices` before calling `getUserMedia()`:

[2018-07-20 05:31] danderson00 commented on #87
@MaxAlex666 The workaround for this for now is to use `getCanvas` and then call `toBlob` on the returned canvas. This is essentially what `getScreenshot` is doing - https://github.com/mozmorris/react-webcam/blob/master/src/react-webcam.js#L162

[2018-07-20 09:05] AbreezaSaleem opened #97 "How to turn webcam off?"
I dont see any option to turn webcam off. How do I turn it off?

[2018-07-30 19:05] danielpickert opened #98 "How to connect to other webcams for Video Chat app?"
Trying to make a video chat app in React. I have the react-webcam up and running. How can I connect to other webcams now (Chatroulette style)?

[2018-08-01 19:35] BonnieMilian commented on #48
Hi :) I try it on a Android (8.0) Mobile browser (chrome), and is not working, also dont ask for permission.

[2018-08-02 10:50] wirob opened #99 "TS - Property 'videoConstraints' does not exist"
The @types/react-webcam does not have the property videoConstraints.

[code]

[2018-08-02 10:55] wirob commented on #98
[WebRTC](https://webrtc.org/) would help you achieve you goal

There's an example app here - [AppRTC](https://appr.tc/)

[WebRTC MDN](https://developer.mozilla.org/en-US/docs/Web/API/WebRTC_API)

[2018-08-02 10:56] mozmorris commented on #99
You'll need to raise an issue on https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/react-webcam I believe.

[2018-08-02 10:56] #99 closed

[2018-08-02 11:16] mozmorris commented on #97
https://codepen.io/mozmorris/pen/PBezdq?editors=0010

[2018-08-02 11:16] #97 closed

[2018-08-02 11:21] #95 closed, assigned to nobody

[2018-08-02 11:34] wirob commented on #97
Any plans on implementing this?

[2018-08-02 13:25] mozmorris commented on #97
Not really, I don't think it's needed imo. You're better off unmounting the component e.g https://codepen.io/mozmorris/pen/pZVedZ?editors=0011

[2018-08-02 13:28] mozmorris commented on #92
Yeah, why not. 🙂

[2018-08-02 17:09] mansya commented on #92
I have design logo for this project. what do you think ? an wich one do you like it ?

![react webcam](https://user-images.githubusercontent.com/33461607/43599324-6ae6f874-96b1-11e8-9ed0-6cf578f7f558.png)

[2018-08-06 12:01] EvgenyMuryshkin opened #100 "Multiple Webcam objects for front and rear camera on same screen"
Hi,
I am trying to show both front and rear cameras from laptop side by side.
[code]
Each component individually works fine, but when they are together - first one wins and both component displays same stream.

Do you have any suggestions on how this can be done?

Thanks,
Regards,
Evgeny

[2018-08-07 07:27] mansya commented on #92
I have upload all file to this link.
https://drive.google.com/open?id=16sWbqJ6m8ZrzhnyceAkLqzqIv2hKEJ4G

And I have sent you [Pull requests.](https://github.com/mozmorris/react-webcam/pull/101) please check it.

[2018-08-13 12:03] massimopibiri commented on #69
Smae problem here. Version 68.0.3440.84 (Build officiel) (64 bits). Not asking for permission and not showing the camera on mobile. Working perfectly on laptop. https well configured.

[2018-08-13 13:39] mozmorris commented on #69
@iltoga @massimopibiri I have the latest version on a fairly newish Android phone working here. Are you able to access the dev tools and see if there's any error?

[2018-08-13 13:41] mozmorris commented on #92
Thank you @mansya !!! 😍

[2018-08-13 13:43] #92 closed

[2018-08-13 13:47] mozmorris commented on #100
@EvgenyMuryshkin I believe this is a hardware restriction and will depend on your device. I've never seen this working despite trying it on various phones and laptops.

[2018-08-13 13:47] #100 closed

[2018-08-13 14:25] massimopibiri commented on #69
the proble really appears just on the mobile phone once online en https. Android 6.0.1

[2018-08-13 14:34] massimopibiri commented on #69
Sorry... it was a problem on https configuration.

[2018-08-13 14:50] #69 closed

[2018-08-14 06:51] Valerio69 commented on #86
Hello, first of all thanks for this components! 👍
This happened to me as well using the SweetAlert (modal Alert) from Material UI Pro components
For example when the user open the Modal Alert and close it before he "Allow" the browser to use the webcam.

[code]

When that happen the 'componentWillUnmount' event is never setting **userMediaRequested** to false because both
**Webcam.mountedInstances

[2018-08-14 08:48] mozmorris commented on #86
@Valerio69 thank you for the PR and your follow up comment here. It's appreciated.

Quick question before I dig deeper:

If this were the case, userMediaRequested would still end up being set to false. Did you mean one of those conditionals is false?

[2018-08-14 12:25] kreba opened #103 "MediaStream.stop() is deprecated"
Thank you for putting this nice library out there! :heart:

When unmounting the webcam, the following warning appears in the JavaScript console:

[2018-08-14 15:58] mozmorris commented on #103
@kreba what browser is this in?

[2018-08-14 16:39] Valerio69 commented on #86
yes I'm sorry, I edited my answer.
"**Webcam.mountedInstances.length === 0** is true but "**this.state.hasUserMedia**" is false.

[2018-08-14 19:30] mozmorris commented on #86
Okay, I can see how your solution solves the issue when you reopen the modal. Let me test it and I'll merge it. I can see there being an issue though when there are multiple instances of the component on the page. Although I have a suspicion that functionality doesn't truly work even though the demo using multiple instances works fine. 😉

[2018-08-15 18:38] jantonysolstice commented on #48
same as bonnie

[2018-08-16 08:48] kreba commented on #103
@mozmorris thanks for the fast response!

This was in **Firefox 61**.0.1 (64-bit) on Ubuntu 18.04
Also tried it in Chromium and got no such warning.

[2018-08-16 08:59] mozmorris commented on #103
@kreba thank you. Will take a look.

[2018-08-17 14:07] mozmorris commented on #30
@shane-hogan see https://developer.mozilla.org/en-US/docs/Web/API/HTMLMediaElement/captureStream. There's also a guide https://developer.mozilla.org/en-US/docs/Web/API/MediaStream_Recording_API/Recording_a_media_element

[2018-08-17 19:18] scannillo opened #104 "videoConstraints property not accessible"
Hello. I cannot access the videoConstraints property in my code, however I see it written in the framework. The autocomplete shows 'videoSource' but not 'videoConstraints', while videoSource is NOT a prop in the framework. I am confused and would like help on accessing this to change my user facing camera. Thanks!

Property` 'videoConstraints' does not exist on type 'IntrinsicAttributes & Intrinsi

[2018-08-17 20:27] mozmorris commented on #104
This is unrelated to this project, sorry.

[2018-08-17 20:27] #104 closed

[2018-08-28 23:18] saish007 opened #106 "Cannot read property 'getScreenshot' of undefined"

[2018-09-01 14:39] mozmorris commented on #106
@saish007 thanks for filling an issue.  Could you provide an example of how to reproduce the error?

[2018-09-11 03:26] b33son opened #107 "Does not work on IOS 11.4.1 using Chrome"
I confirmed this works on Safari but does not work on Chrome using IOS 11.4.1.

[2018-09-13 14:38] hyphaene opened #108 "rear camera not triggered when <Webcam /> properly configured"
Hi,

I'm displaying the component in an app, but for an unknown reason I can't access to the rear cam, even though I properly configured it according to the README.md and the mozilla section it refers to .

Here is my component declaration

[code]

I use Chrome version 69

Thanks !

[2018-09-14 09:49] mozmorris commented on #108
@hyphaene have you tried this approach:

[code]

What hardware are you using?

[2018-09-14 14:17] mozmorris commented on #103
Fixed in #486b459

[2018-09-14 14:17] #103 closed

[2018-09-15 07:13] wiput1999 opened #109 "Can I use onUserMedia to stream to server?"
Hi, I'm planning to use onUserMedia to stream to a server can I do that?

[2018-09-15 08:42] mozmorris commented on #109
See #30

[2018-09-15 08:42] #109 closed

[2018-09-15 08:56] #86 closed

[2018-09-15 09:07] #96 closed

[2018-09-16 09:55] mozmorris commented on #109
No, that's just called once.

You can get access to the stream via a ref e.g `this.webcam.stream` when `this.webcam` is the ref to the component. Then see https://developer.mozilla.org/en-US/docs/Web/API/MediaStream_Recording_API/Recording_a_media_element for an implementation on how to record that stream.

[2018-09-18 10:16] hyphaene commented on #108
Hi @mozmorris ,

I tested the settings with my phone, whitout problem.

The issue was with a samsung tab, which I can't test on anymore.
Since it is working at least on one device, I assume it is most an hardware issue, then I'll close this issue.

Thanks for the reactivity !

[2018-09-18 10:16] #108 closed

[2018-09-21 06:57] modestotech opened #113 "Tracking"
Is the [tracking.js](https://github.com/eduardolundgren/tracking.js) library compatible with react-webcam? I have an existing Webcam component that I want to add tracking capabilities to. I prefer not to build the whole webcam component up from the ground.

[2018-09-23 17:42] mozmorris commented on #113
Looking at the docs briefly, yes.

[2018-09-23 17:42] #113 closed

[2018-09-25 11:26] dbartholomae opened #115 "Increase resolution of getSnapshot on iPhones"
Hi there!

Lovely project, very helpful! We are currently using it to take pictures, and on most devices it works fine, but on iPhones the screenshot has a worse resolution than the video stream. Anyone else encountered this problem? I didn't find a solution yet, but if someone can point me in the right direction, I would also be willing to contribute a PR.

Best,
Daniel

[2018-09-25 11:45] dbartholomae commented on #115
Based on my current research the issue seems to be limited support of the canvas drawImage function on iOS. In the [docs](https://developer.apple.com/documentation/webkitjs/canvasrenderingcontext2d/1630282-drawimage) it is written that the source cannot be a video element (as in this case) - but the docs don't seem to be totally up to date, given that the video element works, just with reduced res

[2018-09-25 19:07] mozmorris commented on #115
I wonder if #112 might help here.

[2018-09-25 19:09] mozmorris commented on #87
@danderson00 like this. Agreed, the getScreenshot is just for convenience. The component still offers access to the canvas as well. I'm going to close this.

[2018-09-25 19:09] #87 closed

[2018-10-16 12:52] PaulPCIO opened #116 "Mirror facing camera"
Hi, are there any solutions to mirror the facing camera, current it is not a mirror stream of what the camera sees, would be nice to have a prop to be able to mirror the stream, i am forced to use scaleX(-1) but the actual image is still flipped so it does not help.

[2018-10-16 14:06] PaulPCIO commented on #116
created a solution https://github.com/mozmorris/react-webcam/pull/117

[2018-10-22 07:28] simonzak opened #118 "Problem using react-webcam in chrome extension"
Hi,
I have a problem with react-webcam when using it inside chrome extension. No errors, no camera allow/block popup. The whole problem described here:
https://stackoverflow.com/questions/52856572/react-webcam-component-doesnt-work-inside-chrome-extension
Any ideas how to make it work?

[2018-11-15 10:37] sunr1ze opened #119 "Method onUserMedia() fires before web camera is active"
I render camera by button and if I try to capture a photo by method `getScreenshot` right after render, it returns me `null`. I tried to fix it by adding a flag that points that a camera is ready to capture a screenshot, but `onUserMedia()` fires before a camera is ready

You can reproduce it if try to use `getScreenshot` in `onUserMedia()`

[2018-12-03 17:12] marianobrc commented on #57
Hi, is this issue supposed to be fixed already in the last release?
I'm having an issue with the cammera in v1.0.4 in iOS 12 in safari and chrome, the cammera component just doesn't work.

[2018-12-05 19:21] asaeed commented on #57
+1

would be nice to give us a quick status when closing issues. thanks for the great lib!

[2018-12-05 19:31] mozmorris commented on #57
@marianobrc do you see an error?

![img_9084](https://user-images.githubusercontent.com/156303/49538915-64030c80-f8c4-11e8-9291-c69508eb13f2.jpeg)

[2018-12-05 19:33] mozmorris commented on #57
@asaeed this was closed by a commit, apologies if that wasn't clear.

[2018-12-11 22:53] myktra opened #121 "allow webcam to display/capture content "right-side up" regardless of orientation"
If a webcam is oriented at an angle relative to an object (for example, an external webcam) provide a method for rotating the displayed video stream and captured screenshot so the object is still rendered "right-side" up.

[2018-12-19 19:51] jessicauk opened #122 "The function createObjectURL is deprecated for Google Chrome"
Two days ago my code stopped working, please help me to fix it.

[2018-12-20 09:51] mozmorris commented on #122
Are you running the latest version?

[2018-12-20 09:56] mozmorris commented on #119
@sunr1ze have you considered adding a short timeout before using getScreenshot? I have found that some devices e.g Apple Laptops, have a delay before the image is streamed, but my phone for example, streams almost instantly.

[2018-12-20 10:22] mozmorris commented on #118
@simonzak I'm guessing this might be the same problem as #96

[2018-12-24 16:38] sunr1ze commented on #119
@mozmorris yes, I have added 500ms timeout and it looks like ok

[2019-01-15 01:51] carlos0202 commented on #49
Hi!

But, how can you control start and stop of the stream and also the save of the stream?

Also, any advice to make this component play nice with react-redux and redux-form library?

Thanks in advance!!!

[2019-01-15 14:58] steverob opened #124 "Does not work in iframe"
I'm trying to load the webcam component from within an iframe and the video element just does not load. I don't see any errors in the console as well.

Here's a demo - https://codepen.io/anon/pen/wROKpQ. Here I'm embedding this app I've built on Glitch (https://glitch.com/edit/#!/tasty-peony) inside CodePen

[2019-01-15 15:17] mozmorris commented on #124
How about this: https://codepen.io/mozmorris/pen/XoGXdR ?

[2019-01-15 15:17] steverob commented on #124
Looks like Chrome has depricated cross-origin user-media access unless allowed by the parent. More here - https://dev.chromium.org/Home/chromium-security/deprecating-permissions-in-cross-origin-iframes

Needed to add `allow="camera;"` attribute in the iframe tag.

[2019-01-15 15:18] steverob commented on #124
@mozmorris thanks I figured out the same :) :) I should dig in and try to debug more before posting issues! :D

[2019-01-15 15:18] #124 closed

[2019-01-15 15:18] mozmorris commented on #124
Any chance you could add this to the README @steverob ?

[2019-01-15 15:20] steverob commented on #124
@mozmorris sure!!! :)

[2019-01-16 17:09] mozmorris commented on #118
Closing due to inactivity.

[2019-01-16 17:09] #118 closed

[2019-02-12 12:03] dbartholomae opened #126 "Please use semantic versioning in the future"
When renaming `screenshotWidth` to `minScreenshotWidth` this broke our code. Please increment the breaking version (e. g. going from 1.0.4 to 2.0.0) when changing the interface of the component as projects will automatically install new packages as long as it is still in range (the breaking version remains the same).
You can find more information on semantic versioning here: https://semver.org/

H

[2019-02-12 14:01] mozmorris commented on #126
Ahhhhh my bad @dbartholomae - reviewed this and totally missed that `screenshotWidth` was going away.

[2019-02-13 08:54] Gunapvkn opened #127 "I would like to capture a video and audio. How can i implement the same using this component. Kindly provide input. Appreciate your help."
I would like to capture a video and audio. How can i implement the same using this component. Kindly provide input. Appreciate your help.

[2019-02-15 13:42] mozmorris commented on #127
See #30

[2019-02-15 13:42] #127 closed

[2019-02-15 15:05] dbartholomae commented on #126
No worries. If help is needed with the repo I can also help out :)

[2019-02-19 17:24] nvizo opened #128 "Invalid constraint error message on Safari 11 with external webcam"
Webcam feed is not opening on Safari 11

[2019-02-19 17:27] mozmorris commented on #128
Can you try this link: https://codepen.io/mozmorris/pen/JLZdoP

<img width="701" alt="screen shot 2019-02-19 at 17 26 36" src="https://user-images.githubusercontent.com/156303/53034667-9952db80-346b-11e9-8772-0a57bca85d9b.png">

[2019-02-19 19:05] nvizo commented on #128
Yeah it's not showing any video feed in Safari. Chrome and Firefox are working fine. My camera is Logitech C922. I am also on Safari 11.1.

When I run the following snippet:

[code]

I am getting OverconstrainedError.

[2019-02-19 19:20] nvizo commented on #128
![`OverConstrained error`](https://i.imgur.com/enGLuVf.png)

[2019-02-19 19:37] mozmorris commented on #128
Does it work with your internal webcam?

[2019-02-19 22:05] nvizo commented on #128
I was testing on a Mac Mini with the Logitech C922. I just tried on my Macbook Pro running High Sierra and Safari 11.0.1. Same issue cannot open internal webcam.

[2019-02-19 22:08] mozmorris commented on #128
Thanks for more info. Is it the same error message on the Macbook?

[2019-02-20 15:31] BenQwOw opened #129 "Camera change bug"
The API is not changing the camera the first time we change the deviceId.
After checking the API's code I detected that the requestUserMedia(), called in the componentWillUpdate, doesn't take into account the nextProps but the current, so after changing the constraints' deviceIds the recording shown is always from the wrong camera.
Can you fix this? Maybe using componentDidUpdate?
Thanks in advanc

[2019-02-20 15:33] Bajoja commented on #129
I'm having the same problem :(

[2019-02-21 05:59] nvizo commented on #128
Getting cross origin issues on the MacBook. Will continue looking into Safari this week. I'll let you know if I figure it out.

![Macbook Pro, Safari error messages](https://i.imgur.com/3gGA7Xn.png)

[2019-02-24 16:20] makis-spy commented on #24
Has anyone made any progress on this? Would be nice to not have to process say a snap shot image after the fact.

Thanks!

[2019-03-04 16:23] mozmorris commented on #129
@BenQwOw @Bajoja PRs welcome 😄

[2019-03-04 16:50] mozmorris commented on #129
Thank @BenQwOw.

[2019-03-04 16:50] #129 closed

[2019-03-07 05:33] ArunSelvaraj7 opened #131 "Issue in chromium browser of raspbian"
hello, usb webcam not supported in chromium browser. browser is asking permission to access the webcam, but when permission is given the webcam just pops up and then closes in a fraction of a second.

[2019-03-20 07:21] chriswingler opened #132 "Setting ref using functional component"
How would you go about doing this?

I'm trying:

[code]

But can't get it to work.  ( Not sure if this is me not understanding refs or an issue with react-webcam and functional components )

[2019-03-20 09:59] mozmorris commented on #132
You should use's React's `createRef`. Here's a demo https://codepen.io/anon/pen/MxqRgo

See the React docs for more info: https://reactjs.org/docs/refs-and-the-dom.html#refs-and-function-components

[2019-03-20 09:59] #132 closed

[2019-03-20 10:30] mozmorris commented on #131
@ArunSelvaraj7 have you got a sample application or are you trying to run the demo?

[2019-03-20 10:30] mozmorris commented on #128
@nvizo are further info on this? Did you ever get it working?

[2019-03-20 10:31] #126 closed

[2019-03-31 12:24] ischeck commented on #128
@mozmorris @nvizo  I have encountered the same problem,Maybe the reason is  "https"?

[2019-04-29 17:33] ben923 opened #133 "Cant get camera on local web page"
Hi everybody,
I'm using reactjs to make a web application like snapchat for a school project.
when i try react-webcam on codepen it's actually works and asking me to allow using camera on the browser but when i use it on my reactjs app then i go on my webpage and it don't ask to allow the cam and i cant get the datas,
somebody can help me or have the same issues?
thanks

[2019-04-30 03:27] chloeseun opened #134 "videoConstraints sizing"
so my `<Webcam />` component is wrapped in a div that has `{width: 100vw, height 100vh}`

I want the video element to take after the parent div's dimensions and take up 100% of the screen view at all times including when browser is resized but it seems to have a certain ratio restriction.

Things I've tried:
- set `<Webcam />`'s height and width to 100%
- set `<Webcam />`'s height and width to 100

[2019-04-30 11:57] mozmorris commented on #133
Are you using https?

[2019-05-11 01:58] qkreltms commented on #134
try this
[code]

[2019-05-12 08:46] #133 closed

[2019-05-12 08:55] mozmorris commented on #134
@chloeseun here's a demo: https://codepen.io/anon/pen/BezrMY

[2019-05-12 08:55] #134 closed

[2019-05-13 08:01] #131 closed

[2019-05-13 08:01] #128 closed

[2019-05-22 02:15] FinnFrotscher commented on #95
any update on this?

[2019-05-22 08:41] mozmorris commented on #95
@FinnFrotscher nope, still not supported. See https://bugs.webkit.org/show_bug.cgi?id=185448#c6

[2019-05-27 19:39] dhowe opened #135 "Get the image data without showing the preview window?"
Is it possible to grab image data without showing the preview window onscreen?

[2019-05-27 21:09] mozmorris commented on #135
@dhowe perhaps just hide it offscreen? Example: https://codepen.io/anon/pen/OYEGZX?editors=0010

[2019-05-29 13:18] #135 closed

[2019-05-29 13:25] dhowe commented on #135
Thanks, Grant! This does in fact work, though my original strategy of visually hiding the component (via css display) does not. Any idea why?

[2019-05-29 13:31] mozmorris commented on #135
The canvas, in this case the screenshot, is generated from the video element. See https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/drawImage

If that element is hidden, there's nothing to draw to the canvas from e.g the video element has no width, height, etc.

[2019-06-01 00:46] issnoejasso opened #136 "@demo-boilerplates @mrTurkay"
@demo-boilerplates @mrTurkay

Use the `videoConstraints` prop to specify `facingMode` as `"environment"`.

[code]

_Originally posted by @mozmorris in https://github.com/mozmorris/react-webcam/issues/85#issuecomment-400666104_

On android device it`s not working.

[2019-06-04 09:28] #136 closed

[2019-06-08 04:47] jasan-s commented on #24
@smronju which PR ? has it been merged in to master? i dont see an option to mirror in docs

[2019-06-13 10:00] Ciabas commented on #95
How about a note about not supporting IOS on README?

[2019-06-13 13:08] mozmorris commented on #95
@Ciabas good suggestion but https://caniuse.com/#feat=stream clearly states it's not supported and this is linked to at the top of the README. It's better imo to use this table as it's kept up to date.

[2019-06-26 16:25] ppozniak opened #140 "Passing ID to video element"
Hello. It seems it doesn't accept ID props. Any particular reason why?
I would be happy to make a PR as it doesn't seem like lot of work.

[2019-07-04 04:41] usmanramay opened #141 "how i can get the url of captured image. ?"

[2019-07-04 04:43] usmanramay opened #142 "how i can get the url of captured image. ?"
i am using the react-webcam in my application but the problem is that i have to send the url of capture image to the server and i did not found any way to get the url path of image.
please help me out.
thanks for amzaing library.

[2019-07-04 08:46] mozmorris commented on #142
Here's an example: https://codepen.io/anon/pen/ZdjYLP?editors=0110

[2019-07-04 08:46] #142 closed

[2019-07-04 08:46] #141 closed

[2019-07-05 07:31] usmanramay commented on #141
@mozmorris atleast you should have to reply.

[2019-07-05 08:14] mozmorris commented on #141
@usmanramay you opened the issue twice. See #142 where I've already replied with an example I've written for you.

[2019-07-05 08:16] mozmorris commented on #140
@ppozniak PRs are always welcome. I think it would be better if all non-specific Webcam props are passed to the `video` element. I'll look at this shortly.

[2019-07-07 19:37] mozmorris commented on #140
@ppozniak I have a PR (#143) open for this. Fancy testing it out?

[2019-07-08 13:07] Kalaschnik opened #144 "Support for Overlays"
Is there any convenient way to add transparent overlays over the stream?
For example: Adding this crosshairs for aligning the person:
https://ui-ex.com/images/transparent-crosshair-sniper-6.png

[2019-07-08 13:23] mozmorris commented on #144
Depends if you want it part of the final image/stream. If not, why not simply overlay your image? eg: https://codepen.io/anon/pen/XLyJzB

[2019-07-08 14:37] ppozniak commented on #140
Seems to work properly, good job

[2019-07-08 14:41] mozmorris commented on #140
Thanks for reviewing @ppozniak 👍

This isn't technically a breaking change but as I'm now passing all props to the underlying video element, there is a small risk this could unexpectedly break other peoples uses of the component. As such, I'll release this in a major bump shortly. I also need to update the README as well.

[2019-07-08 14:42] Kalaschnik commented on #144
Oh, thanks @mozmorris! It should be indeed not part of the final stream. Thanks! This is super off topic now, but do you have any experience with the image cropping after the image has been captured? I basically need to get rid of the area outside of the circular crosshairs, that means I would end up with a round image and transparent regions to fill the square, something like this:
https://previe

[2019-07-08 14:48] #144 closed

[2019-07-08 17:00] tung-eh opened #145 "Cannot set false for constraints"
I want to grant video permission only, I expect that passing `false` as `audioConstraints` prop will make it works but it's not.

Maybe caused by this code
[code]

The [MediaStreamConstraints](https://developer.mozilla.org/en-US/docs/Web/API/MediaStreamConstraints) API can receive a boolean as params for audio/video, so I think better check `audioConstraints` equal to `undefined` to return `true`

[2019-07-09 11:59] mozmorris commented on #145
@tung-eh Thanks for the issue and for finding the offending code. I'll get a fix in.

[2019-07-09 12:05] mozmorris commented on #145
@tung-eh also, you should be able to set the `audio` prop to `false` to achieve this as well.

[2019-07-09 12:10] #145 closed

[2019-07-09 13:43] tung-eh commented on #145
@mozmorris I didn't notice that we have `audio` prop, just found the `audioContraints` then go directly here, thanks for pointing out

[2019-07-11 08:41] Kalaschnik opened #147 "Use external USB Webcam as facingMode parameter"
I’m working on a device which has 2 builtin cameras:

`facingMode: "user"` enables the front camera. And `facingMode: { exact: "environment" }` enables the back camera. However, I want to access my attached external USB Camera. I know it is possible since `enumerateDevices()` provides an array of all available devices, yet I think it is not implemented to choose a third option (aside from from the

[2019-07-11 10:54] mozmorris commented on #147
It's possible to pass in a `deviceId` using the video constraints: see https://developer.mozilla.org/en-US/docs/Web/API/MediaTrackConstraints

[2019-07-11 10:54] #147 closed

[2019-08-05 14:05] maverickVision commented on #48
August 2019, still same as Bonnie...

[2019-08-05 14:12] mozmorris commented on #48
@maverickVision can you provide some further details? For example, do you have the application running somewhere I can test against? I appreciate it doesn't work for you, but leaving a comment without any extra information won't help us debug the issue.

[2019-08-27 13:06] mozmorris commented on #140
This has now been released @ppozniak, thank you for checking.

[2019-08-27 13:06] #140 closed

[2019-08-28 18:52] jpreecedev opened #151 "Detect when there is no camera"
I'd like to display an error message when the device has no webcam/it is disabled/turned off.  Can you recommend how to do this?

[2019-08-29 06:53] mozmorris commented on #151
@jpreecedev in this instance, the function you pass as the `onUserMediaError` prop should be invoked. The same would apply if the user denied permission.

Does this work for you?

[2019-08-29 06:54] mozmorris commented on #121
Closing due to inactivity, please feel free to reopen.

[2019-08-29 06:54] #121 closed

[2019-08-30 17:09] objmj-itminds opened #152 "window is not defined on version 2.0.0"
Hi  I get a window is undefined error on version 2.0.0, but downgrading to 1.1.1 the error goes away.

[code]

This is my component where the error is throw.

[code]

[2019-08-30 20:20] mozmorris commented on #152
@objmj-itminds thanks for this report. Just to let you know I am looking at it.

[2019-08-30 20:28] mozmorris commented on #152
@objmj-itminds looking at your code, I take it you're attempting SSR?

[2019-08-30 20:31] mozmorris commented on #152
Looks like we should be following this advice: https://webpack.js.org/configuration/output/#outputglobalobject

[2019-08-30 20:41] mozmorris commented on #152
@objmj-itminds I have published a new version, could you check it?

[2019-08-31 09:47] objmj-itminds commented on #152
Thank you @mozmorris for the quick answer and resolution.

Yes this is part of a SSR app.
And yes the new package resolved my issue!

[2019-08-31 09:47] #152 closed

[2019-08-31 10:19] mozmorris commented on #152
Great stuff 👍🏻

[2019-08-31 11:06] jpreecedev commented on #151
makes sense.  thanks.

[2019-08-31 11:06] #151 closed

[2019-09-05 14:12] obasilakis opened #156 "this.ctx potentially null"
Hi, recently we observed the following error occurring quite often:

`TypeError: null is not an object (evaluating 'a.imageSmoothingEnabled=this.props.imageSmoothing')`

In the new version of the library, in react-webcam.tsx line 148
`if (ctx) {..}`

Could you please elaborate on whether this new check fixes the error mentioned above?

Ps. thanks for this great library :)

[2019-09-05 14:21] mozmorris commented on #156
@obasilakis I believe so, have you tried the new version?

[2019-09-05 15:09] obasilakis commented on #156
Thanks, we will give it a try and let you know.

In the meantime could you maybe walk me through the process that led you to this change? I'm asking because we weren't able to reproduce this error locally and don't quite understand where it comes from. We are worried this change will avoid the error, but not solve the problem because the app would just do nothing in that case.

[2019-09-05 15:33] mozmorris commented on #156
The type checker made me aware that ctx could be null. It was coincidence you found this at runtime while I was also porting the code to TypeScript.

`getContext` can return `null`. Are you possible seeing this error during tests?

[2019-09-05 15:42] obasilakis commented on #156
God bless TypeScript right?

Unfortunately I found the error in production logs and wasn't able to reproduce it with any tests.

In some of the cases it occurred after the user had already taken 4 pictures, so we can be sure it wasn't a browser issue. Any ideas on what could have caused it?

[2019-09-05 16:01] mozmorris commented on #156
Was there any case where the user didn't take a picture?

[2019-09-05 16:16] obasilakis commented on #156
So far I've only seen cases where the users have taken one or a couple of pictures before the error occurred.

[2019-09-06 16:31] mozmorris commented on #156
@obasilakis I'm going to close this issue since I've believe the error is fixed. However, I do perhaps need to look at calling the error prop, then an error could be displayed to the user.

[2019-09-06 16:31] #156 closed

[2019-09-11 07:13] 20170911 opened #158 "How can I get video streams like <video></video>?"

[2019-09-11 10:16] mozmorris commented on #158
Please see #30 for various questions and discussion around this subject.

[2019-09-11 10:16] #158 closed

[2019-09-11 22:53] nvizo opened #159 "iPhone X: "Canvas area exceeds the maximum limit" when tryng to capture 4k image"
## CodePen
https://codepen.io/nvizo/pen/BaBxPGz

## Code
[code]

## Console Output
```Canvas area exceeds the maximum limit (width * height > 16777216).```

## Expected

In console print out the base64 data of the 4k image from iPhone or other 4k camera device.

## Actual
Console is printing

```Canvas area exceeds the maximum limit (width * height > 16777216).```

...and the image base64 is logge

[2019-09-13 08:08] #159 closed

[2019-09-13 09:26] ashleyongym opened #160 "Show Camera permission modal when detected permission denied"
After declining the camera permission on the pop up modal, where it says **`Would like to access the Camera`**, is there a way to bring that modal back up, whenever detected permission denied?

[2019-09-13 09:33] mozmorris commented on #160
@ashleyongym I don't believe so. You would need to inform the user to manually allow access to the camera/microphone.

[2019-09-13 10:22] ashleyongym commented on #160
I see, even on a mobile web? Seems like it's gonna be difficult for the user to manually allow access on mobile phone.

Also, to check for the permission denied, we have call this `onUserMediaError`?

[2019-09-13 10:46] mozmorris commented on #160
@ashleyongym the experience on my own mobile is actually better than desktop - Safari iOS has a icon in the address bar which can be tapped to enable/disable the camera.

Whatever function you pass as the `onUserMedaError` prop will be called when permission is denied. See https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia#Exceptions for the types of error.

[2019-09-13 11:03] ashleyongym commented on #160
Cool. Thanks for the help 😄👍

[2019-09-13 11:03] #160 closed

[2019-09-28 15:18] mozmorris commented on #116
Closed by #161

[2019-09-28 15:18] #116 closed

[2019-10-01 13:03] Englund0110 opened #162 "IE11 throws Syntax Error"
I just updated to the latest version (1.1.1 => 3.1.0), but now it throws a "Syntax Error" in IE11. The error is thrown at line 118 in react-webcam.js.

Any tips on how to resolve this?

[2019-10-01 13:56] mozmorris commented on #162
That would be as I'm targeting es2017 for the output. I guess I should really target es5.

[2019-10-01 14:16] mozmorris commented on #162
@Englund0110 I've published a new version, could you give it another try. Bare in mind it won't obviously render on ie11.

[2019-10-01 14:34] Englund0110 commented on #162
Thanks for the fast reply @mozmorris !

I have now tested the new version, and no errors was found when using IE11. It could be great if you could keep targeting es5 for a while. I know that the time will come sooner or later, but we are unfortunately still forced to support IE11 in our solution. If not, we are just sticking to the 1.1.1 version. :-)

[2019-10-01 15:20] #162 closed

[2019-10-10 04:11] diegosiao opened #163 "Not working when bundled for production"
While in development the component works perfectly as expected, but deploying to production causes the component to show a blank square in the media screen.

The **onUserMediaError** callback is never called.

[2019-10-10 06:50] mozmorris commented on #163
Thank you for this report @diegosiao

To help you with this, we need further information. Have you got a URL I can check? Even better, a basic example of your project as a Github repository would be very helpful.

Without nothing else to go on, it's hard to say what the issue is.

[2019-10-10 14:06] diegosiao commented on #163
Thanks for your response!

There is no much data or code because my implementation is as simple as the one saw on documentation, and it is working fine with no production related bundle actions such as uglyfying, compression and etc.

Since it only happens after a deploy, I imagine you could have a clue or maybe it is a known issue, maybe related to webpack in some form?

Anyway, I appreciate any

[2019-10-10 14:09] mozmorris commented on #163
Are you serving your application over SSL?

[2019-10-10 14:14] diegosiao commented on #163
No, not yet.

[2019-10-10 14:14] mozmorris commented on #163
That would be the problem.

`Note: Browsers will throw an error if the page is loaded from insecure origin. I.e. Use https.`

[2019-10-11 07:18] mozmorris commented on #163
@diegosiao I'm going to close this. Your issue will be fixed once you serve your application over SSL.

Feel free to open another issue if you have any more problems, thanks.

[2019-10-11 07:18] #163 closed

[2019-10-11 11:46] diegosiao commented on #163
I will suggest to include this information in documentation, as a short note.
Thank you!

[2019-10-11 12:01] mozmorris commented on #163
It's already at the top of the README 😉

[2019-10-11 12:08] diegosiao commented on #163
Indeed. Sorry 🤦‍♂️

[2019-10-13 15:01] reckinam opened #164 "push to rtp protocol in aws media live"
I  want to do live streaming like facebook live chat,for that i am using aws media live .The input is feed through RTP_PUSH .Help that i need ,how to connect the media live and react webcam ?

[2019-10-13 15:56] mozmorris commented on #164
@reckinam unfortunately we can't help you here. This issue tracker is for problems with the react-webcam library. You should post your question to StackOverflow where another developer may have already solved the same problem. Thanks.

[2019-10-13 15:56] #164 closed

[2019-10-28 14:42] Ayve1 opened #165 "External dependecies in 3.1.1."
Hello,
I am using react-webcam since version 1.1.1 and it is great, but when i recently updated it to 3.1.1 I got problem with my Content-Security-Policy in Nginx.

react-webcam.js:271 Uncaught EvalError: Refused to evaluate a string as JavaScript because 'unsafe-eval' is not an allowed source of script in the following Content Security Policy directive: "script-src 'self' 'unsafe-inline'.

There

[2019-10-28 15:02] mozmorris commented on #165
Use the production version eg. `react-webcam.min.js`

https://unpkg.com/react-webcam/dist/react-webcam.min.js

[2019-10-28 15:13] Ayve1 commented on #165
I don't understand this answer, because I just use normal import in my project like:
`import Webcam from "react-webcam";`
Please explain what do you mean by using production version or how to do it.

[2019-10-28 15:22] mozmorris commented on #165
@Ayve1 okay let me try to help you.

Are you seeing the error in development? What about production?

[2019-10-28 15:57] Ayve1 commented on #165
Let me explain my situation as easy I can tell.
I am using Create react app for react project that is using your react-webcam.
To use development I am using: `react-scripts start`, which doesn't need Nginx.
To use production I am using: `react-scripts build`. This command provide me build version of my project that I serve by Nginx to web.
So my project is on production.
Nginx configuration has op

[2019-10-28 16:06] mozmorris commented on #165
@Ayve1 thank you for the detail description.

It's not that react-webcam need something from another site, it's that your own domain needs adding as an exception as `react-webcam.js` contains `eval` in the code.

But I think you've found another problem tbh. When you create a production bundle, the eval shouldn't be generated.

I'm looking into this issue.

[2019-10-28 16:21] Ayve1 commented on #165
Okay, I understand everything now.
Thank you for your answer and I am looking forward for news about this issue.

[2019-10-28 17:13] mozmorris commented on #165
@Ayve1 could you please test a new version for me?

`npm install react-webcam@next` or `yarn add react-webcam@next`

Does it still work correctly in development, and does it fix your issue in production?

[2019-10-30 10:58] Ayve1 commented on #165
@mozmorris  sorry for such delay in response.

Everything works fine now on production. I had no problem with Content-Security-Policy after serving site through Nginx.
On development I didnt have this problem but anyway I tested it and looks fine too.

Thanks for your hard work :)

[2019-10-30 10:59] #165 closed

[2019-10-30 16:01] mozmorris commented on #165
Thanks for helping us test this @Ayve1

The new version has been published as `4.0.0` so you may wish to update your `package.json`.

All the best 👍

[2019-11-08 01:41] sedaplaksa commented on #64
Hi i tried this a couple of times but it still did not work

[2019-11-08 01:45] sedaplaksa opened #166 "Is there anyway i can stop recording the video output from react webcam ?"
i tried ur previous solution this.webcam.stream.getVideotrack()[0]

But it doesnt work anymore

[2019-11-08 09:15] mozmorris commented on #166
Do you have an example @sedaplaksa ?

[2019-11-08 09:33] mozmorris commented on #166
Here's an example on CodePen: https://codepen.io/mozmorris/pen/ZEERQWz?editors=0110

[2019-11-09 12:57] uwolfer opened #167 "getCanvas returns snapshot (instead of getting updated)"
I've noticed that `getCanvas` draws the current video frame to the canvas and returns it. In my use case, it would be helpful if the returned canvas keeps updating. What's about adding a parameter `repaint` to `getCanvas` which enables repainting of the video while it is mounted (or adding a 2nd method like `getCanvasVideo` or something like that)?

Use case: I'd like to record the canvas to an an

[2019-11-11 05:50] luizrfc opened #168 "iPhone dont show selfie cam"
My application need the user take a picture with your selfie cam, Android works fine but iPhone show only the forward cam.

`const videoConstraints = {
width: 1280,
facingMode: 'selfie'
};`

` <Webcam
className={clsx(classes.webcam, 'flex justify-center')}
audio={false}
height='100%'
width='100%'
screenshotFormat='image/jpeg'
screenshotQuality={1}
videoConstraints={videoConstraints}
ref={(webcam)

[2019-11-11 10:49] mozmorris commented on #168
@luizrfc Thanks for your question.

If you check the api, you'll see that `selfie` is not a valid `facingMode` value. You should be using `user`.

https://developer.mozilla.org/en-US/docs/Web/API/MediaTrackConstraints/facingMode

[2019-11-11 10:49] #168 closed

[2019-11-11 10:49] #166 closed

[2019-11-11 10:54] mozmorris commented on #167
@uwolfer `getCanvas` is only invoked when requesting a screenshot.

For your use case, you'd be better off getting access to the stream e.g `this.yourWebCamRef.stream` and passing that to `RecordRTC`

[2019-11-11 10:59] uwolfer commented on #167
@mozmorris: Thanks for your feedback.

Yes, you are right, that would be a solution. Unfortunately, using `stream` in GifRecorder has some other limitations on iOS Safari (a fullscreen video preview app is started there). So I figured out this workaround using the canvas is a workaround for my use case.

[2019-11-11 11:05] mozmorris commented on #167
It should be possible to keep calling `getCanvas` yourself then. `this.yourWebCamRef.getCanvas()`

[2019-11-11 11:13] uwolfer commented on #167
Ok, you mean some type of polling? So I need to figure out a way how to call `getCanvas` whenever the recorder needs a new frame.

With my initial idea, it would work out of the box when passing the canvas to the recorder. But I think it should also be doable with your suggestion with some manual handling.

[2019-11-11 11:40] mozmorris commented on #167
I'd say it will depend on the frame rate you require. Say you went for 20 fps, you could do something like https://codepen.io/mozmorris/pen/MWWBERo

[2019-11-12 09:44] #167 closed

[2019-11-12 20:09] josejaguirre commented on #95
Any alternatives ?

[2019-11-13 09:23] mozmorris commented on #95
Not yet, still waiting.

[2019-11-18 09:42] sedaplaksa opened #169 "Unable to run facial recognition on web cam on chrome android"
Hi is there any reason why i am unable to run the cannot run the facial recognition software on the webcam only on chome android

[2019-11-18 10:36] mozmorris commented on #169
@sedaplaksa thanks for opening this issue. Can you provide more details? An example of the code you are running would help us debug the issue.

[2019-11-18 11:17] sedaplaksa commented on #169
So when running the webcam the video just keep running without executing my facial recognition code while on safari and desktop  it’s perfectly fine

[2019-11-18 11:18] sedaplaksa commented on #169
There is no error message prompting me so I was wondering whether the camera is not compatible with chrome on Android

[2019-11-18 12:21] mozmorris commented on #169
It's definitely compatible with Android (we have it running here) but perhaps there's an issue with your video constraints config?

As a test, can you open the following example on your Android and see if it works? https://codepen.io/mozmorris/pen/JLZdoP

[2019-11-18 16:50] sedaplaksa commented on #169
Oo yeah that’s an error with my web hook my bad

[2019-11-18 16:50] sedaplaksa commented on #169
Thanks for ur help btw

[2019-11-18 16:51] mozmorris commented on #169
Not a problem 👍

[2019-11-18 16:51] #169 closed

[2019-11-19 16:18] tneels opened #170 "Switch camera from user to environment (facingMode) on Android"
Hello,

Is it possible to switch from front to back camera ?
I tried to change it using the state but nothing happen.

I don't know if it's a bug or a feature to ask for.

Thx for your help.

[2019-11-19 20:42] mozmorris commented on #170
@tneels thanks for submitting this issue and that's a great question! 👍

Here's an example: https://codepen.io/mozmorris/pen/mddvKBE?editors=0010

Let me know if it works for you.

[2019-11-20 10:07] tneels commented on #170
Hey,

Thanks for your very fast response !

I tried your codepen on multiple environments and actually the behaviors are really different from one to the other.
On **Iphone 8, v13.1.3** :
- **firefox v20.1** => we don't have access to the front and the back cam, and the browser don't ask for any authorization
- **safari** => it works perfectly

On my **onePlus 7 pro, android v10**
- **chrome v77.0

[2019-11-20 10:18] mozmorris commented on #170
Thanks @tneels for these data points.

On iOS (iphone) the camera will only work on Safari. This is because Firefox uses a Webview and getUserMedia isn't supported at the moment.

Re: Android. Could you try this example: https://codepen.io/mozmorris/pen/Exxrqjm?editors=0010

[2019-11-20 10:58] tneels commented on #170
Yes I saw that for IOS. For "security reasons"...

Anyway, for the new tests :

onePlus 7 pro, android v10:
- Chrome v78.0: same as previously
- Firefox v68.2.1: ask for global cam authorization each time I try to switch, but actually it doesn't switch

I also tested on a pixel 2, android v10
- Chrome v78.0 => works perfectly
- Brave v1.5.1, chromium v78.0 => works perfectly

and on a pixel 3, and

[2019-11-20 15:46] mozmorris commented on #170
@tneels I think you will need to do some manual handling possibly.

For example, `navigator.mediaDevices.getSupportedConstraints()` give you a list off supported constraints. It maybe that `facingMode` is _not_ supported. If that's the case it's possible to use the `deviceId` instead. See https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/enumerateDevices on how to get the list of devic

[2019-11-20 16:02] tneels commented on #170
Ok, thx.

I will investigate and I'll let you know here if I have any success.

Actually I will not care about firefox or other browsers as long as I use this in a webview.
Only chrome is relevant for android and safari for ios.

Anyway, huge thanks. You helped me a lot.

[2019-12-04 07:35] zzynx opened #171 "Error: React.createElement: type is invalid"
Hi,
The usage of this component seems easy and straightforward.
Nevertheless I'm unable to get it working in my application.

- I installed the component via
   `> yarn add react-webcam`
- I added this import in my code:
    ` import Webcam from 'react-webcam';`
- In the render() method of one of my cmoponents, I simply added
    `<Webcam/>`
How difficult can it be?
However, when I start up my app

[2019-12-04 07:57] zzynx commented on #171
Solution found:
When I use
`const Webcam = require('react-webcam');`
instead of doing the import
`import Webcam from 'react-webcam';`
the problem is gone.

[2019-12-04 07:57] #171 closed

[2019-12-04 15:53] csulit opened #172 "Turn off camera via onClick"
How to turn off the camera using a button?

[2019-12-04 15:54] mozmorris commented on #172
@csulit thanks for your question. Here's an example you could adapt: https://codepen.io/mozmorris/pen/pZVedZ

[2019-12-04 15:54] #172 closed

[2019-12-04 16:09] csulit commented on #172
@mozmorris Thanks for the tip (y)

[2019-12-08 14:59] mozmorris commented on #170
@tneels I'm going to close this issue now. Here's another example that uses the `deviceId` https://codepen.io/mozmorris/pen/KKwdOPO

[2019-12-08 14:59] #170 closed

[2019-12-08 19:15] denis-n opened #173 "[interesting] Show camera stream in modal"
Here is the old question:
https://github.com/mozmorris/react-webcam/issues/86

I'm using WebCam component in [React-Bootstrap modal](https://react-bootstrap.github.io/components/modal/)

When the modal window is closed before `onUserMedia` is executed, the camera on my laptop continues to work.

How to handle that? I was thinking about putting WebCam outside of modal (and maybe hide) and only show

[2019-12-08 21:54] mozmorris commented on #173
@denis-n thanks for posting this detailed issue.

Have you got an example of this I can run and inspect?

As a suggestion, is it possible to stop the modal being closed until `onUserMedia` or `onUserMediaError` has been invoked?

[2019-12-08 22:18] mozmorris commented on #173
Something like this: https://codepen.io/mozmorris/pen/NWPxqvd

[2019-12-09 11:33] denis-n commented on #173
Thank you for the example. When I close the modal quickly the web camera continues to work.

I don't like the idea of delaying closing modal. Closing should be fast.

I would prefer to put WebCam component outside the modal and delay `unmounting` of it.

But for that I would need to show the video from web camera in modal.

How can it be done?

[2019-12-09 12:42] mozmorris commented on #173
I understand closing should be fast but that's a trade-off for the UX. You're attempting to do two things at once (i. show modal, ii. load webcam) - perhaps you need to reconsider your UX and create something that is more user friendly.

How about delaying showing the modal until `onUserMedia` has been invoked? eg: https://codepen.io/mozmorris/pen/abzdWrx

If you're okay with mounting the componen

[2019-12-09 15:09] denis-n commented on #173
I'm ok with hiding the WebCam component.

Sorry, how can I show the 'stream' content in modal? It's

[2019-12-11 19:53] #173 closed

[2019-12-18 13:00] philgruneich commented on #170
I've been struggling with this issue for weeks, it is supposed to be very specific to Chrome for Android. You can start the getUserMedia with any facingMode, it will work. However, when you try to switch the facingMode it won't work for reasons I'm still trying to figure out.

[2019-12-19 10:31] mozmorris commented on #170
@philgruneich it would be great if you could report back with any findings. The devices we've tested on work with the top example, but clearly there are issue on some others.

It would be good to finding out if this is a `getUserMedia` issue, or something within react-webcam that is causing it.

[2019-12-19 12:39] philgruneich commented on #170
I won't be able to input much about it since we built a custom component to use ImageCapture. We used `getUserMedia` in 3 different pages. The first page had facingMode user, the second page had facingMode environment and would not load the MediaTrack. If we started the first page with facingMode environment, then everything would work. Therefore, we could only use the application in a single faci

[2019-12-19 13:26] mozmorris commented on #170
Thanks @opapirnyk, great overview 👍

[2019-12-20 18:33] uwolfer opened #174 "Check hasGetUserMedia before accessing navigator.getUserMedia"
It will fail when props update because there is no check for `hasGetUserMedia` (there is such a check in `componentDidMount`, which is correct IMHO). When props update and no user media is available, it will fail in `requestUserMedia`.

You might also want  to call `onUserMediaError` when `hasGetUserMedia` returns false (instead of just return null in `render`?

[2019-12-21 11:38] mozmorris commented on #174
@uwolfer thank you for posting this issue, will create a PR and hopefully you'll have a chance to take it for a spin.

[2019-12-21 11:54] uwolfer commented on #174
@mozmorris: Thanks. Sure, I can give it a try when it is ready.

Just looked into the code and wondered if there is a reason why you assign (polyfil) `navigator.getUserMedia` on https://github.com/mozmorris/react-webcam/blob/master/src/react-webcam.tsx#L168 and then access `navigator.mediaDevices.getUserMedia` on https://github.com/mozmorris/react-webcam/blob/master/src/react-webcam.tsx#L184. I'd

[2019-12-21 12:04] mozmorris commented on #174
Probably redundant code from years ago :-)

[2019-12-21 12:10] uwolfer commented on #174
Following a small sample to reproduce this issue:

[code]

[2019-12-21 12:33] mozmorris commented on #174
4.0.1 should fix this issue. Can you try it?

[2019-12-21 13:16] uwolfer commented on #174
@mozmorris Looks good! Thanks for the fast fix.

[2019-12-21 13:16] #174 closed

[2019-12-21 18:26] mozmorris commented on #174
Great @uwolfer - also thanks again for the detailed issue with a reproducible example.

[2019-12-21 19:11] uwolfer commented on #174
I think https://github.com/mozmorris/react-webcam/blob/master/src/react-webcam.tsx#L6-L8 and https://github.com/mozmorris/react-webcam/blob/master/src/react-webcam.tsx#L179-L183 can be removed if you feel like it. All modern browsers support the unprefixed version for some tie already: https://caniuse.com/#search=getUserMedia

[2019-12-26 19:36] uwolfer commented on #115
#177 might also provides a workaround for this issue.

[2019-12-29 17:55] Hartha-aloufi opened #179 "Screenshots are mirrored like zigzag"
Hello

When I set mirrored props to true the screen shots behave incorrectly, first screenshot mirrored and the next one is not and so on.

<a href="https://codesandbox.io/s/gracious-sea-7gul2?fontsize=14&hidenavigation=1&theme=dark">
  <img alt="Edit 7gul2" src="https://codesandbox.io/static/img/play-codesandbox.svg">
</a>

[2019-12-30 08:23] Hartha-aloufi commented on #179
Fix here #180 , please give me feedback, it is my first PR to an open source project :)

[2019-12-30 18:33] mozmorris commented on #179
@Hartha-aloufi thank you very much for posting this issue, along with an example - that's really great. Just reviewing the PR now - thanks for that too 😄

[2019-12-30 18:41] mozmorris commented on #179
Wow, @Hartha-aloufi you nailed it. Many thanks.

Fix released in `4.0.2`, welcome to Open Source 👍

<a href="https://codesandbox.io/s/damp-meadow-s54d9">
  <img alt="Edit 7gul2" src="https://codesandbox.io/static/img/play-codesandbox.svg">
</a>

[2019-12-30 18:41] #179 closed

[2019-12-30 19:47] Hartha-aloufi commented on #179
@mozmorris You are welcomed, Thank you you too for Awesome work.

[2020-01-01 17:46] inigo-stripe opened #182 "Unable to set the muted property in the underlying video element"
I've tried changing the `audio` (given this is what's passed to the underlying `video` element: https://github.com/mozmorris/react-webcam/blob/master/src/react-webcam.tsx#L364) but I'm unable to make `react-webcam` render a muted video element. Any ideas?

Could be related to https://github.com/facebook/react/issues/10389

[2020-01-02 14:29] mozmorris commented on #182
Hello @inigo-stripe, thanks for posting this issue. I think you may have stumbled upon a bug in our code.

I believe the `audio` prop's description and use is wrong 😬

e.g if `<Webcam audio={false} />` the the video element would result in `muted="false"`, which is the the opposite of what one would expect, it should be `muted="true"`

This bug was introduced in [this commit](https://github.com/mo

[2020-01-02 14:42] mozmorris commented on #182
I'm guessing this hasn't come up before since having sound is probably an edge use case.

If the above example works for you, I will create a fix but switch the default value of `audio` to `false`.

[2020-01-02 16:28] inigo-stripe commented on #182
Hi @mozmorris thanks for looking into this. In your [example codepen](https://codepen.io/mozmorris/pen/vYEWYmN), the resulting video element still doesn't have the `muted` attribute: `<video autoplay="" playsinline=""></video>`. I've tried several combinations of booleans for `audio` and `muted` and still no luck. I think this might be related to [this react bug](https://github.com/facebook/react/

[2020-01-02 16:31] mozmorris commented on #182
@inigo-stripe I see what you mean. However for me, I don't hear any sound if I set `muted={true}`

[2020-01-02 16:35] inigo-stripe commented on #182
@mozmorris Yes, I'm actually trying to only capture screenshots with no audio with the `muted`  attribute set in the `video` element in order to avoid issues with iOS blocking the autoplay (https://webkit.org/blog/6784/new-video-policies-for-ios/).

[2020-01-02 16:40] mozmorris commented on #182
So ignoring the muted prop for now, does the most [basic example](https://codepen.io/mozmorris/pen/JLZdoP) not work for you on iOS? We have an iPhone (XS, iOS13) and iPad here and that example still works for us. The (example screenshot capture)[https://codepen.io/mozmorris/pen/gOOoqpw] works okay too.

[2020-01-07 12:42] vrochamaia opened #183 "ReferenceError: navigator is not defined"
Hello, I'm getting the following issue while trying to use the library.

`ReferenceError: navigator is not defined
/node_modules/react-webcam/dist/react-webcam.js:149:5`

![Screen Shot 2020-01-07 at 09 35 22](https://user-images.githubusercontent.com/7724418/71895910-142eee80-3131-11ea-8367-0dd90184becb.png)

react-webcam: 4.1.0
webpack: 4.41.5
next.js: 9.0.5

Maybe Next.js is trying to run the li

[2020-01-07 18:50] uwolfer commented on #183
This might be related to my recent change: https://github.com/mozmorris/react-webcam/commit/ea5db843cb36b46b05b61fd0a7209035324cb666

`navigator` also got accessed before this change - but only when the component actually got rendered.

We could also add a check for `navigator`, but I'm not sure if this is the best solution.

[2020-01-07 19:37] uwolfer commented on #183
@vrochamaia: When exactly do you get that reference-error? After starting a dev server? Does it still work in the browser?

[2020-01-07 19:48] vrochamaia commented on #183
Yeah, it's on the development server. The error happens as soon as I call the component that imports the **react-webcam** library.

[2020-01-07 19:51] uwolfer commented on #183
@vrochamaia: Do you get more details out of the trace? Is it because of some server side rendering?
You could try to downgrade to 4.0.0 and check if it also happens there - I'd assume it will not.

[2020-01-07 20:06] vrochamaia commented on #183
Yeah, it might be because of the server side rendering, I'm not quite sure. The same thing happens with the 4.0.0 version. The full stack trace is this one:

And I also get this at the end:

![Screen Shot 2020-01-07 at 17 02 12](https://user-images.githubusercontent.com/7724418/71925296-80304780-316f-11ea-828c-120209a1b2c7.png)

[2020-01-07 21:31] #183 closed

[2020-01-07 21:32] mozmorris commented on #183
Fixed in `4.1.1`

[2020-01-07 21:34] mozmorris commented on #182
@inigo-stripe did you get a chance to test this again using the above examples? We'd be very interested to hear if you're having problems on iOS.

[2020-01-07 21:42] vrochamaia commented on #183
Thank you. :)

[2020-01-07 23:24] inigo-stripe commented on #182
Hi @mozmorris we've tested on iOS devices and it's working as expected. Seems like even without the `muted` property the video autoplays in Mobile Safari without issues.

[2020-01-10 21:25] coach-arne commented on #48
hey @mozmorris, I'm having the same issue, but am unable to expose the application... is there any way how I can debug this? It's working on chrome on desktop, but not mobile, so I don't have a stacktrace I can share. The app also did not ask for any permissions.

[2020-01-10 21:37] mozmorris commented on #182
Okay great 👍 I will close this but if you come across where could be an issue, please let us know and we can reopen.

[2020-01-10 21:37] #182 closed

[2020-01-10 21:39] mozmorris commented on #48
Hi @coach-arne - thank you for posting an extra data point for this issue.

Could you tell us the device and browser version?

[2020-01-10 21:41] coach-arne commented on #48
I'm trying to get a basic example online, I'll check device data in just a sec :)

[2020-01-10 21:43] mozmorris commented on #48
Thanks - we always suggest trying the [demo](https://codepen.io/mozmorris/pen/JLZdoP) on the devices you have.

[2020-01-10 21:45] coach-arne commented on #48
I think I've located the issue, it's working on the netlify example, because of the fact that it's **https**. When I'm running react in debug mode it's served as **http**.

Is there a restriction of the underlying browser API (userGetMedia) that it's only working on HTTPS?

[2020-01-10 21:46] mozmorris commented on #48
I guessed as much.

Note from the top of the README: `Note: Browsers will throw an error if the page is loaded from insecure origin. I.e. Use https.`

[2020-01-10 21:47] coach-arne commented on #48
Always read the manual 😊

[2020-01-10 21:53] mozmorris commented on #48
Chrome did used to show a warning which one could bypass. But I thought they had ditched this. The other exception is running the app on localhost.

Over the years this issue has come up a lot, mobile and/or desktop; hence the note right at the top of the README.

[2020-01-10 21:55] coach-arne commented on #48
I'm so sorry not reading it though, but I hope everyone gets redirected to this issue and feels just as ashamed as I do 😅

[2020-01-10 21:57] mozmorris commented on #48
Hey no worries 👍

[2020-01-12 09:42] AmirAbrams opened #185 "Multiple webcams from different sources on one page issue"
My Electron react application page uses three different webcams and when I change the webcam device source for one react-webcam component, it changes the other two component device sources. I was able to fix my issue by removing the loop in this line:
https://github.com/mozmorris/react-webcam/blob/73399381d17469f3011ff7a507a0db687c6efb38/src/react-webcam.tsx#L250

My video constraints look like th

[2020-01-13 07:28] AmirAbrams commented on #185
See https://github.com/mozmorris/react-webcam/pull/186

[2020-01-15 22:21] mozmorris commented on #185
Thanks @AmirAbrams. This is quite interesting and I'm very keen to test #186 out. I think the code to loop over the instances existed as I don't believe it was possible to show different webcam simultaneously. This clearly has changed :-)

[2020-01-18 00:52] allomorphy opened #187 "Does not work in standalone running PWAs and does not give error"
When attempting to run in an "installed" PWA, getUserMedia returns no video input devices in UIWebView or WKWebView and therefore  https://github.com/mozmorris/react-webcam/commit/a53efc0ae24001fdc6d894cea5b4c9d70fb3dc4b#diff-d8078d1b576441b8631d4990ed3f8390 does not return any error.

[2020-01-18 09:50] mozmorris commented on #187
@allomorphy thank for posting this issue and your detailed email.

I will take a look at returning an error when video sources are not detected, which will help your use case.

[2020-01-22 08:20] sschuchlenz opened #188 "Wrong camera dimensions / ratio on Firefox"
When I add a `react-webcam` component like so, the ratio is correct (280x280 px) on Chrome, but stays in (I guess) 16:9 on FF browsers:

`<Webcam
  ...
  height={280}
  width={280}
  ...
  minScreenshotWidth={1080}
  minScreenshotHeight={1080}
  ...
  videoConstraints={{
    width: 280,
    height: 280,
    ...
  }}
/>`

[2020-01-23 12:33] carlosalvarez91 opened #189 "Flash device"
Is there any way to use the camera flash on capture?
Thanks

[2020-01-23 13:06] mozmorris commented on #189
@carlosalvarez91 thank you for posting this question. It's a good question since this is actually possible on _some_ devices with the right Browser installed. Support right now is limited to Chrome and Opera on the devices that do support it.

See: https://developer.mozilla.org/en-US/docs/Web/API/PhotoCapabilities/fillLightMode for more information.

I will leave this issue open, as this is someth

[2020-01-23 13:21] Spodeopieter opened #190 "Webcam not requesting camera access"
I am using docker-compose with express to host my already built webapp.
when running on my local machine everything works 100%, but when I run the docker images on a cloud VM (I have tested google cloud and Digital ocean) , then I am not getting a prompt to give webcam access.

[2020-01-23 13:24] mozmorris commented on #190
Hello @Spodeopieter, thanks for posting a new issue. Unfortunately this won't be enough for us to debug the issue. Please add any extra information, such as a link to your application or the code you are using.

Please ensure you have read the README too as there are come common gotchas.

[2020-01-23 13:27] Spodeopieter commented on #190
Also, the onUserMedia callback fires 3 times , but the onUserMediaError callback is not firing at all.

[2020-01-23 13:30] mozmorris commented on #190
Are you serving the application over SSL? eg https://www.your-domain-hosted-on-do-or-gcloud.com

[2020-01-23 13:33] Spodeopieter commented on #190
I am not serving it over ssl, but I have configured chrome to use
chrome://flags/#unsafely-treat-insecure-origin-as-secure

[2020-01-23 13:36] Spodeopieter commented on #190
Ok I just had to relaunch chrome , this fixed the problem. so ssl was the problem , thanks so much or the assistance.

[2020-01-23 13:36] #190 closed

[2020-01-23 20:29] BrendanJiang opened #191 "Camera switch always falls back by one step"
I was trying to use a dropdown to choose the camera among multiple choices. However the Webcam change in render() was always one step behind the dropdown selection change. Would highly appreciate if anyone could shed some light.

The skeleton of my code is shown below (typescript .tsx):

[code]

The basic idea is to enumerate all the available cameras and initialize the dropdown list when loading

[2020-01-23 23:15] mozmorris commented on #191
Hi @BrendanJiang - thanks for posting this issue with a code sample, that's always useful.

Could you try this basic example that allows selecting a device: https://codepen.io/mozmorris/pen/KKwdOPO?editors=0010

Does this example work for you?

At a glance, there's some patterns in your code that are a bit of a red flag eg:

[code]

In your `setState` you're potentially using stale data: `this.sta

[2020-01-23 23:20] mozmorris commented on #191
Also please excuse me editing your code sample, it was simply to give it some more context. :-)

[2020-01-23 23:53] mozmorris commented on #191
@BrendanJiang here's your example code but I've taken the liberty of simplifying it a little: https://codepen.io/mozmorris/pen/BayMepP?editors=0011

[2020-01-23 23:53] #191 closed

[2020-01-24 22:00] BrendanJiang commented on #191
Thank you very much @mozmorris! Your example significantly simplified my logic. However, I'm still experiencing the same problem. To cross verify it, I tried on my desktop with two external USB cameras, and hit the same thing.

Here's my complete code without any masking-out, just FYI. And it'll be extremely helpful if you have other clues. Thanks again!

`import './styles/EnrollmentSite.scss';
im

[2020-01-26 10:33] mozmorris commented on #191
@BrendanJiang here's your example on CodePen, this time still in TypeScript: https://codepen.io/mozmorris/pen/povYqLL?editors=0011 - I've removed code that not needed for this demo.

This works for me, on mobile and desktop - the dropdown is in sync with the current camera.

[2020-01-26 10:35] mozmorris commented on #191
Just to be clear, when you say "However, I'm still experiencing the same problem" is that using my examples, your own code, or both?

[2020-01-26 16:24] kirasiris opened #193 "Is there a way to append the returned base64 to FormData?"
I'm actually trying to implement this library into my project because it is too easy to set up(I give you a 15/10 rating; xD).

The thing that I want is to store that data into a const to save it into my database. Let's put it this way, I'm allowing the users to take pictures for the profile avatars.

This is my code that I currently have:
[code]
Right now the console.log(formData) displays the Fo

[2020-01-27 16:32] mozmorris commented on #193
@kirasiris thanks for posting this but I don't believe this is an issue with the component.

If you need help, I would suggest posting this on Stackoverflow. It would also be easier to help if you recreated your example on CodePen.

[2020-01-27 21:34] BrendanJiang commented on #191
@mozmorris I was using your example, without any change. And with the updated example code, I'm still seeing it. It's highly likely it's related to some of my React setups. I'll dig further and let you know. Finally thank you so much again for your great help!

[2020-01-28 00:19] kirasiris commented on #193
My bad , I will delete the post then. Thanks for this cool component!.

[2020-01-28 00:19] #193 closed

[2020-01-28 11:19] mozmorris commented on #193
@kirasiris if you can recreate your problem on CodeSandbox, CodePen, etc - I can take a closer look and provide some assistance.

[2020-01-28 11:28] mozmorris commented on #188
@sschuchlenz hopefully this https://codepen.io/mozmorris/pen/jOERXBy solves your problem.

I have specified the `aspectRatio` video constraints. Tested and working on `FF 72.0.2`

[2020-01-30 16:43] AmirAbrams commented on #185
I am going to close this issue since PR https://github.com/mozmorris/react-webcam/pull/186 is merged.

[2020-01-30 16:43] #185 closed

[2020-01-30 20:32] formidable255 opened #195 "Image resolution"
When saving the image from getScreenshot(), is there a way to get the resolution of the image from the webcam instead of the resolution in the UI.

For example, my 1920x1080p webcam is displayed in a 300x300p UI. How can i retrieve the 1080p image instead of a 300p image?

[2020-01-30 21:00] mozmorris commented on #195
You should be able to do with using the `videoContraints` and `forceScreenshotSourceSize` props. Here's an example: https://codepen.io/mozmorris/pen/GRgbroM?editors=0010

[2020-01-31 03:25] formidable255 commented on #195
Is there anyway to use videoconstraints 300 width 300 height and have forceScreenshotSourceSize take a 1080p?

[2020-01-31 14:58] mozmorris commented on #195
Firstly, you should be aware that using width/height videoConstraints to obtain a 1:1 aspect ratio produces inconsistent results across different browsers and devices. For example, some browsers crop and centre, others don't crop but resize and leave blank space.

There is the `aspectRatio` video constraint but this is not yet supported widely.

May I ask what you are trying to achieve before sugg

[2020-01-31 20:08] formidable255 commented on #195
What I am trying to achieve is to take a picture with the webcam and get an image back in the camera's resolution; could be 1080p, 720p, etc. Then i will use that photo for further work. It seems that images i get back are stuck at 640x480p even with different cameras.

[2020-01-31 20:30] formidable255 commented on #195
It seems i may have found a solution. I specified a preference of 1920x1080p in the getUserMedia function.

[2020-02-01 07:57] #195 closed

[2020-02-01 07:58] #188 closed

[2020-02-01 07:58] #115 closed

[2020-02-05 09:39] Sim3Xx opened #196 ""minScreenshotWeight" react sending Warning on this"
Hello Dear Webcam Developers,

I installed your library in my react Project, so good so far. But when i add the property "minScreenshotWeight" or "minScreenshotHeight" to the "Webcam Element", I get an error from React that it could not recognize the "minScreenshotWeight" property, it seems like React wants custom props to be in lowercase.

Visible in the following picture.:
![image](https://user-

[2020-02-05 09:48] mozmorris commented on #196
You've got a typo @Sim3Xx, the prop is named `minScreenshotWidth`

[2020-02-05 09:48] #196 closed

[2020-02-07 19:16] marcosantar93 commented on #49
You can use RecordRTC to start and stop the recording
A little late but it might be helpful
[code]

[2020-02-07 20:33] carlosalvarez91 opened #198 "DOM exception: NotReadableError - Could not start video source"
In a desktop browser (Chrome and Brave) works fine,
however on **android Chrome it just crashes**, especially in a standalone PWA, sometimes it doesn't crash on a chrome tab
It seems like it's not a problem of this package itself, I've been trying react-html5-camera-photo  and it throws the same error.
I've been trying to stop all tracks in an active stream before acquiring a new one on init compo

[2020-02-12 09:03] lawanyaselvamani commented on #69
@mozmorris Is this issue get resolved ?
I too facing this issue in chrome Android. Could you please help me to resolve this ?

[2020-02-17 12:31] paulopacitti opened #199 "Capture a snapshot without showing the video feedback"
- I'm making a facial recognition unlock feature in a project I'm working on it. I'd like to know if it's possible to take a snapshot without showing the video feedback.
- I already tried wrapping a `display: none` in the `className`, but I couldn't take a snapshot, it displays a empty string :/ Can someone help with this please?

[2020-02-17 12:49] mozmorris commented on #199
Capturing works by taking the current video element, rendering it to canvas, and creating a base64 string from it. If you hide the video using `display: none`, this will remove it from the dom and you won't be able to render it to canvas.

You should however be able to render the video element off screen. eg. `transform: translateX(-10000px)` or `position: absolute; left: -10000px;`

[2020-02-17 12:50] #199 closed

[2020-02-17 17:55] paulopacitti commented on #199
Hmmm, now I understood how it works. Thanks for explaining ✨
I figured out another way of rendering the video element off screen:
[code]

[2020-02-20 05:54] lawanyaselvamani opened #200 "Webcam not working when I have IR and RCB image devices (Only chrome)"
@mozmorris First of all thank you so much for giving this loving library. Its so cool.
But I found one blocking issue, I update it below. Please suggest some ideas to solve them or the fix.

In Chrome webcam not working (shows a blank white screen)  and In other browsers also all seems fine.

I sensed it is somewhat due to IR image devices (https://answers.microsoft.com/en-us/windows/forum/all/har

[2020-02-21 09:13] kakariko-village opened #201 "Webcam on Ant Design modal does not show on mobile device"
Hi i am using react webcam with Ant Design (https://ant.design/components/modal/). My goal is display webcam when toggle a modal. It works normally on PC but on real mobile device, react webcam does not show on the modal. There's also no "access camera permission" warning on mobile. Here is my code:

App.js:
[code]

WebcamModal:

[code]

[2020-02-21 09:15] mozmorris commented on #201
@kakariko-village thanks for this report. Before investigating further, could you check if this demo works on the mobile device you mention?

https://codepen.io/mozmorris/pen/JLZdoP

[2020-02-21 10:15] yashp98 opened #202 "Need to reduce captured image file size using configuration"
We trying to caputre screen shot using this plugin with following react code
**const screenshot = webcamRef.current.getScreenshot();**

I am able to get screenshot object correclty but issue is that size for that is approx **11MB - 15MB** which seems very high.Is there cofiguration to reduce this object size.I need to reduce size for this object to approx **2MB**.

[2020-02-21 14:09] mozmorris commented on #202
Please see the `screenshotFormat` and `screenshotQuality` props.

[2020-02-21 14:09] #202 closed

[2020-02-21 15:07] kakariko-village commented on #201
Hi @mozmorris  , your example works on tablet and smartphone. Funny thing is that react-webcam somehow does not work with other modals on tablets  and mobile devices ( I tested on iPad 2018 and iPhone 11  Pro Max). Here's the example, i use modal from React Boostrap  and react webcam does not show on mobile devices too (PC works normally):

App.js:
[code]

WebcamBoostrapModal.js:
[code]

[2020-02-22 13:42] mozmorris commented on #201
Here's a another demo that uses Bootstrap Modal. Tested on iPhone XS

https://codepen.io/mozmorris/pen/NWPxqvd

[2020-02-22 13:52] mozmorris commented on #200
@lawanyaselvamani thanks for this report. Tbh, I'm not sure what can be done here. This sounds like a bug in Windows.

My suggestion would be to allow the user to choose the device via a dropdown or button. But if the presence of an IR device causes an error with other video sources, I'm not sure this would fix the issue.

See https://codepen.io/mozmorris/pen/KKwdOPO

[2020-02-22 13:59] mozmorris commented on #198
This sounds like your device is in use by another process.

[2020-02-22 16:01] lawanyaselvamani commented on #200
@mozmorris thanks for the reply. But I've tried with giving drop-down. But it creates trouble in Firefox, there functional collapse occurring between Firefox video source drop-down in permission prompt and the drop-down I given by code. (working well chrome, other browsers.. except Firefox). The problem is Firefox permission prompt having the video source drop-down.
I also raised some questions re

[2020-02-23 02:52] kakariko-village commented on #201
Nice, your example work on my iOS devices. I will try to apply to my project tomorrow. Since i don't use React hook, do you know what wrong with my examples using class component?

[2020-02-23 23:12] mozmorris commented on #201
I can’t see anything obvious, but it should be pretty straight forward to convert my example to use a class based component.

[2020-02-23 23:12] #201 closed

[2020-02-24 09:24] kakariko-village commented on #201
Hi @mozmorris , after doing some research, i guess that the problem is  the lack of https domain. Your example run on a https domain (https://codepen.io/) so browsers from mobile device can load the react webcam. I did copy, paste and run your code on local machine and my mobile devices still cannot load the react webcam with local IP Address. On iOS, Safari return the error message "Error: getUse

[2020-02-24 09:28] mozmorris commented on #201
`Note: Browsers will throw an error if the page is loaded from insecure origin. I.e. Use https.`

Top of the README 😉

[2020-02-25 12:14] yashp98 commented on #202
I have put this value and image size is not reduzing.
 screenshotQuality={0.1}
screenshotFormat="image/jpeg"

[2020-02-27 13:19] apoorvmote opened #203 "Strictly typed Typescript example missing"
I really liked react webcam because its built in typescript but I am having trouble implementing in typescript.
[code]

I get following error
[code]

If I add `useRef(Webcam)` then it says `Property 'getScreenshot' does not exist on type 'typeof Webcam'.ts(2339)`

[2020-02-27 13:22] mozmorris commented on #203
You need to check current is not null

[code]

[2020-02-27 13:22] #203 closed

[2020-02-27 14:55] apoorvmote commented on #203
I did that but I am still getting errors

[code]
The error is
`Property 'getScreenshot' does not exist on type 'never'.ts(2339)`

[2020-03-02 03:50] handhikadj opened #204 "Add loading when initialising camera"
AFAIK, the camera mounting process is async. so what is the workaround to add the loading state when initialising the camera?

[2020-03-04 17:29] bauwaerter commented on #203
@apoorvmote not sure if you already figured this out but you can do this

`const webcamRef = React.useRef<Webcam & HTMLVideoElement>(null)`

[2020-03-05 02:21] apoorvmote commented on #203
@bauwaerter thank you thank you thank you.

 It really irks me when I have to `const webcamRef = React.useRef(null) as any`
Mainly because I refactor code a lot and eslint will not catch error if its casted to `any`. I find out error when the app crashes.

[2020-03-05 09:18] mozmorris commented on #204
@handhikadj you should be able to imply loading when the component is mounted. Loading is finished when `onUserMedia` or `onUserMediaError` is called.

[2020-03-07 14:19] handhikadj commented on #204
okay thank you for the workaround

[2020-03-07 17:55] #204 closed

[2020-03-11 15:58] RoryOfByrne commented on #204
@mozmorris I want to render a general introduction/logo component while I wait for permissions, and then render the Webcam once I have permissions. Is this possible, or should I handle permissions myself and then render the Webcam afterwards?

[2020-03-12 22:15] mozmorris commented on #204
@RoryOfByrne this seems perfectly fine to me :-)

[2020-03-17 07:33] yashp98 commented on #202
screenshotQuality={0.1}
screenshotFormat="image/jpeg"
I have update above value but image size is not reduzing.
What should be next?
Can you guide me on this?

[2020-03-17 08:26] mozmorris commented on #202
@yashp98 here is an example: https://codepen.io/mozmorris/pen/KKpRLBd?editors=0110

Try changing the `screenshotQuality` prop, you will see the reduction in image quality and subsequent file size. File size can be checked in the devtools network panel.

[2020-03-20 12:35] yashp98 opened #206 "Getting low quality image"
Hello sir we using this plugin in our application we used to get good quality image with size 8MB to 10 MB.We using folloing option to get image

**<StyledWebCam
				audio={false}
				ref={webcamRef}
				screenshotQuality={1}
				screenshotFormat="image/jpeg"
				videoConstraints={{
					facingMode: 'environment'
				}}
			/>**

but now we getting very low quality image with image size 183KB.How c

[2020-03-20 12:39] mozmorris commented on #206
@yashp98 this is the same question as you have already posted in #202.

You need to use a value between `0` and `1`

[2020-03-20 12:39] #206 closed

[2020-03-21 07:37] lowewenzel opened #207 "onUserMediaError not invoked when webcam stops"
Hey there, great library so far! I've been playing around with it, and noticed that the `onUserMediaError` is not thrown when a webcam is disconnected. The webcam view is still visible, but the view is all black.

I am able to replicate this using Mac OS `sudo killall VDCAssistant` to turn off the camera system. I'm assuming this also happens with USB webcams as well (but could be mistaken).

[2020-03-21 07:39] lowewenzel commented on #207
Sorry, didn't realize that #187 could possibly be related. Please close this if it could be linked to the same solution, but otherwise would like to keep this discussion open.

[2020-03-21 08:10] lowewenzel commented on #207
Looks like a way to detect this is `MediaStream.active`... Played around with https://simpl.info/getusermedia/ which has global scope on `stream`, and `stream.active` becomes false once it loses a source.

It's late night and I found a hacky solution to my problem, but hope this is seen by others incase they need it. I have a `useEffect` that checks every so seconds using `useInterval` on `webcamR

[2020-03-30 00:28] cemozerr opened #209 "Video constraints mixes width and height"
I use react-webcam to take user-facing photos. Whatever width I specify gets used for height, and vice versa. For example, here is my videoConstraints and all the props I pass into the Webcam component:
[code]
With these settings, the screenshots I capture have dimensions: 675x900. So, width of 675px and height of 900px. I'm taking these screenshots using iOS Safari.

[2020-03-30 08:34] mozmorris commented on #209
@cemozerr thanks for this report, will investigate shortly.

[2020-03-31 04:52] iamchathu opened #210 "Portrait mode"
Any way capture in portrait mode rather than landscape mode?

[2020-03-31 10:57] allomorphy commented on #210
Hi iamchatu,

Portrait works for us out of the box. What issue do you have?

Best wishes,
Eric

[2020-03-31 15:13] iamchathu commented on #210
I used sample code in the readme

[code]

Also this didn't worked in Chrome Android and Chrome and Safari in iOS. Worked on Chrome in macOS

[2020-03-31 17:11] allomorphy commented on #210
Obvious 🤦‍♂ things first, you have enabled autorotate on your device?

We have auto rotate functionality with code similar to ☝️.
FWIW, we either do not specify the width and height or we leave these settings out of the videoConstraints and we have them identical (like both 1920 in our case) in the <Webcam/> settings.

I hope that you get it working for you.

[2020-04-20 19:57] luizwritescode commented on #48
Update, it is not working on my mobile devices, both android and ios, tested on safari and chrome, however when i run the webpack on a pc it works perfectly

[2020-04-20 19:59] mozmorris commented on #48
@luispuig can you try the demo? https://codepen.io/mozmorris/pen/JLZdoP

[2020-04-20 21:25] luispuig commented on #48
![D1B41230-CDF5-41E5-AF80-284EACA38528](https://user-images.githubusercontent.com/24297787/79800970-8c769400-835d-11ea-8b21-c80874e617ad.png)

It worked for me. Can you provide  more details to reproduce the problem?

Not related but the only problems we found were that on Android-Webview there is a bug, get user media seems to work but not. We used the user agent to detect it. Besides, on Faceboo

[2020-04-21 07:32] cvsalaskar21 opened #211 "Webcam not working in Android Web View"
Hi,
Thanks for the library.
I had an issue in Android WebView. The Camera doesn't open up android web view but works fine in Android Chrome browser or any other browser. I'm giving all the possible permissions in Android Manifest viz. Camera/Internet/Audio. Following is a screenshot of Android webView loading URL: https://codepen.io/mozmorris/pen/KKwdOPO

![codePen](https://user-images.githubuserc

[2020-04-21 09:10] mozmorris commented on #48
What do you mean provide more details to produce the problem? I'm not sure what your problem is, hence asking you to run the demo which works.

[2020-04-21 09:13] mozmorris commented on #48
I'm locking this issue since new posts are now missing earlier information. If you come across this thread and are still running into issues after reading through it - please post a new issue.

[2020-04-21 09:22] mozmorris commented on #211
@cvsalaskar21 this will almost certainly be a permissions issue. This cropped up before I think, and it was mentioned about setting the correct device permissions in your `AndroidManifiest.xml`. I'm not familiar with this myself.

[2020-04-22 15:56] matthewhudgins commented on #69
@massimopibiri what was involved in that https configuration issue?

[2020-04-22 17:33] #198 closed

[2020-04-22 17:34] #200 closed

[2020-04-22 18:54] mozmorris commented on #207
@lowewenzel I've been meaning to investigate this issue and finally got around to it.

The following example works for me: https://codepen.io/mozmorris/pen/dyYNYwd

[2020-04-22 20:45] doug62 opened #212 "Video/MP4 Upload..."
Is it possible to capture a movie with sound and post to server? (thanks)

[2020-04-23 13:54] mozmorris commented on #212
It is possible, yes. Take a look at https://developer.mozilla.org/en-US/docs/Web/API/MediaStream_Recording_API

In the case of the `<Webcam />` component, one can get access to the stream via ref to the component eg `componentRef.current.stream`

[2020-04-23 13:54] #212 closed

[2020-04-27 23:11] imcodingideas opened #213 "aspect ratio"
Hello,

Thanks for this component. Do you have anything to let us change the video aspect ratio?

[2020-04-28 12:49] mozmorris commented on #213
@imcodingideas how about this example: https://codepen.io/mozmorris/pen/GRpEQwK?editors=0010

[2020-04-28 17:11] imcodingideas commented on #213
I like your style. Thank you. I didn't see aspectRatio on the MediaStreamConstraints object.  https://developer.mozilla.org/en-US/docs/Web/API/MediaStreamConstraints/video

[2020-04-28 17:18] imcodingideas commented on #213
I do see: https://developer.mozilla.org/en-US/docs/Web/API/Media_Streams_API/Constraints

Maybe we can link this in the documentation? If I make a PR with this would that be fine?

[2020-04-29 05:46] mozmorris commented on #213
That would be great. There’s a facingMode example to use as a guide. Please link to the above demo.

[2020-04-29 05:47] mozmorris commented on #210
@iamchathu please see #213 for further details.

[2020-04-29 05:47] #210 closed

[2020-04-29 16:56] #213 closed

[2020-04-30 08:04] mhmtyasr opened #215 "Routing other page error when Working camera"
I have 2 page and I capture photo and send data other page but when Webcam  working ,Routing failed and I have this error "func.apply is not a function"

[2020-04-30 08:06] mozmorris commented on #215
@mhmtyasr do you have an example? This doesn't sound like an issue with react-webcam.

[2020-05-01 14:42] mozmorris commented on #211
@cvsalaskar21 did you ever manage to investigate this further?

[2020-05-02 07:05] cvsalaskar21 commented on #211
@mozmorris Yes. We couldn't run it on Android Web View with all permission given. However we did find an [alternative library](https://github.com/MABelanger/react-html5-camera-photo) which does the same and fortunately it's working fine in Android web view as well. We gave the same set of permissions to the WebView for both while implementing. Now I'm not sure why only the other one worked.

So yo

[2020-05-03 16:40] mozmorris commented on #211
Thanks for letting me know. When I get some time, I'll investigate it further.

[2020-05-04 10:13] omar-shabaro commented on #211
@cvsalaskar21  just try to remove the 'audio' prop. And it will work

[2020-05-04 10:19] mozmorris commented on #211
@omar-shabaro interesting, but in the past that has caused issues with browsers causing autoplay to fail.

[2020-05-04 10:31] omar-shabaro commented on #211
@mozmorris I just add permission for camera and mic also remove the audio prop and its working fine for me

[2020-05-04 10:33] mozmorris commented on #211
@cvsalaskar21 would you be able to test this out and see if it works for you?

[2020-05-04 10:33] mozmorris commented on #211
...and thanks @omar-shabaro for the suggestion.

[2020-05-04 11:09] cvsalaskar21 commented on #211
@omar-shabaro I tried opening https://codepen.io/mozmorris/pen/KKwdOPO in Android WebView and then in JS section tried to remove the audio prop. I've given both Camera and Audio permission in Manifest but it did not work. Still getting the same issue as described in the issue description.

Can you pl share the code snippet of how you did it on your Android WebView (Java/Kt) and Manifest.xml?

[2020-05-06 20:12] theMitch36 commented on #212
Could you provide an example of this?

I have followed the mozilla developer guide and keep getting the error "Failed to execute 'start' on 'MediaRecorder': The MediaRecorder cannot start because there are no audio or video tracks available."

When i try to use componentRef.stream it comes back undefined and so i created a new MediaRecorder using componentRef.video and i get an inactive MediaRecor

[2020-05-06 20:36] mozmorris commented on #212
@theMitch36 this is a recurring theme, so I'll try to create an example.

[2020-05-07 13:40] theMitch36 commented on #212
@mozmorris Thank you!

[2020-05-08 15:29] mozmorris commented on #212
@theMitch36 here's an example: https://codepen.io/mozmorris/pen/yLYKzyp?editors=0011

In this example I'm downloading the resulting video, but you could instead upload the resulting blob to your backend.

[2020-05-08 15:36] #215 closed

[2020-05-11 03:10] lowewenzel commented on #207
This works well for my cases, thank you!

[2020-05-11 03:10] #207 closed

[2020-05-11 12:09] theMitch36 commented on #212
@mozmorris you're the best, thank you!

[2020-05-11 19:58] mozmorris commented on #212
My pleasure 👍

[2020-05-15 07:16] cvsalaskar21 commented on #211
@omar-shabaro waiting for your response. Can you pl share how you implemented this library to work in your Android WebView?

[2020-05-20 07:48] vartikaongraph opened #216 "Not Working on Chrome (iPhones)"
I am using this package in my react app. It is working correctly on Android but not on iPhone not even asking for permissions

[2020-05-20 07:53] mozmorris commented on #216
@vartikaongraph can you check this demo works? https://codepen.io/mozmorris/pen/JLZdoP

[2020-05-20 07:59] allomorphy commented on #216
Hi

We had this exact issue at the start of our development and discovered
that it was a CSS issue with our overlay. The same code worked perfectly
in Android.

I hope this helps.

Best wishes,
Eric

vartikaongraph wrote on Wed-20-May 20  9:48AM

[2020-05-20 08:32] vartikaongraph commented on #216
@allomorphy How did you find that which css is conflicting

[2020-05-20 09:06] vartikaongraph commented on #216
I checked with multiple iPhone, it is working in Safari but not in Chrome

[2020-05-20 09:11] mozmorris commented on #216
@vartikaongraph unfortunately Chrome uses a WebView on iOS. getUserMedia is currently not supported. See #95 for more details.

[2020-05-20 09:11] #216 closed

[2020-05-20 09:21] vartikaongraph commented on #216
Is there any alternative?

[2020-05-20 09:27] mozmorris commented on #216
There is not unfortunately.

[2020-05-20 09:33] vartikaongraph commented on #216
One last query, Is there any other react packages which supports Chrome also. I really need this to work with every browser in every device.
Thanks for your response

[2020-05-20 09:40] allomorphy commented on #216
@Vartikaongraph,

Re support on iOS, I think that this first answer still applies:
https://stackoverflow.com/questions/29160819/how-to-use-getusermedia-in-chrome-for-ios

I.e. it is a forced restriction of Apple on their ios Platform (with no
workaround possible).  If you are on iOS, then you have your users need
to use Safari.

Re how we found out, our chief dev worked it out another one managed

[2020-05-20 09:56] mozmorris commented on #216
@allomorphy thanks for the extra input, much appreciated.

[2020-05-20 12:42] krean93 opened #218 "mimetype video/mp4"
Is it by any chance possible to have mp4 as the output of the recorded video?

I'm having this error with the example: https://codepen.io/mozmorris/pen/yLYKzyp?editors=0011
`Uncaught NotSupportedError: Failed to construct 'MediaRecorder': Failed to initialize native MediaRecorder the type provided (video/mp4) is not supported.`

Thanks!

[2020-05-20 12:55] mozmorris commented on #218
I don't believe browsers yet have support for recording in MP4.

There's a `MediaRecorder.isTypeSupported()` method which you could use to check. Your best bet would be to convert on the server side.

[2020-05-20 12:55] #218 closed

[2020-05-20 13:30] vartikaongraph opened #219 "Image Rotation in Mobile"
When I tried to click picture from mobile camera it is being rotated. Does webcam provide any attribute for fix orientation?

[2020-05-20 13:37] mozmorris commented on #219
@vartikaongraph can you provide an example?

And give this demo a try: https://codepen.io/mozmorris/pen/gOOoqpw?editors=0011

[2020-05-20 13:53] vartikaongraph commented on #219
@mozmorris  I tried and it is working fine in my laptop but not working correctly for mobile phone. Image is rotating every time

[2020-05-20 14:18] mozmorris commented on #219
What mobile device are you using?

[2020-05-20 14:27] vartikaongraph commented on #219
Android mobile and iPhone both.

[2020-05-20 14:49] mozmorris commented on #219
What version of the iPhone @vartikaongraph? I have an iPhone 8 and XS here, both running latest iOS `13.4.1` - the demo I sent captures the image with the correct orientation.

Can you run through the steps? When you say "click" picture, what process are you following?

If you have some example code that would also be very helpful.

[2020-05-20 14:57] vartikaongraph commented on #219
`import React, {useState} from 'react';
import Webcam from "react-webcam";
import { Button, Row, Col  } from 'reactstrap'
import './styles.scss'
import  FA  from 'react-fontawesome'
import {isMobile} from 'react-device-detect';

const WebcamCapture = ({capturedPhoto}) => {
    const webcamRef = React.useRef(null);
    const [imageSrc, setImageSrc] = useState(null);
    const [status, setStatus] =

[2020-05-20 20:18] ggican opened #220 "Webcam Video can't display height more than 720px in Safari and Firefox"
Hello

Thank you for library

I had an issue in firefox and safari if I set height video more than 720px, react-webcam can't set height more than 720px, that is an issue in safari and firefox

here is example my videoConstraints in react webcam
[code]
With these settings i can't get webcam video height with 1280px just 720px in safari and firefox
thank you very much

[2020-05-21 08:14] mozmorris commented on #220
@ggican this will depend on the capabilities of your media device. eg. it may well only support up to 720 (I have the same issue on my desktop)

If you wish you fill a larger space with the video, I would suggest using CSS.

[2020-05-21 08:17] mozmorris commented on #220
Here's an example. Note that the video constraints have smaller dimensions than the styling being applied to the video element.

[code]

[2020-05-21 08:36] mozmorris commented on #219
@vartikaongraph I've taken your example and re-created it on CodePen. Tested on MacOS, iOS (iPhone 8 & XS), Windows 10 (internal and external webcam)

https://codepen.io/mozmorris/pen/jObdbpb?editors=0010

[2020-05-21 08:37] #220 closed

[2020-05-21 18:15] donovan-PNW opened #221 "Can I use the webcam without actually displaying a video feed on screen?"
I'm trying to hide the video canvas while only displaying screenshots to the user. I've tried the usual CSS tricks: if I try to display it off screen or hide it completely, the component itself seems to work but the webcam gets no data (or a black screen). Am I missing a setting/method that can handle this?

Thanks!

[2020-05-21 18:18] mozmorris commented on #221
@donovan-PNW you mean like this: https://codepen.io/mozmorris/pen/VwvgzVZ?editors=0010

[2020-05-21 18:25] donovan-PNW commented on #221
@mozmorris Exactly like that! Thanks you're a lifesaver!

[2020-05-21 18:25] #221 closed

[2020-05-21 18:26] mozmorris commented on #221
No problem 👍

[2020-05-21 18:33] mozmorris commented on #219
@vartikaongraph since I can see you have upload code, I'm guessing your issue might be on the server side. Please feel free to reopen this issue if you still think it's something wrong with react-webcam.

Pleas note, I'm using this library on various projects in the wild where we upload images from user's devices and this isn't something I've come across.

[2020-05-21 18:33] #219 closed

[2020-05-22 19:27] Dhavalptel opened #222 "After capture, camera is not closed"
After the image is captured and the component is changed, the camera is still opened. It does not get closed.

[2020-05-23 06:23] mozmorris commented on #222
@Dhavalptel do you have any further details e.g browser, device? Maybe an example?

Here's a CodePen: https://codepen.io/mozmorris/pen/pojYEPR?editors=0010

Tested on MacOS, iOS (iPhone 8 & XS)

[2020-05-23 06:40] mozmorris commented on #209
@cemozerr so I've had a look at this - you might need to give me some further details about the behaviour you were expecting.

Here's an example: https://codepen.io/mozmorris/pen/JjYzRpa?editors=0010

This uses the width and height constraints, and the `forceScreenshotSourceSize` gives a distorted image when I shoot in portrait.

[2020-05-23 06:42] mozmorris commented on #209
It's worth mentioning that the constraints values are linked to the media devices capabilities i.e not all devices will support the constraints you supply, so they can either fail or fallback to safe values.

[2020-05-25 09:30] tneels commented on #211
Hi everyone, I just encountered the exact same issue. I fixed it by removing the property "imageSmoothing".

[2020-05-25 14:13] Dhavalptel commented on #222
I've checked that. But still it is not working

[2020-05-25 14:17] Dhavalptel commented on #222
Here is the code, please take a look and let me know...
[code]

In this, when user captures the photo, `imageData` will have the data ( I've tested and it is working for sure ).

I also checked that after the image is captured does the webcam code is rendered or not. That code is also not rendering...

But still the camera does not close. Also when I go to some other route, the camera does not clo

[2020-05-25 16:28] mozmorris commented on #222
I've recreated your example on CodePen here: https://codepen.io/mozmorris/pen/xxweLMz?editors=0010

I've added the missing variable initialisations for `webcamExists` and `videoConstraints` so you may wish to add your own logic to how these are created.

Currently, it doesn't do anything since `Webcam` doesn't take a `capture` prop. Could you fork it and amend so that it's the same as your own app

[2020-05-25 16:29] mozmorris commented on #222
Oh, and what device/browser are you using?

[2020-05-26 05:37] Dhavalptel commented on #222
I'm using mac and running the site in chrome

[2020-05-26 07:53] mozmorris commented on #222
What's the Chrome version?

[2020-05-26 09:52] Dhavalptel commented on #222
Hey Morris, I've updated the codepen.

The chrome version is :- 81.0.4044.138

[2020-05-26 10:07] mozmorris commented on #222
Great, unfortunately the example doesn't work for me - I get a blank screen. There's an error on the page, check the console.

![Screen Shot 2020-05-26 at 11 06 45](https://user-images.githubusercontent.com/156303/82888284-0abbec80-9f41-11ea-87ec-0be8feaa20f5.png)

Additionally, you're creating your own stream via getUserMedia. If you don't kill this stream on navigation/unmount, it will still exi

[2020-05-26 11:12] Dhavalptel commented on #222
I agree. But when I'm not creating my own stream, the camera is not getting on.

[2020-05-26 11:54] mozmorris commented on #222
That sounds like a different issue to this one. I'm closing this since you're creating a stream outside of react-webcam and I'm confident that is why the camera remains on,

[2020-05-26 11:54] #222 closed

[2020-05-26 11:55] Dhavalptel commented on #222
But when not creating the stream, the camera is still on

[2020-05-26 11:56] mozmorris commented on #222
Please create an example without creating another stream.

[2020-05-26 15:39] tneels commented on #170
Hello @philgruneich , I didn't fully understand how you solved the issue. Is there any code example or something we can check ?

Thanks

[2020-05-27 12:19] philgruneich commented on #170
@tneels We moved all the webcam logic to the same route because we created a new mediaStream with a custom hook, unfortunately, I can't share the code I wrote for it. Create a single MediaStream and work only on it, don't create additional MediaStream objects.

[2020-06-09 07:43] tneels commented on #170
Thx @philgruneich , I finally figure out how to do it, thx to your reply. Here is a sample code to switch from front cam to back cam, or the inverse.

[code]

This.state.isFacingMode is used to set up constraints in Webcam component props.

Hope it will help other devs in the same situation.

[2020-06-17 20:05] Vini98br commented on #193
`
  function dataURLtoFile(dataurl, filename) {
    var arr = dataurl.split(','),
        mime = arr[0].match(/:(.*?);/)[1],
        bstr = atob(arr[1]),
        n = bstr.length,
        u8arr = new Uint8Array(n);

    while(n--){
        u8arr[n] = bstr.charCodeAt(n);
    }
    return new File([u8arr], filename, {type:mime});
  }
`
 @kirasiris send your base64 as dataUrl to this function, and the

[2020-06-19 01:53] kirasiris commented on #193
@Vini98br thank you so much for this!!!. I was just able to implement this feature!! xD.

[2020-06-22 16:04] Abdilar commented on #211
It's really bad. I have the same issue.

[2020-06-24 11:19] tneels commented on #211
Hi. I experienced the same issue. My problem was about to enable "local storage" in the android app.

[2020-06-25 13:12] omar-shabaro commented on #211
@cvsalaskar21 sorry for the late response but I think the storage permission is required.
![image](https://user-images.githubusercontent.com/4797777/85726358-abe3c180-b6fe-11ea-9989-083bc8b69559.png)

[2020-07-31 08:26] ionalexandrusecara opened #229 "Webcam always on"
- [x] Is your app running over HTTPS?
- [x] Have you tried running the demo (https://codepen.io/mozmorris/pen/JLZdoP) on your device?

Hey everyone!

I've been using react-webcam for a while now, and I've just recently noticed a bug. I use react-router and when I change the page/route but the camera is still loading/booting up, the camera will continue loading and stay on until the website is clos

[2020-08-05 11:11] akshayvenugopal07 commented on #151
Hey @mozmorris

Please help I know that react-webcam has issues rendering in webviews but if the camera fails the onUserMediaError is not being run in these webviews is there any way I can detect if the camera has error, its OK if the permission is denied or if there is an issue I just need to be notified somehow. Please help in any way you can its really critical for the application.

https://cod

[2020-08-05 11:16] akshayvenugopal07 opened #230 "onUserMediaError not Running correctly"
## Please follow the general troubleshooting steps first:

- [YES ] Is your app running over HTTPS?
- [ YES] Have you tried running the demo (https://codepen.io/mozmorris/pen/JLZdoP) on your device?

### Bug reports:

Hey @mozmorris

Please help I know that react-webcam has issues rendering in webviews but if the camera fails the onUserMediaError is not being run in these webviews is there any way

[2020-08-05 11:23] akshayvenugopal07 commented on #230
![Screenshot_20200805-162933_Instagram](https://user-images.githubusercontent.com/44598082/89407275-1fd0ab00-d73c-11ea-8ee8-19cee3ce3b7a.jpg)

This image depicts the error page hope its helpfull

[2020-08-07 20:32] ClubSpeedJustinG commented on #229
I am running into the same issue.

[2020-08-08 08:14] acornwall opened #231 "Creating multiple <Webcam /> instances at the same time can fail."
## Please follow the general troubleshooting steps first:

- [ ] Is your app running over HTTPS? Yes
- [ ] Have you tried running the demo (https://codepen.io/mozmorris/pen/JLZdoP) on your device? Yes

### Bug reports:
[code]

### Features:

This fails because the navigator.mediaDevices#mediaDevices method can throw a 'NotReadableError' if the device is busy being accessed by another <Webcam /> in

[2020-08-08 17:22] acornwall opened #232 "Stream doesn't always stop on component unmount."
## Please follow the general troubleshooting steps first:

- [x] Is your app running over HTTPS?
- [x] Have you tried running the demo (https://codepen.io/mozmorris/pen/JLZdoP) on your device? Yes. The demo worked fine, but I was unable to reproduce this bug even after adding a toggle for the webcam on the demo.

### Bug reports:

I tried to make a repro of this issue, but had trouble reproducing

[2020-08-08 17:27] acornwall commented on #229
Sorry, I ended up making a duplicate issue with a fix for this. See #232 for how to resolve this. There's a race-condition where you're unmounting before `#handleUserMedia` gets called. The fix is only a few lines of code.

[2020-08-10 09:01] mozmorris commented on #232
@acornwall would be great if you could create a PR for this :-)

[2020-08-10 12:22] akshayvenugopal07 commented on #230
Any updates @mozmorris

[2020-08-10 14:03] mozmorris commented on #230
@akshayvenugopal07 thanks for you patience @akshayvenugopal07 but I've not had a chance to look at this. Perhaps you could try debugging it yourself and seeing why the error handler isn't called?

[2020-08-10 17:20] ClubSpeedJustinG commented on #232
I attempted the solution that was provided by @acornwall, but I didn't have any luck. Perhaps I can create a small sample app that can reproduce the issue to continue to troubleshoot.

[2020-08-11 15:24] studioswong commented on #189
Thank you for the follow up @mozmorris ! Wondering before the support for accessing camera flash is released for react-webcam, what is your suggested work-around in the meantime to allow my web-app to access the camera flash settings
while still using react-webcam to control our camera? Having built our app around react-webcam, we LOVE react-webcam and would hope to continue working with react-web

[2020-09-09 16:49] aniksharif commented on #95
Any update or alternative?

[2020-09-10 11:07] RezaZR commented on #195
I have same problem, do you use react-webcam and you combine with getUserMedia? Because mine doesn't work. How you did that?

[2020-09-16 16:44] keithpickering commented on #232
@acornwall Thank you for looking into this issue! I think we're experiencing it as well. Would you mind creating a pull request so we don't have to create/maintain our own fork?

[2020-09-21 08:32] acornwall commented on #232
Hi, Keith. I don't have the spare time to work on this right now. Please feel free to make a pull request and take credit for a fix.

[2020-09-21 09:56] Avi98 opened #234 "Not working on IOS chrome."
## Please follow the general troubleshooting steps first:

- [x] Is your app running over HTTPS?
- [x] Have you tried running the demo (https://codepen.io/mozmorris/pen/JLZdoP) on your device?

### Bug reports:

Tried to run the demo (https://codepen.io/mozmorris/pen/JLZdoP) on IOS chrome. Not working. But it's working on  safari

[2020-09-21 13:27] keithpickering opened #235 "Doesn't work in Facebook Messenger in-app browser (Android and iOS)"
## Please follow the general troubleshooting steps first:

- [X] Is your app running over HTTPS?
- [X] Have you tried running the demo (https://codepen.io/mozmorris/pen/JLZdoP) on your device?

### Bug reports:

React-webcam doesn't prompt the user to allow camera/mic access when viewed with Facebook's in-app browser.

Since I'm guessing this is a permission issue with webviews or something, is th

[2020-09-24 15:20] innovative-piggy opened #236 "Calling getScreenshot() immediately on stream can return null"
## Please follow the general troubleshooting steps first:

- [ ] Is your app running over HTTPS? Yes, it does
- [ ] Have you tried running the demo (https://codepen.io/mozmorris/pen/JLZdoP) on your device? Yes, I did.

### Bug reports:

I've deployed a basic webcam project on https://camctr.web.cam
It gets screenshot on camera start (try every second until getting valid screenshot image) and show

[2020-09-25 12:15] mozmorris commented on #235
@keithpickering unfortunately this uses a WebView. getUserMedia is currently not supported. See #95 for more details.

[2020-09-25 12:15] #235 closed

[2020-09-25 12:15] mozmorris commented on #234
@Avi98 unfortunately Chrome uses a WebView on iOS. getUserMedia is currently not supported. See #95 for more details.

[2020-09-25 12:15] #234 closed

[2020-09-25 12:15] #209 closed

[2020-09-25 12:20] mozmorris commented on #236
@innovative-piggy unfortunately your link doesn't work for me so I can't test.

However, I have a capture example here: https://codepen.io/mozmorris/pen/gOOoqpw (tested and working on the latest iOS iPhone 8 and XS)

Let me know how you get on.

[2020-09-25 12:23] mozmorris commented on #229
@acornwall closing in favour of #232

[2020-09-25 12:23] #229 closed

[2020-09-25 14:45] innovative-piggy commented on #236
Hi @mozmorris thanks for your info.
I've called the getScreenshot() onUserMedia, but it returned null.
So I've set up interval until it gets actual screen image dataUrl.
I think that's the problem on iPhone?

What I want to ask now is, how can I get the event when the webcam component starts streaming the actual camera video?
As I mentioned, onUserMedia didn't work.
Many thanks.

[2020-09-25 15:09] innovative-piggy commented on #236
I mean how can I capture the screenshot on camera start?

[2020-09-25 15:23] mozmorris commented on #236
Okay interesting, I can see where is the issue is. We call `onUserMedia` immediately upon getting the stream but at this point the stream hasn't been rendered to the page. Therefore calling `getScreenshot()` will return `null`.

Can you try this example: https://codepen.io/mozmorris/pen/dyMrMMw?editors=0011

[2020-09-25 15:46] innovative-piggy commented on #236
Thanks, @mozmorris
I've successfully got screenshot by calling it onPlay={handleScreenshot()}. It works!
By the way, does it support all browsers on iOS? or only Safari?

[2020-09-25 15:50] mozmorris commented on #236
Only Safari is supported as getUserMedia is not supported inside Webviews (which is what Chrome uses on iOS)

[2020-09-25 15:53] innovative-piggy commented on #236
Thank you for your assistance @mozmorris
My issue has been solved!

[2020-09-25 15:53] #236 closed

[2020-09-26 09:29] Avi98 commented on #234
@mozmorris I found a workaround it by using. I have added a check if not

```navigator.mediaDevices.getUserMedia !== undefined ``` then render this

[code]

[2020-10-07 19:21] paweldomas commented on #232
Hi there!
Here's a PR which fixes this issue for us (pretty much what described above):
https://github.com/mozmorris/react-webcam/pull/238

[2020-10-08 10:44] mozmorris commented on #232
@paweldomas if you can confirm the `5.2.1` published version fixes this, we can close. And thank you again.

[2020-10-08 12:17] Rama144 opened #239 "How can I save the image in Local Folder as well as Database such as MongoDB"
I achieved Capturing screenshot and displaying it in the HTML
But can someone help me how to save it into Local Folder as well as to the database .

I had provided my code below

[code]

I know this is a small issue , But I couldn't find it else where .
Any help would be much appreciated . Thanks

[2020-10-08 12:55] mozmorris commented on #239
@Rama144 you need to upload the base64 image string to your server. I would suggest using the `fetch` api to do this.

Perhaps search/ask on Stackoverflow to see if anyone can help you. Best of luck.

Here's an example I created to capture video which can be downloaded. You could adapt this to work with the image. https://codepen.io/mozmorris/pen/yLYKzyp?editors=0011

[2020-10-08 12:55] #239 closed

[2020-10-09 13:57] paulVulog opened #240 "Android - Flickering Camera on Samsung S9"
Hi,

I am facing a strange issue that I can only reproduce on my Samsung Galaxy S9 (Emulators and most of other devices are fine).

I can reproduce using the demo URL : https://codepen.io/mozmorris/pen/JLZdoP
Here is the strange result I get:
The very first time I launch my app ( or if I start from a fresh App Data cleaning ), everything works fine on my device.
-> The webview request the permissi

[2020-10-10 09:23] mozmorris commented on #240
@paulVulog firstly, thanks for the detailed report.

This is quite interesting since in the issue you linked to (#211) others weren't even able to get the component to work in a WebView. Would you mind posting your config over on that issue? That will probably help others having issues. I'd also be interested to see it as well.

On your own issue, have you tested any other getUserMedia implementat

[2020-10-10 09:26] mozmorris commented on #232
@acornwall if you get the time could you also test the latest version. Thank you :-)

[2020-10-12 12:48] amanadi007 opened #241 "Unable play recorded videos using media player"
I'm trying to capture the video using react-webcam and preview the captured video on a video player. I followed this [example](https://codepen.io/mozmorris/pen/yLYKzyp?editors=0010) where the video can be downloaded, however when extending the solution to play the video, i'm getting an error ``GET blob:https://cdpn.io/fd3c6cb3-469e-4ad3-9b9c-3aed6407e4d3 net::ERR_FILE_NOT_FOUND``, Related [codepen

[2020-10-12 12:54] mozmorris commented on #241
@amanadi007 you need to remove the line `window.URL.revokeObjectURL(url);` as this will delete the reference to the object.

[2020-10-12 12:54] #241 closed

[2020-10-12 13:05] mozmorris commented on #241
...and thank you for providing a CodePen 👍

[2020-10-12 14:17] amanadi007 commented on #241
Cool. Thanks for the help 😄👍

[2020-10-13 06:40] amanadi007 commented on #241
@mozmorris, is there any way to get the recorded video blob when mediaRecorder stops, i tried this by adding event listener on stop property but the recordedChunks is still empty? Related [codepen link](https://codepen.io/amanadi007/pen/BazNbzw), is there anything i'm doing wrong here?

[2020-10-14 14:02] paulVulog commented on #240
Hi @mozmorris .

I can reproduce the exact same issue with a brand new app only to test this use case.
Here is the minimal code required to have your URL working - except for my Samsung S9 : ( https://codepen.io/mozmorris/pen/JLZdoP )

**Android Manifest Permission:**

[code]

**Android WebView Component :**

[code]

**Android Activity (full code) :**

[code]

------

Reminder :
This code works fi

[2020-10-14 20:00] paweldomas commented on #232
@mozmorris `5.2.1` fixes the problem for me

[2020-10-15 07:35] #232 closed

[2020-10-19 14:20] hiep294 opened #242 "Work in codepen, work in laptop device, but not in mobile device"
- [x] Is your app running over HTTPS?
- [x] Have you tried running the demo (https://codepen.io/mozmorris/pen/JLZdoP) on your device?

### Bug reports:
Lib has worked correctly in browser of laptop or codepen, but in mobile device, it showed nothing
https://github.com/hiep294/react-webcam-demo
Thank you!.

[2020-10-19 14:52] mozmorris commented on #242
@hiep294 thanks for this report.

1. Could you provide a link to where your application is deployed?

2. What mobile device are you testing on?

[2020-10-21 20:32] nonybrighto commented on #162
Please how do I make it work on IE 11? Is there a polyfill to make it work?

[2020-10-22 06:48] mozmorris commented on #162
@nonybrighto the polyfill for IE11 uses Flash. There are no plans to support that here.

[2020-10-23 19:06] cabello commented on #211
Related to https://github.com/mozmorris/react-webcam/issues/242 but this issue is more complete.

If I open https://codepen.io/mozmorris/pen/KKwdOPO in my Chrome / Android / Pixel 3:
* the camera shows up, and it works as expected
* it also lists 4 devices
* if I switch devices 💥  then the camera halts, the Chrome tab is toast, I cannot click, interact with anything else, Android still shows the c

[2020-10-27 08:22] hiep294 commented on #242
may be need to set up https for website, thank you

[2020-10-27 08:22] #242 closed

[2020-10-27 19:20] nikhil-tayal opened #243 "Back Camera is not working"
[code]

This code not opening the back camera.

[2020-10-27 20:22] mozmorris commented on #243
@nikhil-tayal have you tried removing the `exact`? eg `facingMode: 'environment'`

[2020-10-28 04:36] nikhil-tayal commented on #243
Yes, I tried but not working.

[2020-10-28 21:15] atroo commented on #203
Thanks @bauwaerter ,

I tried
[code]
and the compiler showed some weird mismatch errors. Your code is working well!

[2020-10-29 14:09] keithpickering commented on #170
All the examples in this thread cause the latest version of Chrome for Android to become totally unresponsive. The whole browser freezes and requires a force close to get working again.

Are there any updates on this? I've tried changing the deviceId in the constraints with or without stopping all media streams first, with timeouts, etc.

[2020-10-29 14:13] keithpickering opened #244 "Switching deviceId in audio/video constraints freezes the browser in Chrome for Android"
Hi, please see this example for testing: https://dev.boothpics.com/booth/xlqp3o

This previous (now closed) issue features some codepen examples that also exhibit the issue: https://github.com/mozmorris/react-webcam/issues/170

Changing the videoConstraints or audioConstraints seems to freeze the entire browser, requiring a force close. I've tried to solve the issue by stopping media streams befor

[2020-10-29 18:46] mozmorris commented on #244
Hi @keithpickering - thanks for the report and trying to solve it.

I don't currently have an Android I can test on as I'm working from home. As a suggestion, I was wondering you might try creating a pure js solution eg no React, calling getUserMedia with the new constraints on user input, and seeing what result you get.

If that works, then it might be easier to track down where in the lifecycle

[2020-10-29 18:50] mozmorris commented on #243
@nikhil-tayal could you try taking a look at this example: https://codepen.io/mozmorris/pen/KKwdOPO

Are both your devices listed?

[2020-11-10 17:30] DsEsteban opened #245 "Is there a way to get EXIF data?"
## Please follow the general troubleshooting steps first:

- [x] Is your app running over HTTPS? (please provide the URL if possible)
- [x] Have you tried running the demo (https://codepen.io/mozmorris/pen/JLZdoP) on your device?
- [ ] Checked the latest "Can I use" compatbility table? (https://caniuse.com/stream)

### Bug reports:

If you can provide a minimal reproducible demo (CodePen, CodeSand

[2020-11-10 17:40] mozmorris commented on #245
@DsEsteban good question. If you're referring to the capturing a screenshot, the short answer is no, unfortunately. This is because we draw the stream to canvas before returning the base64 string (the canvas step ignores any extra data)

However, my understanding is the stream itself may contain extra data and the newer api `takePhoto()` may support it.

[2020-11-11 09:31] dickyindra opened #246 "How can I set portrait mode?"
## Please follow the general troubleshooting steps first:

- [x] Is your app running over HTTPS? (please provide the URL if possible)
- [x] Have you tried running the demo (https://codepen.io/mozmorris/pen/JLZdoP) on your device?
- [x] Checked the latest "Can I use" compatbility table? (https://caniuse.com/stream)

### Bug reports:

My code: https://codesandbox.io/s/sleepy-lewin-2sle5

I tried it

[2020-11-11 12:27] patilniranjan7 opened #247 "How to stop camera"
## Please follow the general troubleshooting steps first:

- [x] Is your app running over HTTPS? (please provide the URL if possible)
- [x] Have you tried running the demo (https://codepen.io/mozmorris/pen/JLZdoP) on your device?
- [x] Checked the latest "Can I use" compatbility table? (https://caniuse.com/stream)

### Bug reports:

If you can provide a minimal reproducible demo (CodePen, CodeSand

[2020-11-11 15:47] jiteshwadia commented on #247
@patilniranjan7 stopping camera works fine. But were you able to hide the video icon from address bar.

[2020-11-11 16:07] patilniranjan7 commented on #247
That mean camera is not stopped. Our problem are same bro. When camera accessed then that icon came.

[2020-11-15 11:02] AlessandroGrassi1998 commented on #246
I have the same issue, have you found a solution yet?

[2020-11-15 13:25] amritanand981 opened #248 "Stop is not working on Safari 11"
I have tried stopping the running recording on Safari browser and it is not working. Even the "stop" button  demo on the codepen is not working on Safari(https://codepen.io/mozmorris/pen/yLYKzyp?editors=0011)
Please help

[2020-11-16 09:25] mozmorris commented on #247
Once the camera has been accessed, even if stopped the icon will remain. I've not been able to find an example where this is any different. For example, I can physically detach my camera and the icon remains.

[2020-11-16 09:25] #247 closed

[2020-11-16 09:31] mozmorris commented on #248
@amritanand981 could you try this example: https://codepen.io/mozmorris/pen/pojYEPR

![Kapture 2020-11-16 at 09 28 31](https://user-images.githubusercontent.com/156303/99235994-8317b200-27ee-11eb-8c7e-ebf5f90a7fa1.gif)

[2020-11-16 13:34] NobbsNobby commented on #246
I hope my code helps you

[code]

[2020-11-18 20:26] atav32 opened #250 "Allow passing in an existing MediaStream"
### Feature Request:
Re-rendering `<ReactWebcam/>` on Firefox will prompt the user for video permission several times. This is intentional behavior according to Mozilla, i.e. "keep the user in charge", https://github.com/mozilla/standards-positions/issues/19#issuecomment-365152565.

To avoid annoying the user and to keep the media permission user experience in-line with other browsers, I'd like to

[2020-11-28 15:12] nazmulshuvo03 opened #251 "Doesn't work on iPhone OS 13.3"
## Please follow the general troubleshooting steps first:

- [x] Is your app running over HTTPS? (please provide the URL if possible)
- [x] Have you tried running the demo (https://codepen.io/mozmorris/pen/JLZdoP) on your device?
- [x] Checked the latest "Can I use" compatbility table? (https://caniuse.com/stream)

### Bug reports:
Webcam works fine on Android, Windows and Ubuntu. But does not wor

[2020-11-29 07:52] mozmorris commented on #248
Closing due to inactivity. Please feel free to reopen @amritanand981 if you believe there's still an issue here.

[2020-11-29 07:52] #248 closed

[2020-11-29 07:55] mozmorris commented on #251
@nazmulshuvo03 thanks for this report.

Would you mind testing this WebRTC demo? https://webrtc.github.io/samples/src/content/getusermedia/gum/

Additionally, could you check the console for errors and copy them here? 👍

[2020-11-29 08:09] mozmorris commented on #250
@atav32 could you provide an example of this?

I have created a simple demo that updates a component at a 1 second interval. Tested in Firefox and I don't get asked for permission on each render. Perhaps I'm misunderstanding the problem so an example would be useful.

https://codepen.io/mozmorris/pen/KKgwZmo?editors=0010

[2020-11-29 08:10] mozmorris commented on #245
@DsEsteban I am closing this since it's not currently supported.

[2020-11-29 08:11] #243 closed

[2020-11-29 12:34] nazmulshuvo03 commented on #251
@mozmorris I have tried the WebRTC demo. Here is the screen record: [video](https://drive.google.com/file/d/1ksEb8m3GCQR6c7C20DoxVQJpGfa0f00X/view?usp=sharing)

I can't check the console, because it is happening on a phone.

[2020-11-29 13:07] mozmorris commented on #251
Just realised you're using Google Chrome - unfortunately getUserMedia isn't supported inside a WebView currently (check the latest "Can I use" compatibility table)

[2020-11-29 13:07] #251 closed

[2020-11-29 16:35] akshaypjoshi commented on #38
Is it implemented?

[2020-11-29 19:10] #245 closed

[2020-11-30 09:49] dickyindra commented on #246
Thank you, but does not solve the camera resolution problem.

[2020-12-01 19:38] ChrisZieba commented on #244
I've been running into the same problem, but also notice chrome will freeze in Android if I just try and capture an image. Tried all types of video constraints. I haven't been able to isolate the problem yet, but I started using https://github.com/MABelanger/react-html5-camera-photo as a drop in replacement and it seems to work when changing the facing mode on the fly, and also captures images wit

[2020-12-03 03:32] LKay opened #252 "Switching camera on iOS Safari ends in blank stream."
## Please follow the general troubleshooting steps first:

- [x] Is your app running over HTTPS? (please provide the URL if possible)
- [x] Have you tried running the demo (https://codepen.io/mozmorris/pen/JLZdoP) on your device?
- [x] Checked the latest "Can I use" compatibility table? (https://caniuse.com/stream)

### Bug reports:

I'm trying to make a camera switcher and iOS Safari breaks when

[2020-12-03 15:02] codercoder12 opened #253 "How to mute the beep sound in starting and in ending, while recording video from webcam in browser in react."
## Please follow the general troubleshooting steps first:

- [ ] Is your app running over HTTPS? (please provide the URL if possible)
- [ ] Have you tried running the demo (https://codepen.io/mozmorris/pen/JLZdoP) on your device?
- [ ] Checked the latest "Can I use" compatbility table? (https://caniuse.com/stream)

### Bug reports:

If you can provide a minimal reproducible demo (CodePen, CodeSand

[2020-12-04 07:13] codercoder12 commented on #253
While using react-webcam to record video and audio from a browser(chrome), then when we play that recorded video there a beep sound(sounds like a button is clicked) in starting of the video and in ending of the video. how can we mute/remove the beep sound from the recorded video. I used the recording demo, everything works fine but there is a beep sound in starting and ending of the recorded video

[2020-12-09 15:56] bhushan90 opened #254 "React webcam is not detecting camera which is connected by IP address"
I have integrated react-webcam in my application.
It is working fine for the system camera.

But I need to connect it to my IP camera.

In the device list, I can not get the IP attached camera name and Id.

[2020-12-09 16:09] mozmorris commented on #254
@bhushan90 thanks for posting this.

Could you clarify if this is a react-webcam issue or that you can't get access to the camera at all?

Could you check that your device is listed here: https://webrtc.github.io/samples/src/content/devices/input-output/

[2020-12-09 16:17] mozmorris commented on #253
@codercoder12 have you tried disabling the `audioConstraints` ?

[code]

Could you post a sample of the video?

[2020-12-09 16:43] bhushan90 commented on #254
@mozmorris  Thank you for the quick response.
I am not sure as the issue is reported by the client.
But could please tell me if **react-webcam** detects the camera connected by IP or not?
As some users facing issues while detecting IP cameras on their side.

[2020-12-09 16:48] mozmorris commented on #254
This component doesn't do any detection as such. It's a wrapper around `getUserMedia`. If `getUserMedia` or `enumerateDevices` can't detect the camera, then you're out of luck I'm afraid.

[2020-12-10 05:13] bhushan90 commented on #254
Yes, I think getUserMedia doesn't detect IP cameras.

Thank You So much.

[2020-12-10 05:13] #254 closed

[2020-12-14 12:07] codercoder12 commented on #253
This is muting everything, even what we are speaking. How can we enable audio but disable that beep sound(clicking button sound) ?

[2020-12-15 11:44] mozmorris commented on #253
What sort of Webcam are you using @codercoder12?

[2020-12-16 13:02] codercoder12 commented on #253
I am using macbook's camera for recording video in browser

[2020-12-16 13:04] mozmorris commented on #253
Is there an possibility you could send me a sample? I have tested here on a MacBook and I don't get a beep. I wonder what is causing that.

[2020-12-16 19:12] BradPrit09 opened #256 "How can click multiple screenshots ?"
## Please follow the general troubleshooting steps first:
- [x]  App running over http://localhost:8000/
- [x] Have you tried running the demo (https://codepen.io/mozmorris/pen/JLZdoP) on your device?
- [x] Checked the latest "Can I use" compatbility table? (https://caniuse.com/stream)

### Question:
I have been trying to get multiple screenshots but I am stuck. There is no documentation regarding

[2020-12-16 19:14] mozmorris commented on #256
Hi @BradPrit09 - can you supply a demo of what you've tried so far?

[2020-12-16 19:15] mozmorris commented on #252
@LKay can you you supply some example code?

[2020-12-17 06:25] BradPrit09 commented on #256
Hi @mozmorris  I have used this as an example and getting only the current screenshot.
[code]

[2020-12-21 07:56] bhushan90 opened #257 "How can we apply zooming into camera on mobile decvices."
Is there any way to apply zooming on mobile devices?

I have added react-webcam in my application.
The camera is working on mobile devices.
ut now I want to zoom into the camera so that I can capture images from a long distance.

[2020-12-21 10:21] BradPrit09 commented on #256
Can anyone guide me here ?
@mozmorris  !

[2020-12-21 10:24] mozmorris commented on #256
@BradPrit09 you will need to put your captured screenshots in an array or object.

[2020-12-21 10:27] mozmorris commented on #256
Like so https://codepen.io/mozmorris/pen/LYRjOdj

[2020-12-21 10:27] #256 closed

[2020-12-21 10:31] BradPrit09 commented on #256
Thank you very much. @mozmorris

[2020-12-23 07:48] #253 closed

[2020-12-23 07:50] mozmorris commented on #253
@codercoder12 if this issue is resolved would you mind leaving a comment here just in case another developer experiences the same issue?

[2020-12-23 07:55] mozmorris commented on #257
@bhushan90 I guess there's a couple of ways of looking at this,

1. Physically trying to zoom the camera (if the device has a telephoto lens),
or 2. Cropping the image and enlarging it (much like how cameras without telephoto lens works)

I'm not sure 1 is possible. I can't find anything in the web spec.
2. You would need to handle this yourself.

[2020-12-23 07:56] #257 closed

[2020-12-23 07:57] mozmorris commented on #230
Closing in favour of #211

[2020-12-23 07:57] #230 closed

[2020-12-23 07:58] mozmorris commented on #240
Closing in favour of #211

[2020-12-23 07:58] #240 closed

[2020-12-23 07:58] #250 closed

[2020-12-26 15:06] champion555 commented on #57
this component don't work in safari of ios. so i tried to install chrome to confirm it is working in chrome.
but camera did not display in chrome browser. i think it has issue. anyone did fix this issue, please commit it in here.
thanks

[2020-12-29 18:30] BradPrit09 commented on #256
Can I show recorded videos as a preview ?

[2020-12-29 18:31] BradPrit09 opened #258 "Show recorded videos as a preview ."
Can I show recorded videos as a preview ?
Code sample : https://codepen.io/mozmorris/pen/yLYKzyp?editors=0011

_Originally posted by @BradPrit09 in https://github.com/mozmorris/react-webcam/issues/256#issuecomment-752195991_

[2020-12-29 19:43] #258 closed

[2020-12-29 19:44] mozmorris commented on #258
@BradPrit09 closing as this is outside the remit of react webcam.

[2021-01-03 07:06] Nitzahon opened #259 "Adding an audio analyzer to webcam"
Hi there.  What I'm trying to do is to connect a basic audio analyzer to the webcam stream, in order to be able to call a function when it goes over the threshold.  (example for context: [audio analyzer](https://jsbin.com/uCalijA/2/edit?html,css,js,output) just without the face) In the end, I want the users voice to trigger a voice recognition component I have, my main issue is how do I connect su

[2021-01-03 13:53] mozmorris commented on #259
@Nitzahon the `onUserMedia` prop callback is passed the media stream. You could pass this to your `createMediaStreamSource` method.

[2021-01-04 11:45] mohammadsadeghforoughi opened #260 "how turning Flashlight or torch on?"
Hi, how can I turn on device flashlights?
as i searched it sholud have ```track``` object to turn it on.

[2021-01-04 11:49] mozmorris commented on #260
Closing in favour if #189

[2021-01-04 11:49] #260 closed

[2021-01-08 17:56] mwijaya3 commented on #195
Can you provide an example?

[2021-01-11 16:49] damianfrizzi opened #261 "Multiple permission prompts in Firefox"
### Problem

We support devices with multiple rear cameras. In order to pick the right rear camera we need to figure out which is the "nearest" one. One [workaround](https://github.com/jeromeetienne/AR.js/pull/620/files) to get the right camera is to check the label of all devices for the keyword "back". Accessing the label in Firefox is only possible though if there is an active stream or the use

[2021-01-11 16:52] mozmorris commented on #261
@damianfrizzi thanks for the detailed post. The `onUserMedia` prop callback is passed the active stream. Would that work for you?

[2021-01-12 09:08] damianfrizzi commented on #261
@mozmorris thanks for the quick response. I could indeed solve it within the `onUserMedia` callback by using `applyConstraints`. I think though that it generates some unnecessary overhead in user land code and could be solved nicely in the library. If I understood it correctly, Firefox will only show a new permission prompt if `userFacing` changes. Therefore one could add an [additional check in t

[2021-01-12 09:10] mozmorris commented on #261
Sounds like a good approach to me. PRs welcome :-)

[2021-01-12 09:26] #259 closed

[2021-01-12 12:22] jellevwezel commented on #244
I have this same issue on all Android 11 devices. Are there any updates on this?

[2021-01-15 07:02] codercoder12 commented on #253
Issue was because of me, I was using mouse to press start and stop(it was next to my laptop's mic), it was creating a beep sound. I then changed to trackpad then it was fine.

[2021-01-15 16:08] keithpickering commented on #244
Still looking for updates on this as well. We're on a tight sprint schedule so I haven't had time to debug the package itself. I just know the way it's supposed to work is causing a freeze.

@jellevwezel I've noticed this as well. Sometimes just going to the home screen and back can initiate the "unstick". I've tried a bunch of solutions for unmounting/remounting the camera, including totally remo

[2021-01-18 09:14] Nitzahon commented on #259
This really helped, though audio analyzer was a dead-end.  I found a perfect solution: https://www.npmjs.com/package/hark, connected it to the webcam stream, and connected functions to trigger on speaking and stopped_speaking.  Highly recommended

[2021-01-21 20:38] mwijaya3 opened #263 "Removing canvas once the screenshot is taken"
Thanks for the great library. I have a question in regards to removing the canvas once the screenshot is taken. Currently through the developer tools via Safari, I can see that each time the screenshot/image is taken, new canvas is generated.

Running this on mobile - after accumulating several pictures/canvases (assuming ~30mb per picture), the app crashed due to the memory limit.

Here is an exa

[2021-01-21 23:37] #263 closed

[2021-01-25 11:01] kk90 opened #264 "Note 10 plus camera facing environment does not work"
## Please follow the general troubleshooting steps first:

- [x] Is your app running over HTTPS? (please provide the URL if possible)
- [x] Have you tried running the demo (https://codepen.io/mozmorris/pen/JLZdoP) on your device?
- [x] Checked the latest "Can I use" compatbility table? (https://caniuse.com/stream)

### Bug reports:
The issue is present in core of the library, reproduced bu demo ap

[2021-01-26 21:53] Jonlemos commented on #246
hi i had the same problem and solved it that way:

const videoConstraints = {
  width: 1920,
  height: 1080,
  facingMode: "environment"
}

<Webcam audio={false} className={styles.camera} videoConstraints={videoConstraints} />

style:
.camera{
 transform: rotate(90deg);
}

[2021-01-27 21:46] ehsantekgenisys opened #265 "Some versions of macbook m1 when i start recording i cannot see the preview. It only shows the loader."
## Please follow the general troubleshooting steps first:

- [ ] Is your app running over HTTPS? (please provide the URL if possible)
- [ ] Have you tried running the demo (https://codepen.io/mozmorris/pen/JLZdoP) on your device?
- [ ] Checked the latest "Can I use" compatbility table? (https://caniuse.com/stream)

### Bug reports:

If you can provide a minimal reproducible demo (CodePen, CodeSand

[2021-01-27 21:53] ehsantekgenisys opened #266 "Some versions of macbook m1 when i start recording It only shows the loader."
Some versions of macbook m1 when i start recording all i can see is loading icon.

it is working fine for safari(if i enable media recorder from experimental feature) But for chrome and safari its showing loader icon.

I am adding a screen recording here to better explain the problem i am facing

https://user-images.githubusercontent.com/34641203/106059024-e473cf80-6113-11eb-8b3c-f73e8a024b98.mov

[2021-01-28 14:59] ehsantekgenisys commented on #265
Have added other issue, with more details. SO closing this one.

[2021-01-28 14:59] #265 closed

[2021-01-28 15:17] mozmorris commented on #266
@ehsantekgenisys can you share some of your code?

[2021-01-29 13:47] codercoder12 opened #267 "Video Constraints not working in firefox"
## Please follow the general troubleshooting steps first:

- [x] Is your app running over HTTPS? (please provide the URL if possible)
- [x] Have you tried running the demo (https://codepen.io/mozmorris/pen/JLZdoP) on your device?
- [x] Checked the latest "Can I use" compatbility table? (https://caniuse.com/stream)

### Bug reports:

Video Constraints are not working in firefox, when I am recording

[2021-01-29 15:04] ehsantekgenisys commented on #266
@mozmorris I figured out the issue i had epocam installed.

 The problem was with react-webcam is it selects third party webcam by default when i start recording.

I tried uninstalling epocam and it worked.

This may happen with other users as well when they have third party library installed.

I am adding a link for epocam. Incase you want to investigate it.
 https://www.elgato.com/en

[2021-01-31 16:29] BradPrit09 opened #269 "ISO settings"
Hi,
I find this package very nice to use, Thank you.
I was playing around with the package and found an issue with the Image/Stream quality  (media stream feed), is there any property to increase the iso, saturation, or brightness/contrast of the feed.
I was using Chrome for testing the quality.

Thanks,
@mozmorris

[2021-02-01 19:41] prabu-ssb opened #270 "Simply unable to get Portrait mode on mobile chrome"
Providing aspectRatio (width/height or height/width) through videoConstraints, based on orientation (ht > width -> portrait).
Container and element set to 100% height and width.

Any tips ?

[2021-02-01 19:53] #270 closed

[2021-02-09 14:28] codercoder12 opened #271 "How to mirror video recording?"
## Please follow the general troubleshooting steps first:

- [x] Is your app running over HTTPS? (please provide the URL if possible)
- [x] Have you tried running the demo (https://codepen.io/mozmorris/pen/JLZdoP) on your device?
- [x] Checked the latest "Can I use" compatbility table? (https://caniuse.com/stream)

### Bug reports:

How can we mirror recorded video, I am passing mirrored={true} as

[2021-02-09 14:31] mozmorris commented on #271
@codercoder12 you will need to mirror your stream. The mirror prop in this case only affects the video elements and if you take a screenshot.

[2021-02-09 14:58] codercoder12 commented on #271
The stream is being passed to media recorder API
[code]

How can I mirror this stream?

[2021-02-09 15:08] mozmorris commented on #271
I believe it's possible to get a stream from a canvas element. I've not actually tried it before. Take a look at https://developer.mozilla.org/en-US/docs/Web/API/HTMLMediaElement/captureStream for details.

The approach would be something like:

1. Render stream to canvas
2. Flip/Mirror canvas
3. Capture stream from canvas

Best of luck!

[2021-02-09 21:58] mwarnerdotme opened #272 "onUserMediaError parameter type is wrong in .d.ts file"
## Please follow the general troubleshooting steps first:

- [ yes ] Is your app running over HTTPS? (please provide the URL if possible)
- [ yes ] Have you tried running the demo (https://codepen.io/mozmorris/pen/JLZdoP) on your device?
- [ yes ] Checked the latest "Can I use" compatbility table? (https://caniuse.com/stream)

### Bug reports:

The functionality is as expected, but I am forced to

[2021-02-10 06:49] mozmorris commented on #272
Good catch @mwarnerdotme. I think you'll need to make it a union type of `string | DOMException`

[2021-02-10 06:51] #271 closed

[2021-02-10 06:54] mozmorris commented on #269
@BradPrit09 good question. Check the video constraints - contrast, brightness, iso, etc are supported by many devices. https://developer.mozilla.org/en-US/docs/Web/API/Media_Streams_API/Constraints

[2021-02-10 06:54] #269 closed

[2021-02-10 06:56] mozmorris commented on #267
@codercoder12 the video constraints are dependent on device and browser. Not all sizes will work - did you manage to make any more progress with it?

Re: video size - that will depend on the video codec used which is outside of the scope of react-webcam.

[2021-02-10 06:58] mozmorris commented on #266
@ehsantekgenisys I suggest giving your users a list of devices to select from. react-webcam doesn't make any choices or default to a device here - it simply does what getUserMedia does.

[2021-02-10 06:58] #266 closed

[2021-02-10 07:00] mozmorris commented on #264
@kk90 I would suggest giving your users a device selection. Relying on the `environment` is becoming troublesome on devices with multiple cameras for each environment.

[2021-02-10 07:00] #264 closed

[2021-02-11 15:58] RodolfoSarkisRocha opened #274 "Blank On First Render - Samsung s10+/Note8 (Chrome)"
## Please follow the general troubleshooting steps first:

- [x] Is your app running over HTTPS? (please provide the URL if possible)
- [x] Have you tried running the demo (https://codepen.io/mozmorris/pen/JLZdoP) on your device?
- [x] Checked the latest "Can I use" compatbility table? (https://caniuse.com/stream)

Hi, I'm having trouble opening the component in mobile chrome, it works fine in my

[2021-02-11 16:03] #272 closed

[2021-02-11 16:05] mozmorris commented on #272
released in `5.2.3`

[2021-02-12 17:27] ProtoCh4os commented on #274
Doing some research, I decided to try this solution found on the README.md: https://github.com/mozmorris/react-webcam#show-all-cameras-by-deviceid

[code]

Manually passing the devideId gotten from `handleDevices` to the `videoConstraints` prop did the trick, and now it is working well on mobile (Even as a PWA)

Hope this solution helps!

[2021-02-15 13:06] mozmorris commented on #274
@RodolfoSarkisRocha thanks for posting this issue, and to @ProtoCh4os for some potential help.

Due to working from home, I don't have access to any of the devices you listed currently. Just for the sake of testing the most basic non-react example, could you test your device(s) with the following example? https://webrtc.github.io/samples/src/content/getusermedia/gum/

[2021-02-15 13:07] developdeez opened #275 "There is no way to dynamically set aspect ratio in a PWA"
I wasn't able to get the webcam to look clear in full screen mode in either mobile or desktop.
Here's me codepen code:
[code]

I tried adding the aspect ratio constraint and wasnt able to get it right but figured it should be dynamic somehow since many apps are on many types of browsers.

[2021-02-15 13:17] mozmorris commented on #275
@developdeez I think you'd need to use `cover` as opposed to `fill`.

Quick demo: https://codepen.io/mozmorris/pen/NWbpdYM?editors=0010

[2021-02-15 14:09] developdeez commented on #275
Thanks @mozmorris

[2021-02-15 14:09] #275 closed

[2021-02-16 16:57] Aliaksandr-Yanushkevich opened #276 "MediaStreamError after several refreshing page or returning back from other pages"
## Please follow the general troubleshooting steps first:

- [X] Is your app running over HTTPS? (https://takepic.netlify.app/)
- [X] Have you tried running the demo (https://codepen.io/mozmorris/pen/JLZdoP) on your device?
- [X] Checked the latest "Can I use" compatbility table? (https://caniuse.com/stream)

### Bug reports:
Actual result:
I get MediaStreamError after several refreshing page or r

[2021-02-21 16:58] RodolfoSarkisRocha commented on #274
Hi!

Sorry for the delay.
I found a solution in the mean time, the thing is, my hook was asking permission the wrong way.

What solved the issue was using this as constraints:

[code]

Thanks for all the atention!

[2021-02-21 16:58] #274 closed

[2021-02-21 17:02] RodolfoSarkisRocha commented on #244
Hey guys,

I had the same issue, the problem can be replicated when stopping media tracks on android 11.

I found that this is a bug with this version of android and it can be found here:

https://issuetracker.google.com/u/1/issues/173142922

[2021-02-21 18:36] mozmorris commented on #244
@RodolfoSarkisRocha thanks for the link.

I'm _still_ working from home (🦠) and don't have access to any Android devices to observe the bug myself.

[2021-02-21 18:40] mozmorris commented on #244
@keithpickering I know you've been looking for an update for a while now. Did you ever come up with a workaround?

[2021-02-22 15:21] jdeboi opened #277 "Video toggle on and off"
### Features:

Sorry if this is obvious—I want to be able to toggle the webcam on and off with a button click (like Zoom), and I'm not sure if I'm doing this correctly. Currently I'm selectively rendering <Webcam /> based on a button state, e.g.

[code]

I'm pretty sure that when the <Webcam /> component disappears from the parent component that the stopAndCleanup() method gets called. I just want

[2021-02-22 15:29] mozmorris commented on #277
@jdeboi yes that's exactly how it should work.

A couple of examples using two different methods:
https://codepen.io/mozmorris/pen/PBezdq
https://codepen.io/mozmorris/pen/pojYEPR

Documentation PRs always welcome :-)

[2021-03-02 12:55] #277 closed

[2021-03-04 18:18] Dilawar-maavan opened #278 "Camera view is flipped in reactJS web app"
Thanks for providing a great library.
I'm facing an issue "Mirror image" . I'm using this camera in my reactJS web app. and the camera view is flipped. my movements are showing oppositely on camera.
Is there any way to resolve it?

[2021-03-05 07:10] mozmorris commented on #278
@Dilawar-maavan try setting the `mirrored` prop.

[2021-03-05 07:10] #278 closed

[2021-03-08 13:33] JINU98 commented on #269
Brightness Settings is only applicable when applied directly in the media stream itself.

[code]
when I use react webcam for applying brightness changes no changes in the stream is observed.

[code]

[2021-03-08 13:38] BradPrit09 opened #279 "Video Constraints not applicable"
@mozmorris please look at it.

Brightness Settings is only applicable when applied directly in the media stream itself.

[code]
When I use react webcam for applying brightness changes no changes in the stream is observed.

[code]

_Originally posted by @JINU98 in https://github.com/mozmorris/react-webcam/issues/269#issuecomment-792759280_

[2021-03-09 23:58] ssss1029 commented on #47
I have a video source that does not have a microphone (external camera, plugged in via USB), and when I provide that device's deviceId as a prop, the component does not use it. It falls back to using the `default` camera. Any ideas?

[2021-03-10 08:53] finnmerlett commented on #69
@massimopibiri please if you ever find a solution to a problem, for the love of god just say what it was :sob: I'm also having this issue, would really like to know if you fixed it

[2021-03-19 00:09] BradPrit09 commented on #279
Got around it.

[2021-03-19 00:09] #279 closed

[2021-03-21 04:29] buncis opened #281 "not working with google chrome in macbook pro"
not even the codepen example works https://codepen.io/mozmorris/pen/pojYEPR
it just give blank/white page not even asking for permission

macOS Big Sur
Version 11.2.3
MacBook Pro (13-inch, 2017, Two Thunderbolt 3 ports)
Google Chrome Version 89.0.4389.90 (Official Build) (x86_64)

it works with safari/opera

[2021-03-21 09:17] mozmorris commented on #281
@buncis thanks for posting this. Let's try to figure out why this is happening....

Firstly, could you check your privacy settings in System Preferences. Is your Chrome allowed to access your camera?

<img width="667" alt="Screenshot 2021-03-21 at 09 15 18" src="https://user-images.githubusercontent.com/156303/111899704-22abb200-8a26-11eb-99c8-cb82e351c795.png">

[2021-03-21 09:18] mozmorris commented on #279
@BradPrit09 would you mind posting your solution in case other face the same problem?

[2021-03-21 09:19] BradPrit09 commented on #279
Yes , I will post it @mozmorris

[2021-03-21 09:19] mozmorris commented on #279
Thank you, that would be great :-)

[2021-03-21 09:27] buncis commented on #281
<img width="675" alt="Screen Shot 2021-03-21 at 16 27 24" src="https://user-images.githubusercontent.com/14258779/111899959-53114180-8a62-11eb-8a6f-25043cf91e45.png">

can you confirm if this not working on your mac too? or its just me ?

[2021-03-21 09:29] mozmorris commented on #281
Yes it works fine here.

Next, could you check the console for any errors? (both the Codepen console and your devtools console)

And also try this non-React example: https://webrtc.github.io/samples/src/content/getusermedia/gum/

[2021-03-21 09:31] mozmorris commented on #276
@Aliaksandr-Yanushkevich thank for reporting this and the links, very helpful.

I logged in to the app with the username & password, followed you steps, but for me I can refresh many times without seeing the error.

I wonder if it might be an issue with your device. Perhaps it doesn't like being enabled quickly in succession. Do you see any errors in the console when it fails?

[2021-03-21 09:38] buncis commented on #281
damn you are really good even u work for bug that only happen to me

here is the result for non-react example

from the page

[code]

the console
[code]

[2021-03-21 09:42] mozmorris commented on #281
<img width="1072" alt="Screenshot 2021-03-21 at 09 41 05" src="https://user-images.githubusercontent.com/156303/111900293-99967a00-8a29-11eb-8214-0d9d979e8bfb.png">

<img width="703" alt="Screenshot 2021-03-21 at 09 41 11" src="https://user-images.githubusercontent.com/156303/111900295-9dc29780-8a29-11eb-92b6-a745a92a457f.png">

In Chrome settings -> `Privacy and security` -> `Site settings` -> `C

[2021-03-21 09:46] buncis commented on #281
there is no FaceTime HD Camera in that one, and I have that I my opera I think that is the culprit

[2021-03-21 09:46] mozmorris commented on #281
Aha! That would probably be the issue.

[2021-03-21 09:46] buncis commented on #281
![Screen Shot 2021-03-21 at 16 46 38](https://user-images.githubusercontent.com/14258779/111900403-02e7ae80-8a65-11eb-9d9c-3b1a5931be30.png)

[2021-03-21 09:47] mozmorris commented on #281
Try closing all your other browsers and restarting Chrome.

[2021-03-21 09:50] buncis commented on #281
I've tried that before opening this issue

to fix this you need to toggling your chrome privacy settings in here
![image](https://user-images.githubusercontent.com/14258779/111900500-7a1d4280-8a65-11eb-8ceb-e2da3dccd654.png)

@mozmorris what a fast response ma dude thank you so much for helping me through this!

[2021-03-21 09:50] #281 closed

[2021-03-21 09:51] mozmorris commented on #281
Yay!!

[2021-03-22 09:41] zarakhaliq opened #282 "Cam Mobile View Orientation"
## Please follow the general troubleshooting steps first:

- [ ] Is your app running over HTTPS? (please provide the URL if possible)
- [ ] Have you tried running the demo (https://codepen.io/mozmorris/pen/JLZdoP) on your device?
- [ ] Checked the latest "Can I use" compatbility table? (https://caniuse.com/stream)

### Bug reports:
1)The camera works well when viewed on a computer or laptop, howev

[2021-03-22 15:42] mozmorris commented on #282
@zarakhaliq take a look at this example: https://codepen.io/mozmorris/pen/GRpEQwK

Re: orientation, you would need to detect this in your code and update the constraints. Take a look at https://developer.mozilla.org/en-US/docs/Web/API/Detecting_device_orientation

[2021-03-22 15:46] mozmorris commented on #282
It's worth pointing out that constraints capabilities vary across devices. My suggestion would be to read the constraints guide on MDN and do some testing across devices. Best of luck.

[2021-03-22 15:51] zarakhaliq commented on #282
Thanks, I will try to update the constraints and test on different devices. I'll update over here to maybe help anyone else who is having the same problem.

[2021-03-22 15:52] mozmorris commented on #282
That would be very welcome 👍

[2021-03-23 18:21] BradPrit09 commented on #279
So after reading the below-mentioned article :+1:
https://www.w3.org/TR/mediacapture-streams/_
I found out that I can apply constraints directly to the media stream itself using the _applyConstraints_ method
I am adding a [codepen](https://codepen.io/BradPrit09/pen/dyOjwaW) for the same.

In this current scenario, I did use _applyConstraints_ as a side effect @mozmorris
[code]

[2021-03-25 10:37] Anant-Sahrawat commented on #211
@cvsalaskar21 You need to allow the host application (your website) to use app resources in your WebChromeClient.

[code]

You may refer the documentation [here](https://developer.android.com/reference/android/webkit/WebChromeClient#onPermissionRequest(android.webkit.PermissionRequest))

You'll also need to grant the following permissions :
[code]

I've tried to use this package with above changes

[2021-03-26 12:17] ctrlaltdylan commented on #244
It looks like in a near future Android Chrome version will fix this:

https://issuetracker.google.com/u/0/issues/173142922

Another thread: https://bugs.chromium.org/p/chromium/issues/detail?id=1138823#c25

Here's a really hacky workaround I haven't tested yet: https://gist.github.com/erdgzl/4220083e8f69083c42eda8b1aafb1ad9

Maybe programmatically resizing the window for just a split second will f

[2021-03-26 12:28] ctrlaltdylan commented on #244
From what I can tell, you can't access the `stream` object outside of the context of the `Webcam` class. Which means the workaround can't be used without forking the library.

The other option is to somehow access the `MediaStream` from the video ref object. I'm just not sure if that's possible or not.

Then you could do something like this:

[code]

Excuse the spacing, I'm just pseudocoding right

[2021-03-26 13:38] mozmorris commented on #244
@ctrlaltdylan that should work. And the stream is also passed to the `onUserMedia` callback prop.

[2021-03-26 15:27] guilngou commented on #244
This worked for me : https://github.com/twilio/twilio-video-app-react/issues/355#issuecomment-780368725

[2021-03-27 12:50] ctrlaltdylan commented on #244
This is my final solution, works on my Pixel 4.

I use this little hack after uploading the photo from the `videoRef.current.doScreenshot`. Hopefully it helps y'all!

[code]

[2021-03-29 14:39] rajathongal opened #283 "Unable to view image stored in s3 bucket captured through react-webcam"
- [NO ] Is your app running over HTTPS? (please provide the URL if possible)
- [ YES] Have you tried running the demo (https://codepen.io/mozmorris/pen/JLZdoP) on your device?
- [YES ] Checked the latest "Can I use" compatbility table? (https://caniuse.com/stream)

### Bug reports:

the data returned from react webcam is of object type but when stored in s3 bucket and retrieved it is not possible

[2021-03-29 15:11] mozmorris commented on #283
@rajathongal could you share some sample code how you're using the component?

The `getScreenshot` method returns a base64 string not an object.

[2021-03-30 03:47] rajathongal commented on #283
Thank you for the response, I have resolved the issue, regarding the return method when I consoled i got object.
here is what I did to resolve

[code]

[code]

and now for showing the image

u8 - unint8Array

  const tobase64 = (u8) => {
    return btoa(String.fromCharCode.apply(null, u8));
  }

var base64Flag = `data:${img.ContentType};base64,`;

var imgConverted = tobase64(img.Body)
setImage(bas

[2021-03-30 06:26] #283 closed

[2021-04-09 13:49] mcormier commented on #267
@codercoder12 I am working on a project where we also noticed this issue. The following stack overflow post might be helpful:

https://stackoverflow.com/a/36962250/14550884

It would be nice if cropping and mutating the webcam was handled inside the react-webcam component.

[2021-04-09 19:02] mcormier commented on #267
@mozmorris My goal was to create a square webcam box.  After some investigation I found that declaring the height and width attributes explicitly in conjunction with the objectFit=cover style resolved my issue.

            width={videoConstraints.width} height={videoConstraints.height}
        />`

[2021-04-09 19:23] mozmorris commented on #267
Thanks for the comment @mcormier. Same/similar technique in #275

[2021-04-09 19:24] #267 closed

[2021-04-13 18:50] sunilkhuwal opened #284 "Camera getting hanged in the android 11 based samsung f41 phone"
## Please follow the general troubleshooting steps first:

- [x] Is your app running over HTTPS? (please provide the URL if possible)
- [ ] Have you tried running the demo (https://codepen.io/mozmorris/pen/JLZdoP) on your device?
- [x] Checked the latest "Can I use" compatbility table? (https://caniuse.com/stream)

### Bug reports:

hey Team, I am trying to capture the photo, in the Android 11 bas

[2021-04-15 17:22] itb2k13 commented on #284
@sunilkhuwal are you using Chrome on Android 11?

If so, note there is a more general bug with media access and Chrome on Android 11 being tracked here -> https://issuetracker.google.com/u/1/issues/173142922

Hopefully the Chrome developers will fix the hanging problem in v90 (it is also affecting our project quite badly, and for now we've had to disable access for all Chrome + Android 11 users !)

[2021-04-17 09:47] sunilkhuwal commented on #284
Many of the users using our web app having the issues for the devices used are Chrome and android 11
I'm hoping for the fix to come early, is there any way this can be fixed? Any pointers that i can refer to.

[2021-04-22 14:50] eox2 opened #285 "Get device ID of selected webcam"
Hi

Is it possible to get the device id and name for the webcam that was selected by the constraints I passed?

I had a brief look at the source code, didn't look like it.

Ex. In the read me, first example where you create the WebcamCapture component & store the webcamRef. Is there any way to know which device id was selected based on the constraints passed?

Thanks

[2021-04-23 08:17] mozmorris commented on #285
@eox2 yes, this should be possible.

One can use the `onUserMedia(stream)` or a ref to get access to the stream.

Haven't tested the following, but it _should_ work:

[code]
https://developer.mozilla.org/en-US/docs/Web/API/MediaStream/getVideoTracks

From a video track

[code]
https://developer.mozilla.org/en-US/docs/Web/API/MediaStreamTrack/getConstraints

[2021-04-23 08:31] mozmorris commented on #285
Here's a quick demo: https://developer.mozilla.org/en-US/docs/Web/API/MediaStreamTrack/getSettings

[2021-04-23 13:02] #282 closed

[2021-04-23 13:04] #276 closed

[2021-04-23 15:26] dennis-8 commented on #252
This is how to show both cameras on iPhone:

https://codepen.io/dennis888/pen/poRqQgN

[2021-04-24 01:07] eox2 commented on #285
Perfect thank you!

[2021-04-24 09:44] #285 closed

[2021-05-14 06:54] sedhalsoni opened #288 "Can't record video during voice call error in some devices"
I'm getting error in some devices like Samsung when I have to try to recording video so getting errors in chrome browser like "Can't record video during voice call".

Please check and let me know if anything any solution to it.

![1620974844736](https://user-images.githubusercontent.com/26431895/118233463-8cd55600-b4af-11eb-866a-e52848751ca8.JPEG)

[2021-05-14 09:03] mozmorris commented on #288
@sedhalsoni can you share come code?

[2021-05-15 13:09] jomadjambe commented on #252
@LKay or @mozmorris this package seems to working fine on desktop for me on my local but not having any luck on my iPhone 12? Is the reason for this because my app isn't running over HTTPS?

P.S: I tried implementing the code example provided by @dennis-8 still not working for me

[2021-05-15 13:14] mozmorris commented on #252
Does the demo work? https://codepen.io/mozmorris/pen/JLZdoP

[2021-05-15 13:24] jomadjambe commented on #252
When running on desktop yes the demo does work but running it on my iPhone am getting the following error:
navigator.mediaDevices.enumerateDevices is not a function

[2021-05-18 06:44] tittodominic5 opened #290 "Camera View turns blank in Firefox Browser."
Camera View turns blank when clicking a picture in Firefox Browser.

[2021-05-18 08:07] mozmorris commented on #290
@tittodominic5 thanks for posting this. Can you supply some further information like Firefox version, operating system, your example code?

I'd just tested the demo here on Firefox 88.0.1, MacOS - it's working as expected. I do get the option to view as "picture in picture" but this works as well.

[2021-05-18 08:08] mozmorris commented on #288
@sedhalsoni looking at your photo, I can see the camera is working. Note, recording isn't built into this component - I'm guess that's a feature of your phone.

[2021-05-18 08:13] tittodominic5 commented on #290
@mozmorris yes sure. The firefox version is 88.1.3. The OS is Android 10. Also this same issue exist in other android versions also. We tried in many other devices and issue persists. Also we tried in BrowserStack.